/*built 2019-06-12*/
.section-ar .ar-image {
    background-repeat: no-repeat;
    background-image: url("/cn/mac-pro/images/shared/ar_promo__dm8x1zw05zee_large.jpg");
    background-size: cover
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
    .section-ar .ar-image {
        background-image: url("/cn/mac-pro/images/shared/ar_promo__dm8x1zw05zee_large_2x.jpg")
    }
}

@media only screen and (max-width: 1068px) {
    .section-ar .ar-image {
        background-repeat: no-repeat;
        background-image: url("/cn/mac-pro/images/shared/ar_promo__dm8x1zw05zee_medium.jpg");
        background-size: cover
    }
}

@media only screen and (max-width: 1068px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 1068px) and (min-resolution: 1.5dppx), only screen and (max-width: 1068px) and (min-resolution: 144dpi) {
    .section-ar .ar-image {
        background-image: url("/cn/mac-pro/images/shared/ar_promo__dm8x1zw05zee_medium_2x.jpg")
    }
}
 
@media only screen and (max-width: 735px) {
    .section-ar .ar-image {
        background-repeat: no-repeat;
        background-image: url("/cn/mac-pro/images/shared/ar_promo__dm8x1zw05zee_small.jpg");
        background-size: cover
    }
}

@media only screen and (max-width: 735px) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
    .section-ar .ar-image {
        background-image: url("/cn/mac-pro/images/shared/ar_promo__dm8x1zw05zee_small_2x.jpg")
    }
}