doctype html
head
    meta(charset='utf-8')
    title iMac - Apple(&#x4E2D;&#x56FD;&#x5927;&#x9646;)
    link(href='stylesheets/imac.css', rel='stylesheet', type='text/css')
div.imacad
span(style='color: darkgrey; float: right;padding-right: 75px; ')
div(style='text-align: center; background: rgba(45,45,45,0.98); width:100%;height: 45px;')
    ul.title1_style1
        style.
            a {color:white;text-decoration:none;}
        li
            a(href='')  Apple
        li
            a(href='http://localhost:3000/macmain')  Mac
        li
            a(href='')  iPad
        li
            a(href='')  iPhone
        li
            a(href='')  Watch
        li
            a(href='')  Music
        li
            a(href='')  &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a(href='')  &#x641C;&#x7D22;
        li
            a(href='')  &#x8D2D;&#x7269;&#x8F66;
div(style='text-align: center;')
    img.imac_img(src='images/p1.png')
    br
    span.text1 Mac &#x7684;&#x80CC;&#x540E;&#xFF0C;&#x662F;&#x6211;&#x4EEC;&#x59CB;&#x7EC8;&#x4E0D;&#x53D8;&#x7684;&#x7406;&#x60F3;&#xFF0C;&#x90A3;&#x5C31;&#x662F;&#x5C06;&#x5F3A;&#x5927;&#x800C;&#x6613;&#x7528;&#x7684;&#x79D1;&#x6280;&#x878D;&#x5165;&#x4F18;&#x96C5;&#x7684;&#x4E00;&#x4F53;&#x5F0F;&#x8BBE;&#x8BA1;&#xFF0C;&#x4EE4;&#x53F0;&#x5F0F;&#x7535;&#x8111;&#x7684;&#x4F7F;&#x7528;&#x4F53;&#x9A8C;&#x7115;&#x7136;&#x6539;&#x89C2;&#x3002;
    br
    | &#x9;&#x9;&#x9;&#x65B0;&#x6B3E; iMac&#x5C06;&#x8FD9;&#x4E00;&#x6982;&#x5FF5;&#x5E26;&#x4E0A;&#x4E86;&#x66F4;&#x9AD8;&#x5883;&#x754C;&#xFF0C;&#x5B83;&#x63D0;&#x4F9B;&#x66F4;&#x591A;&#x7EDD;&#x5999;&#x7684;&#x5DE5;&#x5177;&#xFF0C;&#x8BA9;&#x4F60;&#x80FD;&#x968F;&#x5FC3;&#x6240;&#x6B32;&#x81EA;&#x5728;&#x53D1;&#x6325;&#x3002;&#x65B0;&#x4E00;&#x4EE3;&#x5904;&#x7406;&#x5668;&#x3001;&#x66F4;&#x5FEB;&#x7684;&#x5185;&#x5B58;
    br
    | &#x9;&#x9;&#x9;&#x975E;&#x51E1;&#x7684;&#x56FE;&#x5F62;&#x5904;&#x7406;&#x5668;&#xFF0C;&#x4E00;&#x5207;&#x90FD;&#x5728; Mac &#x8FC4;&#x4ECA;&#x6700;&#x660E;&#x4EAE;&#x3001;&#x6700;&#x7EDA;&#x4E3D;&#x7684;&#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;&#x4E0A;&#x5927;&#x653E;&#x5F02;&#x5F69;&#xFF0C;&#x5F3A;&#x52BF;&#x878D;&#x4E8E;&#x4E00;&#x8EAB;&#xFF0C;&#x5F3A;&#x5927;&#x66F4;&#x4E0A;&#x4E00;&#x5C42;&#x3002;
br
br
br
div(style='background-color: #fafafa;')
    div(style='margin-left: 438px;float: left;')
        span(style='font-size: 45px; text-align: center;color: #cfcfcf;')
            | &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
            br
        span(style='font-size: 45px;')
            | &#x6293;&#x4EBA;&#x773C;&#x7403;
            br
            | &#x66F4;&#x5F15;&#x4EBA;&#x503E;&#x5FC3;&#x3002;
    div
        br
        img.imac_img2(src='images/p2.png')
br
br
br
div
    div(style='text-align: center;')
        span(style='font-size: 25px;') &#x4EAE;&#x4E3D;&#x591A;&#x5F69;&#xFF0C;&#x8BA9;&#x4EBA;&#x76EE;&#x4E0D;&#x8F6C;&#x775B;&#x3002;
        span(style='color: white;') &#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;&#x4E00;
        br
        span(style='font-size: 18px; ')
            | iMac &#x4E0A;&#x7684;&#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;&#x5206;&#x8FA8;&#x7387;&#x9AD8;&#x8FBE; 4K &#x6216; 5K&#xFF0C;&#x7EDA;&#x4E3D;&#x593A;&#x76EE;&#xFF0C;&#x4EE4;&#x4EBA;&#x60CA;&#x53F9;&#x3002;10 &#x4EBF;&#x8272;&#x5F69;&#x663E;&#x793A;&#xFF0C;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x52A0;&#x4E0A; 500 &#x5C3C;&#x7279;&#x7684;&#x4EAE;&#x5EA6;&#xFF0C;&#x8BA9;&#x753B;&#x9762;&#x8DC3;&#x7136;&#x4E8E;&#x5C4F;&#x5E55;&#x4E4B;&#x4E0A;&#xFF0C;&#x6587;&#x5B57;&#x663E;&#x793A;&#x6E05;&#x6670;&#x9510;&#x5229;&#xFF0C;&#x70ED;&#x64AD;&#x5F71;&#x89C6;&#x6108;&#x52A0;&#x8D4F;&#x5FC3;
            br
            | &#x60A6;&#x76EE;
            | &#x9;&#x9;&#x9;&#x9;&#xFF0C;&#x800C;&#x56FE;&#x50CF;&#x548C;&#x6E38;&#x620F;&#x7684;&#x7CBE;&#x7F8E;&#x7EC6;&#x8282;&#x4E5F;&#x7EA4;&#x6BEB;&#x6BD5;&#x73B0;&#x3002;&#x6BEB;&#x65E0;&#x7591;&#x95EE;&#xFF0C; &#x8FD9;&#x662F; Mac &#x4E0A;&#x8FC4;&#x4ECA;&#x6700;&#x51FA;&#x8272;&#x7684;&#x89C6;
            br
            | &#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;&#x3002;
    div
        img.imac_img3(src='images/p3.png')
div
    br
    img.imac_img4(src='images/p4.png')
div
    br
    img.imac_img5(src='images/p5.png')
.ul_style2
    br
    br
    ol
        li
            span
                | Apple &#x4E8E; 2019 &#x5E74; 2 &#x6708;&#x4F7F;&#x7528;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.2GHz &#x516D;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;
                | &#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.6GHz &#x516B;&#x6838; Intel Core i9 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27
                br
                | &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF1B;&#x4EE5;&#x53CA;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 3.6GHz &#x56DB;&#x6838;
                | &#x9;&#x9;&#x9; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 4.2GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;
                | &#x9;&#x9;&#x9; &#x548C; 64GB RAM &#x7684; 27 &#x82F1;&#x5BF8;
                br
                |  iMac &#x7CFB;&#x7EDF;&#x8FDB;&#x884C;&#x4E86;&#x6B64;&#x9879;&#x6D4B;&#x8BD5;&#x3002;Autodesk Maya 2019 &#x6D4B;&#x8BD5;&#x4F7F;&#x7528;&#x4E00;&#x4E2A; 399.6MB &#x7684;&#x573A;&#x666F;&#x8FDB;&#x884C;&#x3002;&#x6027;&#x80FD;&#x6D4B;&#x8BD5;&#x5728;&#x7279;&#x5B9A;&#x7535;&#x8111;&#x7CFB;&#x7EDF;&#x4E0A;&#x8FDB;&#x884C;&#xFF0C;
                | &#x9;&#x9;&#x9; &#x80FD;&#x591F;&#x5927;&#x81F4;&#x53CD;&#x6620; iMac &#x7684;&#x6027;&#x80FD;&#x3002;
        li
            span
                | Apple &#x4E8E; 2019 &#x5E74; 2 &#x6708;&#x4F7F;&#x7528;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.2GHz &#x516D;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x3001;Radeon Pro Vega 20 &#x56FE;&#x5F62;&#x5904;&#x7406;&#x5668; (4GB VRAM)
                | &#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907;
                br
                |  3.6GHz &#x516B;&#x6838; Intel Core i9 &#x5904;&#x7406;&#x5668;&#x3001;Radeon Pro Vega 48 &#x56FE;&#x5F62;&#x5904;&#x7406;&#x5668; (8GB VRAM) &#x548C; 64GB RAM
                | &#x9;&#x9;&#x9;&#x7684; 27 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF1B;&#x4EE5;&#x53CA;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 3.6GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x3001;
                br
                | Radeon Pro 560 &#x56FE;&#x5F62;&#x5904;&#x7406;&#x5668; (4GB VRAM) &#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;
                | &#x9;&#x9;&#x9;&#xFF0C;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 4.2GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x3001;Radeon Pro 580 &#x56FE;&#x5F62;&#x5904;&#x7406;&#x5668; (8GB VRAM)
                br
                |  &#x548C; 64GB RAM &#x7684; 27 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#x8FDB;&#x884C;&#x4E86;&#x6B64;&#x9879;&#x6D4B;&#x8BD5;&#x3002;
                | &#x9;&#x9;&#x9;&#x6D4B;&#x8BD5;&#x4F7F;&#x7528; DaVinci Resolve Studio 15 &#x8FDB;&#x884C;&#xFF0C;&#x91C7;&#x7528; 14 &#x79CD;&#x5E38;&#x7528;&#x7279;&#x6548;&#x548C;&#x4E00;&#x4E2A;&#x5206;&#x8FA8;&#x7387;&#x4E3A; 3840x2160&#x3001;&#x5E27;&#x7387;&#x4E3A; 24 fps &#x7684; 10 &#x79D2;&#x8D85;&#x9AD8;&#x6E05;&#x9879;&#x76EE;&#x3002;
                br
                | &#x6027;&#x80FD;&#x6D4B;&#x8BD5;&#x5728;&#x7279;&#x5B9A;&#x7535;&#x8111;&#x7CFB;&#x7EDF;&#x4E0A;&#x8FDB;&#x884C;&#xFF0C;
                | &#x9;&#x9;&#x9;&#x80FD;&#x591F;&#x5927;&#x81F4;&#x53CD;&#x6620; iMac &#x7684;&#x6027;&#x80FD;&#x3002;
        li
            span
                | Apple &#x4E8E; 2019 &#x5E74; 2 &#x6708;&#x4F7F;&#x7528;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.2GHz &#x516D;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.6GHz &#x516B;&#x6838; Intel Core i9
                | &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27
                br
                | &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF1B;&#x4EE5;&#x53CA;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 3.6GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 4.2GHz &#x56DB;&#x6838;
                | &#x9;&#x9;&#x9;  Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27 &#x82F1;&#x5BF8;
                br
                |  iMac &#x7CFB;&#x7EDF;&#x8FDB;&#x884C;&#x4E86;&#x6B64;&#x9879;&#x6D4B;&#x8BD5;&#x3002;&#x6D4B;&#x8BD5;&#x4F7F;&#x7528; Logic Pro X 10.4.4 &#x8FDB;&#x884C;&#xFF0C;&#x91C7;&#x7528;&#x4E00;&#x4E2A;&#x5305;&#x542B; 200 &#x4E2A; Sculpture &#x5408;&#x6210;&#x5668;&#x97F3;&#x8F68;&#x7684;&#x9879;&#x76EE;
                | &#x9;&#x9;&#x9;  &#x3002;&#x64AD;&#x653E;&#x65F6;&#x542F;&#x7528;&#x5355;&#x4E2A;&#x97F3;&#x8F68;&#xFF0C;&#x76F4;&#x81F3;&#x4E2D;&#x592E;&#x5904;&#x7406;&#x5668;&#x8D85;&#x8F7D;&#x4E3A;&#x6B62;&#x3002;&#x6027;&#x80FD;&#x6D4B;&#x8BD5;&#x5728;&#x7279;&#x5B9A;&#x7535;
                br
                | &#x8111;&#x7CFB;&#x7EDF;&#x4E0A;&#x8FDB;&#x884C;&#xFF0C;&#x80FD;&#x591F;&#x5927;&#x81F4;&#x53CD;&#x6620; iMac &#x7684;&#x6027;&#x80FD;&#x3002;
        li
            span
                | Apple &#x4E8E; 2019 &#x5E74; 2 &#x6708;&#x4F7F;&#x7528;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.2GHz &#x516D;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.6GHz &#x516B;&#x6838;
                | Intel Core i9 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27
                br
                | &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF1B;&#x4EE5;&#x53CA;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 3.6GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;
                | &#x9;&#x9;&#x9; &#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 4.2GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27 &#x82F1;&#x5BF8;
                br
                |  iMac &#x7CFB;&#x7EDF;&#x8FDB;&#x884C;&#x4E86;&#x6B64;&#x9879;&#x6D4B;&#x8BD5;&#x3002;&#x6D4B;&#x8BD5;&#x4F7F;&#x7528; Mathematica v11.3.0 &#x8FDB;&#x884C;&#xFF0C;&#x91C7;&#x7528;&#x5185;&#x7F6E;&#x57FA;&#x51C6;
                | &#x9;&#x9;&#x9;  WolframMark&#x3002;&#x6027;&#x80FD;&#x6D4B;&#x8BD5;&#x5728;&#x7279;&#x5B9A;&#x7535;&#x8111;&#x7CFB;&#x7EDF;&#x4E0A;&#x8FDB;&#x884C;&#xFF0C;&#x80FD;&#x591F;&#x5927;&#x81F4;&#x53CD;&#x6620; iMac &#x7684;&#x6027;&#x80FD;&#x3002;
        li
            span
                | Apple &#x4E8E; 2019 &#x5E74; 2 &#x6708;&#x4F7F;&#x7528;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.2GHz &#x516D;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.6GHz &#x516B;&#x6838;
                | Intel Core i9 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27
                br
                | &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF1B;&#x4EE5;&#x53CA;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 3.6GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;
                | &#x9;&#x9;&#x9; &#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 4.2GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27 &#x82F1;&#x5BF8;
                br
                |  iMac &#x7CFB;&#x7EDF;&#x8FDB;&#x884C;&#x4E86;&#x6B64;&#x9879;&#x6D4B;&#x8BD5;&#x3002;&#x6D4B;&#x8BD5;&#x4F7F;&#x7528; Adobe Photoshop CC 2019 20.0.3 &#x8FDB;&#x884C;&#xFF0C;
                | &#x9;&#x9;&#x9; &#x91C7;&#x7528;&#x7ED3;&#x6676;&#x5316;&#x3001;&#x70B9;&#x72B6;&#x5316;&#x3001;&#x5F84;&#x5411;&#x6A21;&#x7CCA;&#x3001;&#x5F62;&#x72B6;&#x6A21;&#x7CCA;&#x3001;&#x8499;&#x5C18;&#x4E0E;&#x5212;&#x75D5;&#x4EE5;&#x53CA;&#x4E2D;&#x95F4;&#x503C;&#x6EE4;&#x955C;&#x3002;&#x6027;&#x80FD;&#x6D4B;&#x8BD5;&#x5728;&#x7279;&#x5B9A;&#x7535;&#x8111;&#x7CFB;&#x7EDF;&#x4E0A;
                br
                | &#x8FDB;&#x884C;&#xFF0C;&#x80FD;&#x591F;&#x5927;&#x81F4;&#x53CD;&#x6620; iMac &#x7684;&#x6027;&#x80FD;&#x3002;
        li
            span
                | Apple &#x4E8E; 2019 &#x5E74; 2 &#x6708;&#x4F7F;&#x7528;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.2GHz &#x516D;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;&#x8BD5;&#x751F;&#x4EA7;&#x7684;&#x914D;&#x5907; 3.6GHz &#x516B;&#x6838;
                | Intel Core i9 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27
                br
                |  &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF1B;&#x4EE5;&#x53CA;&#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 3.6GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 32GB RAM &#x7684; 21.5 &#x82F1;&#x5BF8; iMac &#x7CFB;&#x7EDF;&#xFF0C;
                | &#x9;&#x9;&#x9; &#x5DF2;&#x4E0A;&#x5E02;&#x7684;&#x914D;&#x5907; 4.2GHz &#x56DB;&#x6838; Intel Core i7 &#x5904;&#x7406;&#x5668;&#x548C; 64GB RAM &#x7684; 27 &#x82F1;&#x5BF8;
                br
                | iMac &#x7CFB;&#x7EDF;&#x8FDB;&#x884C;&#x4E86;&#x6B64;&#x9879;&#x6D4B;&#x8BD5;&#x3002;&#x6D4B;&#x8BD5;&#x4F7F;&#x7528; Adobe Lightroom Classic CC 8.2 &#x8FDB;&#x884C;&#xFF0C;
                | &#x9;&#x9;&#x9; &#x91C7;&#x7528; 780 &#x5F20; RAW &#x56FE;&#x50CF;&#x3002;&#x6027;&#x80FD;&#x6D4B;&#x8BD5;&#x5728;&#x7279;&#x5B9A;&#x7535;&#x8111;&#x7CFB;&#x7EDF;&#x4E0A;&#x8FDB;&#x884C;&#xFF0C;&#x80FD;&#x591F;&#x5927;&#x81F4;&#x53CD;&#x6620; iMac &#x7684;&#x6027;&#x80FD;&#x3002;
div(style='background-color: #F2F2F2;text-align: center;')
    br
    .list
        ul.ul_style1
            li
                span.text Apple Store &#x5546;&#x5E97;
            li
                a.ul_text1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
            li
                a.ul_text1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
            li
                a.ul_text1(href='') Today at Apple
            li
                a.ul_text1(href='') Apple &#x590F;&#x4EE4;&#x8425;
            li
                a.ul_text1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
            li
                a.ul_text1(href='') Apple Store App
            li
                a.ul_text1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
            li
                a.ul_text1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
            li
                a.ul_text1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
            li
                a.ul_text1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
            li
                a.ul_text1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
    .list
        ul.ul_style1
            li
                span.text &#x6559;&#x80B2;&#x5E94;&#x7528;
            li
                a.ul_text1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
            li
                a.ul_text1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
            br
            li
                span.text &#x5546;&#x52A1;&#x5E94;&#x7528;
            li
                a.ul_text1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
            li
                a.ul_text1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
    .list
        ul.ul_style1
            li
                span.text &#x8D26;&#x6237;
            li
                a.ul_text1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
            li
                a.ul_text1(href='') Apple Store &#x8D26;&#x6237;
            li
                a.ul_text1(href='') iCloud.com
            li
                a.ul_text1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
            li
                a.ul_text1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
            li
                a.ul_text1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
            li
                a.ul_text1(href='') &#x9690;&#x79C1;
            li
                a.ul_text1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
    .list
        ul.ul_style1
            li
                span.text &#x5173;&#x4E8E; Apple
            li
                a.ul_text1(href='') Newsroom
            li
                a.ul_text1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
            li
                a.ul_text1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
            li
            li
                a.ul_text1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
            li
                a.ul_text1(href='') &#x6D3B;&#x52A8;
            li
                a.ul_text1(href='') &#x8054;&#x7CFB; Apple
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
            li
                span.none
                    | none
                    span
div(style='text-align: center;color: gray;background-color: #F2F2F2;font-size: 10px;')
    br
    br
    br
    span(style='font-size: 10px;')
        | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;
        a(href='', style='color: #0000FF;') &#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;
        | &#x9;&#x9;&#x53CA;
        a(href='', style='color: #0000FF;') &#x66F4;&#x591A;&#x95E8;&#x5E97;
        | &#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
        span
            hr
            span
                | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                span
