doctype html
head
    meta(charset='utf-8')
    title &#x901A;&#x8FC7; Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;&#x4EE5;&#x65E7;&#x6362;&#x65B0; - &#x6559;&#x80B2; - Apple (&#x4E2D;&#x56FD;&#x5927;&#x9646;)
    link(href='stylesheets/machg.css', rel='stylesheet', type='text/css')
.zhuye
    marquee(class='mac主页广告')
.bg1
    br
    br
    br
    br
    br
    .w1
        | Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
    .w2
        | &#x628A;&#x4F60;&#x624B;&#x91CC;&#x73B0;&#x6709;&#x7684;&#x8BBE;&#x5907;&#xFF0C;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x53D8;&#x6210;&#x4F60;&#x5FC3;&#x91CC;&#x60F3;&#x8981;&#x7684;&#x3002;
    br
    .w3
        br
        | &#x4F60;&#x53EF;&#x4EE5;&#x7528;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x8BBE;&#x5907;&#x6765;&#x6362;&#x8D2D;&#xFF0C;&#x5E76;&#x5728;&#x8D2D;&#x4E70;&#x65B0;&#x8BBE;&#x5907;&#x65F6;&#x4EAB;&#x53D7;&#x6298;&#x62B5;&#x4F18;&#x60E0;&#x3002;&#x5982;&#x679C;&#x4F60;&#x7684;&#x8BBE;&#x5907;&#x4E0D;&#x7B26;&#x5408;
        br
        | &#x6298;&#x62B5;&#x6761;&#x4EF6;&#xFF0C;&#x6211;&#x4EEC;&#x4F1A;&#x514D;&#x8D39;&#x5C06;&#x5176;&#x56DE;&#x6536;&#x5904;&#x7406;&#x3002;&#x4E0D;&#x8BBA;&#x8BBE;&#x5907;&#x578B;&#x53F7;&#x6216;&#x72B6;&#x51B5;&#x5982;&#x4F55;&#xFF0C;&#x6211;&#x4EEC;&#x90FD;&#x53EF;&#x4EE5;&#x7269;&#x5C3D;&#x5176;&#x7528;&#xFF0C;&#x8BA9;&#x4F60;
        br
        | &#x548C;&#x5730;&#x7403;&#x90FD;&#x4ECE;&#x4E2D;&#x53D7;&#x76CA;&#x3002;
.bg0
    br
    br
    br
    br
    br
    br
    .w1
        | &#x9009;&#x62E9;&#x4F60;&#x7684;&#x8BBE;&#x5907;&#x4EE5;&#x83B7;&#x5F97;&#x6298;&#x62B5;&#x4F30;&#x4EF7;&#x3002;
    br
    br
    br
    br
    table.juzhong(style='margin: 0 auto;', border='0', cellspacing='', cellpadding='')
        tr
            td
                input.button1(type='image', src='images/hg4.png')
            td(width='80px')
            td
                input.button1(type='image', src='images/hg5.png')
            td(width='80px')
            td
                input.button1(type='image', src='images/hg6.png')
            td(width='80px')
            td
                input.button1(type='image', src='images/hg7.png')
            td(width='80px')
            td
                input.button1(type='image', src='images/hg8.png')
.bg2
    br
    br
    br
    br
    br
    br
    br
    br
    .w2
        | &#x5F00;&#x5F00;&#x5FC3;&#x5FC3;&#x544A;&#x522B;&#x4F60;&#x7684;&#x4EB2;&#x7231;&#x7684;
        br
        | &#x8001;&#x8BBE;&#x5907;&#x3002;
    br
    br
    br
    br
    br
    div(style='font-size:45px ; text-align: left;font-weight: bolder; margin: 0px 150px; ')
        | &#x4F30;&#x4EF7;&#x591A;&#x5C11;,&#x4F60;&#x9A6C;&#x4E0A;&#x5C31;
        br
        | &#x77E5;&#x9053;&#x3002;
    div(style='font-size: 20px; text-align: left; margin: 0px 150px;')
        | &#x53EA;&#x9700;&#x56DE;&#x7B54;&#x51E0;&#x4E2A;&#x5173;&#x4E8E;&#x4F60;&#x8BBE;&#x5907;&#x7684;&#x95EE;&#x9898;&#x3002;&#x6211;&#x4EEC;&#x5C31;&#x4F1A;&#x6839;
        br
        | &#x9;&#x9;&#x9;&#x636E;&#x4F60;&#x63D0;&#x4F9B;&#x7684;&#x4FE1;&#x606F;&#xFF0C;&#x7ED9;&#x51FA;&#x6709;&#x7ADE;&#x4E89;&#x529B;&#x7684;&#x6298;&#x62B5;&#x4F30;&#x4EF7;&#x3002;
        br
        | &#x9;&#x9;&#x9;&#x6216;&#x8005;&#xFF0C;&#x4F60;&#x4E5F;&#x53EF;&#x4EE5;&#x9009;&#x62E9;&#x514D;&#x8D39;&#x8BA9;&#x6211;&#x4EEC;&#x5C06;&#x5176;&#x56DE;&#x6536;&#x5904;
        br
        | &#x9;&#x9;&#x9;&#x7406;&#x3002;
    div(style='font-size:450px ; text-align: left; margin: 2000px 150px 0px 1000px ; ')
        div(style='font-size: 45px; text-align: ;font-weight: bolder;')
            | &#x4F60;&#x7684;&#x6570;&#x636E;,&#x603B;&#x80FD;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x4FDD;&#x6301;&#x5B89;&#x5168;
        div(style='font-size: 20px; text-align: ;')
            | &#x5728;&#x4F60;&#x4EA4;&#x51FA;&#x4F60;&#x7684;&#x8BBE;&#x5907;&#x4E4B;&#x524D;&#xFF0C;&#x6211;&#x4EEC;&#x5C06;&#x5411;&#x4F60;&#x5C55;&#x793A;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x5982;&#x4F55;&#x64E6;&#x9664;&#x4F60;&#x7684;&#x6570;&#x636E;&#xFF0C;&#x4EE5;&#x786E;&#x4FDD;&#x4F60;&#x7684;&#x4FE1;&#x606F;&#x4E0D;&#x4F1A;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x6CC4;&#x6F0F;&#x7ED9;&#x522B;&#x4EBA;&#x3002;&#x5982;&#x679C;&#x5B83;&#x662F; Apple &#x4EA7;&#x54C1;&#xFF0C;&#x90A3;&#x5C31;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x66F4;&#x52A0;&#x7B80;&#x5355;&#x4E86;&#x3002;&#x53EA;&#x9700;&#x4F7F;&#x7528; iCloud &#x6216;&#x65F6;&#x95F4;&#x673A;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x5668;&#xFF0C;&#x51E0;&#x4E2A;&#x6B65;&#x9AA4;&#x5373;&#x53EF;&#x79FB;&#x52A8;&#x6240;&#x6709;&#x5185;&#x5BB9;&#x3002;
    br
    br
    br
    br
    br
    br
    .bg4
        .w2 &#x6211;&#x4EEC;&#x7684;&#x5730;&#x7403;&#xFF0C;&#x4E5F;&#x80FD;&#x4ECE;&#x4E2D;&#x53D7;&#x76CA;&#x3002;
        .w3
            | &#x4F60;&#x53EF;&#x80FD;&#x5DF2;&#x7ECF;&#x4E0D;&#x518D;&#x9700;&#x8981;&#x4F60;&#x7684;&#x8BBE;&#x5907;&#xFF0C;&#x4F46;&#x5B83;&#x4ECD;&#x7136;&#x6709;&#x53D1;&#x6325;&#x4F59;&#x70ED;&#x7684;&#x53EF;&#x80FD;&#x3002;&#x5982;&#x679C;&#x8BBE;&#x5907;&#x72B6;&#x51B5;&#x826F;&#x597D;&#xFF0C;&#x6211;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x4EEC;&#x4F1A;&#x5E2E;&#x5B83;&#x5BFB;&#x627E;&#x4E00;&#x4F4D;&#x65B0;&#x4E3B;&#x4EBA;&#x3002;&#x5982;&#x679C;&#x8BBE;&#x5907;&#x72B6;&#x51B5;&#x4E0D;&#x4F73;&#xFF0C;&#x6211;&#x4EEC;&#x4F1A;&#x5C06;&#x5B83;&#x4EA4;&#x7ED9;&#x6211;&#x4EEC;&#x7684;&#x56DE;&#x6536;&#x5408;&#x4F5C;&#x4F19;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x4F34;&#x3002;&#x8FD9;&#x6837;&#x5C31;&#x53EF;&#x4EE5;&#x8282;&#x7701;&#x66F4;&#x591A;&#x5B9D;&#x8D35;&#x7684;&#x6750;&#x6599;&#xFF0C;&#x51CF;&#x5C11;&#x5BF9;&#x5730;&#x7403;&#x8D44;&#x6E90;&#x7684;&#x5F00;&#x91C7;&#x3002;
            br
            br
            | &#x5982;&#x679C;&#x8BBE;&#x5907;&#x662F; iPhone&#xFF0C;&#x6211;&#x4EEC;&#x751A;&#x81F3;&#x53EF;&#x4EE5;&#x5C06;&#x5176;&#x4EA4;&#x7ED9;&#x6211;&#x4EEC;&#x7684;&#x62C6;&#x89E3;&#x673A;&#x5668;&#x4EBA;Daisy&#xFF0C;&#x5B83;&#x53EF;&#x4EE5;&#x9AD8;
            br
            | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x6548;&#x5730;&#x56DE;&#x6536;&#x8BBE;&#x5907;&#x4E2D;&#x7684;&#x8D44;&#x6E90;&#x3002;
            br
            a(href='', style='text-decoration: none;')
                br
                | &#x4E86;&#x89E3;Daisy&#x4E0E;&#x73AF;&#x5883; &gt;
        br
        br
        br
        br
        br
        br
        br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
.bg3
.bg5
    br
    br
    br
    br
    br
    .w2
        | &#x53EF;&#x4EE5;&#x8BA9;&#x4EBA;&#x6765;&#x53D6;&#xFF0C;&#x4E5F;&#x53EF;&#x4EE5;&#x81EA;&#x5DF1;&#x6765;&#x9001;&#x3002;
    br
    br
    .w3
        | &#x6298;&#x62B5;&#x4F60;&#x7684;&#x8BBE;&#x5907;&#x4E0E;&#x8D2D;&#x4E70;&#x4E00;&#x90E8;&#x65B0;&#x8BBE;&#x5907;&#x4E00;&#x6837;&#x7B80;&#x5355;&#x3002;&#x4F60;&#x7684;&#x65B0;&#x4EA7;&#x54C1;&#x53D1;&#x8D27;&#x540E;&#x7684; 2 &#x4E2A;&#x5DE5;&#x4F5C;&#x65E5;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x5185;&#xFF0C;&#x6211;&#x4EEC;&#x7684;&#x6298;&#x62B5;&#x670D;&#x52A1;&#x5408;&#x4F5C;&#x4F19;&#x4F34;&#x4F1A;&#x5411;&#x4F60;&#x53D1;&#x9001;&#x77ED;&#x4FE1;&#xFF0C;&#x544A;&#x77E5;&#x4F60;&#x5982;&#x4F55;&#x9884;&#x7EA6;&#x627F;&#x8FD0;&#x5546;&#x4E0A;&#x95E8;&#x53D6;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x8D70;&#x4F60;&#x7684;&#x6298;&#x62B5;&#x8BBE;&#x5907;&#x3002;&#x6B64;&#x5916;&#xFF0C;&#x4F60;&#x4E5F;&#x53EF;&#x4EE5;&#x5C06;&#x65E7;&#x8BBE;&#x5907;&#x4EB2;&#x81EA;&#x9001;&#x5230; Apple Store &#x96F6;&#x552E;&#x5E97;&#xFF0C;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x6211;&#x4EEC;&#x4F1A;&#x63D0;&#x4F9B;&#x5373;&#x65F6;&#x6298;&#x62B5;&#x4F18;&#x60E0;&#x6765;&#x5E2E;&#x4F60;&#x4EE5;&#x65E7;&#x6362;&#x65B0;&#xFF0C;&#x6216;&#x5C06;&#x4F60;&#x7684;&#x8BBE;&#x5907;&#x4EA4;&#x7ED9;&#x6211;&#x4EEC;&#x7684;&#x56DE;&#x6536;&#x673A;
        br
        | &#x9;&#x9;&#x9;&#x9;&#x6784;&#x3002;
        br
        a(href='', style='text-decoration: none;')
            br
            | &#x67E5;&#x627E;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97; &gt;
        br
        br
        .w4
            | &#x8BF7;&#x6CE8;&#x610F;&#xFF1A;&#x7535;&#x8111;&#x6298;&#x62B5;&#x670D;&#x52A1;&#x76EE;&#x524D;&#x4EC5;&#x4E8E;&#x5728;&#x7EBF;&#x63D0;&#x4F9B;&#x3002;
div(style='font-size: 25px; font-weight: bolder; padding: 0px 0px 0px 60px;')
    br
    | &#x9;&#x9;&#x5E38;&#x89C1;&#x95EE;&#x9898;&#x89E3;&#x7B54;&#x9;
    br
    br
.second2
    .last
        ul.ul_2(style='list-style:none;')
            li
                span.te8 Apple Store &#x5546;&#x5E97;
            li
                a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
            li
                a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
            li
                a.pick_1(href='') Today at Apple
            li
                a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
            li
                a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
            li
                a.pick_1(href='') Apple Store App
            li
                a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
            li
                a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
            li
                a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
            li
                a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
            li
                a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
    .last
        ul.ul_2(style='list-style:none;')
            li
                span.te8 &#x6559;&#x80B2;&#x5E94;&#x7528;
            li
                a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
            li
                a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
            li
                a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
            li
                a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
            li
                a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
    .last
        ul.ul_2(style='list-style:none;')
            li
                span.te8 &#x8D26;&#x6237;
            li
                a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
            li
                a.pick_1(href='') Apple Store &#x8D26;&#x6237;
            li
                a.pick_1(href='') iCloud.com
            li
                a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
            li
                a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
            li
                a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
            li
                a.pick_1(href='') &#x9690;&#x79C1;
            li
                a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
    .last
        ul.ul_2(style='list-style:none;')
            li
                span.te8 &#x5173;&#x4E8E; Apple
            li
                a.pick_1(href='') Newsroom
            li
                a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
            li
                a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
            li
                a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
            li
                a.pick_1(href='') &#x6D3B;&#x52A8;
            li
                a.pick_1(href='') &#x8054;&#x7CFB; Apple
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
            li
                span.none
                    br
                    span
    span.te7
        | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
        span
            hr
            span.te7
                | Copyright  2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                span
                    div
