doctype html
head
    meta(charset='utf-8')
    title Mac - &#x673A;&#x578B;&#x6BD4;&#x8F83; - Apple(&#x4E2D;&#x56FD;&#x5927;&#x9646;)
    link(href='stylesheets/macjx.css', rel='stylesheet', type='text/css')
.zhuye
    marquee(class='mac主页广告')
br
br
br
br
br
.t1
    | Mac &#x673A;&#x578B;&#x6BD4;&#x8F83;
br
.t2
    a(href='', style='text-decoration: none;') &#x67E5;&#x770B;&#x6240;&#x6709;&#x673A;&#x578B; &gt;
br
br
br
br
.t2
    | &#x5982;&#x9700;&#x83B7;&#x5F97;&#x9009;&#x8D2D;&#x5E2E;&#x52A9;,
    a(href='', style='text-decoration: none;') &#x8BF7;&#x8054;&#x7CFB;&#x6211;&#x4EEC;
    | &#x3002;
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='', cellpadding='')
    tr
        th
            select.head
                option.xx(value='') MacBook Air (&#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;)
                option.xx(value='') MacBook Pro 13 &#x82F1;&#x5BF8;&#xFF08;2 &#x9739;&#x96F3; 3&#x7AEF;&#x53E3;&#xFF09;
                option.xx(value='') MacBook Pro 13 &#x82F1;&#x5BF8;&#xFF08;3 &#x9739;&#x96F3; 3&#x7AEF;&#x53E3;)
                option.xx(value='') MacBook Pro 15 &#x82F1;&#x5BF8;
        th
            select.head
                option.xx(value='') MacBook Air (&#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;)
                option.xx(value='') MacBook Pro 13 &#x82F1;&#x5BF8;&#xFF08;2 &#x9739;&#x96F3; 3&#x7AEF;&#x53E3;&#xFF09;
                option.xx(value='') MacBook Pro 13 &#x82F1;&#x5BF8;&#xFF08;3 &#x9739;&#x96F3; 3&#x7AEF;&#x53E3;)
                option.xx(value='') MacBook Pro 15 &#x82F1;&#x5BF8;
        th
            select.head
                option.xx(value='') MacBook Air (&#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
                option.xx(value='') MacBook Pro 13 &#x82F1;&#x5BF8;&#xFF08;2 &#x9739;&#x96F3; 3&#x7AEF;&#x53E3;&#xFF09;
                option.xx(value='') MacBook Pro 13 &#x82F1;&#x5BF8;&#xFF08;3 &#x9739;&#x96F3; 3&#x7AEF;&#x53E3;)
                option.xx(value='') MacBook Pro 15 &#x82F1;&#x5BF8;
    tr
        td.bk
            img(src='images/JX1.jpg')
        td.bk
            img(src='images/JX1.jpg')
        td.bk
            img(src='images/JX1.jpg')
    tr
        td
            select.head
                option.xx(value='') &#x94F6;&#x8272;
                option.xx(value='') &#x6DF1;&#x7A7A;&#x7070;
                option.xx(value='') &#x91D1;&#x8272;
        td
            select.head
                option.xx(value='') &#x94F6;&#x8272;
                option.xx(value='') &#x6DF1;&#x7A7A;&#x7070;
                option.xx(value='') &#x91D1;&#x8272;
        td
            select.head
                option.xx(value='') &#x94F6;&#x8272;
                option.xx(value='') &#x6DF1;&#x7A7A;&#x7070;
                option.xx(value='') &#x91D1;&#x8272;
    tr
        td RMB 8899&#x8D77;
        td RMB 8899&#x8D77;
        td RMB 8899&#x8D77;
    tr
        td
            input.button(type='button', name='', style=' width:70px; height:30px; background:cornflowerblue; border-radius:10px 10px 10px 10px ;color: ghostwhite ;', value='购买', ;='')
        td
            input.button(type='button', name='', style=' width:70px; height:30px; background:cornflowerblue; border-radius:10px 10px 10px 10px ; color: ghostwhite ;', value='购买', ;='')
        td
            input.button(type='button', name='', style=' width:70px; height:30px; background:cornflowerblue; border-radius:10px 10px 10px 10px ; color: ghostwhite ;', value='购买', ;='')
.b2
    | &#x901F;&#x89C8;
hr
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='', cellpadding='')
    tr
        th.head
            .big
                | 13.3&#x82F1;&#x5BF8;
        td
            br
        th.head
            .big
                | 13.3&#x82F1;&#x5BF8;
        td
            br
        th.head
            .big
                | 13.3&#x82F1;&#x5BF8;
    tr
        td.mid &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
        td
            br
        td.mid &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
        td
            br
        td.mid &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
    tr
        td
            br
            br
            br
        td
            br
            br
            br
        td
            br
            br
            br
        td
            br
            br
            br
    tr
        th.head
            .big
                | &#x53CC;&#x6838;
        td
            br
        th.head
            .big
                | &#x56DB;&#x6838;
        td
            br
        th.head
            .big
                | &#x56DB;&#x6838;
    tr
        td.mid Intel Core i5 &#x5904;&#x7406;&#x5668;
        td
            br
        td.mid Intel Core i7 &#x5904;&#x7406;&#x5668;
        td
            br
        td.mid Intel Core i7 &#x5904;&#x7406;&#x5668;
    tr
        td
            br
            br
            br
        td
            br
            br
            br
        td
            br
            br
            br
        td
            br
            br
            br
    tr
        th.head
            .big
                | 16G
        td
            br
        th.head
            .big
                | 16G
        td
            br
        th.head
            .big
                | 16G
    tr
        td.mid &#x5185;&#x5B58;
        td
            br
        td.mid &#x5185;&#x5B58;
        td
            br
        td.mid &#x5185;&#x5B58;
    td
        br
        br
        br
    td
        br
        br
        br
    td
        br
        br
        br
    td
        br
        br
        br
    tr
        th.head
            .big
                | 12&#x5C0F;&#x65F6;
        td
            br
        th.head
            .big
                | 10&#x5C0F;&#x65F6;
        td
            br
        th.head
            .big
                | 10&#x5C0F;&#x65F6;
    tr
        td.mid &#x7535;&#x6C60;&#x4F7F;&#x7528;&#x65F6;&#x95F4;
        td
            br
        td.mid &#x7535;&#x6C60;&#x4F7F;&#x7528;&#x65F6;&#x95F4;
        td
            br
        td.mid &#x7535;&#x6C60;&#x4F7F;&#x7528;&#x65F6;&#x95F4;
    td
        br
        br
        br
    td
        br
        br
        br
    td
        br
        br
        br
    td
        br
        br
        br
    tr
        td
            img(src='images/jx2.png', width='250', height='200')
        td
            br
        td
            img(src='images/jx3.png', width='400', height='200')
        td
            br
        td
            img(src='images/jx3.png', width='400', height='200')
.b2 &#x5904;&#x7406;&#x5668;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280', height='')  1.6GHz &#x53CC;&#x6838; Intel Core i5
        td.zuo1(width='280', height='') 1.4GHz &#x53CC;&#x6838; Intel Core i5
        td.zuo2(width='280', height='')  2.4GHz &#x53CC;&#x6838; Intel Core i5
    tr
        td.zuo(width='280', height='')
            br
        td.zuo1(width='280', height='')   1.7GHz 4 &#x6838; Intel Core i7
        td.zuo2(width='280', height='')   2.8GHz 4 &#x6838; Intel Core i7
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280', height='')    Turbo Boost &#x6700;&#x9AD8;&#x53EF;&#x8FBE; 3.6GHz
        td.zuo1(width='280', height='')    Turbo Boost &#x6700;&#x9AD8;&#x53EF;&#x8FBE; 4.5GHz
        td.zuo2(width='280', height='')    Turbo Boost &#x6700;&#x9AD8;&#x53EF;&#x8FBE; 4.7GHz
br
br
br
br
.b2 &#x56FE;&#x5F62;&#x5904;&#x7406;&#x5668;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280', height='')  Intel UHD Graphics 617
        td.zuo1(width='280', height='')  Intel Iris Plus Graphics 645
        td.zuo2(width='280', height='')  Intel Iris Plus Graphics 645
br
br
br
br
.b2 &#x5185;&#x5B58;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280', height='')  8G
        td.zuo1(width='280', height='')  8G
        td.zuo2(width='280', height='')  8G
    tr
        td.zuo(width='280', height='')  16G
        td.zuo1(width='280', height='')  16G
        td.zuo2(width='280', height='')  16G
br
br
br
br
.b2 &#x5B58;&#x50A8;&#x8BBE;&#x5907;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280', height='')   128G &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo1(width='280', height='')   128G &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo2(width='280', height='')   256G &#x56FA;&#x6001;&#x786C;&#x76D8;
    tr
        td.zuo(width='280', height='')   256G &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo1(width='280', height='')   256G &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo2(width='280', height='')   512GB &#x56FA;&#x6001;&#x786C;&#x76D8;
    tr
        td.zuo(width='280', height='')   512GB &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo1(width='280', height='')   512GB &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo2(width='280', height='')  1TB &#x56FA;&#x6001;&#x786C;&#x76D8;
    tr
        td.zuo(width='280', height='')  1TB &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo1(width='280', height='')  1TB &#x56FA;&#x6001;&#x786C;&#x76D8;
        td.zuo2(width='280', height='')  2TB &#x56FA;&#x6001;&#x786C;&#x76D8;
.b2 &#x663E;&#x793A;&#x5C4F;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.juzhong(width='280', height='') 13.3 &#x82F1;&#x5BF8; LED &#x80CC;&#x5149;&#x663E;&#x793A;&#x5C4F;,&#x91C7;&#x7528; IPS &#x6280;&#x672F;
        td.juzhong(width='280', height='')  13.3 &#x82F1;&#x5BF8;  LED &#x80CC;&#x5149;&#x663E;&#x793A;&#x5C4F;
        td.juzhong(width='280', height='')  13.3 &#x82F1;&#x5BF8;  LED &#x80CC;&#x5149;&#x663E;&#x793A;&#x5C4F;
    tr
        td.zuo(width='280px', height='30')  &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
        td.zuo1(width='280px', height='30') &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
        td.zuo2(width='280px', height='30')  &#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;
    tr
        td.zuo(width='280', height='30')  2560 x 1600 &#x50CF;&#x7D20;
        td.zuo1(width='280', height='30')  2560 x 1600 &#x50CF;&#x7D20;
        td.zuo2(width='280', height='30')  2560 x 1600 &#x50CF;&#x7D20;
    tr
        td.zuo(width='280', height='30')  400 &#x5C3C;&#x7279;&#x4EAE;&#x5EA6;
        td.zuo1(width='280', height='30')  500 &#x5C3C;&#x7279;&#x4EAE;&#x5EA6;
        td.zuo2(width='280', height='30')  500 &#x5C3C;&#x7279;&#x4EAE;&#x5EA6;
    tr
        td.zuo(width='280', height='30') &#x5168;&#x6807;&#x51C6;&#x8272;&#x57DF; (sRGB)
        td.zuo1(width='280', height='30')  &#x5E7F;&#x8272;&#x57DF; (P3)
        td.zuo2(width='280', height='30')   &#x5E7F;&#x8272;&#x57DF; (P3)
    tr
        td.zuo(width='280', height='30') &#x539F;&#x5F69;&#x663E;&#x793A;&#x6280;&#x672F;
        td.zuo1(width='280', height='30')  &#x539F;&#x5F69;&#x663E;&#x793A;&#x6280;&#x672F;
        td.zuo2(width='280', height='30')  &#x539F;&#x5F69;&#x663E;&#x793A;&#x6280;&#x672F;
.b2 &#x5C3A;&#x5BF8;&#x548C;&#x91CD;&#x91CF;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='', cellpadding='')
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &#x9AD8;&#x5EA6;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &#x9AD8;&#x5EA6;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &#x9AD8;&#x5EA6;
    tr
        td
        td
        td
    tr
        td.zuo(width='80px', height='0')  0.41&ndash;1.56 &#x5398;&#x7C73; (0.16&ndash;0.61 &#x82F1;&#x5BF8;)
        td.zuo1(width='80px', height='0') 1.49 &#x5398;&#x7C73; (0.59 &#x82F1;&#x5BF8;)
        td.zuo2(width='80px', height='0')  1.49 &#x5398;&#x7C73; (0.59 &#x82F1;&#x5BF8;)
    tr
        td
            br
        td
            br
            br
        td
            br
    tr
        td.zuo(width='80px', height='0')
            div(style='font-weight: bold;') &#x5BBD;&#x5EA6;
        td.zuo1(width='80px', height='0')
            div(style='font-weight: bold;') &#x5BBD;&#x5EA6;
        td.zuo2(width='80px', height='0')
            div(style='font-weight: bold;') &#x5BBD;&#x5EA6;
    tr
        td.zuo(width='80px', height='0')  30.41 &#x5398;&#x7C73; (11.97 &#x82F1;&#x5BF8;)
        td.zuo1(width='80px', height='0')  30.41 &#x5398;&#x7C73; (11.97 &#x82F1;&#x5BF8;)
        td.zuo2(width='80px', height='0')  30.41 &#x5398;&#x7C73; (11.97 &#x82F1;&#x5BF8;)
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='80px', height='0')
            div(style='font-weight: bold;') &#x6DF1;&#x5EA6;
        td.zuo1(width='80px', height='0')
            div(style='font-weight: bold;') &#x6DF1;&#x5EA6;
        td.zuo2(width='80px', height='0')
            div(style='font-weight: bold;') &#x6DF1;&#x5EA6;
    tr
        td.zuo(width='80px', height='0') 21.24 &#x5398;&#x7C73; (8.36 &#x82F1;&#x5BF8;)
        td.zuo1(width='80px', height='0')  21.24 &#x5398;&#x7C73; (8.36 &#x82F1;&#x5BF8;)
        td.zuo2(width='80px', height='0')  21.24 &#x5398;&#x7C73; (8.36 &#x82F1;&#x5BF8;)
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='80px', height='0')
            div(style='font-weight: bold;') &#x91CD;&#x91CF;
        td.zuo1(width='80px', height='0')
            div(style='font-weight: bold;') &#x91CD;&#x91CF;
        td.zuo2(width='80px', height='0')
            div(style='font-weight: bold;') &#x91CD;&#x91CF;
    tr
        td.zuo(width='80px', height='0') 1.25 &#x5343;&#x514B; (2.75 &#x78C5;) (8.36 &#x82F1;&#x5BF8;)
        td.zuo1(width='80px', height='0')  1.37 &#x5343;&#x514B; (3.02 &#x78C5;)
        td.zuo2(width='80px', height='0')  1.37 &#x5343;&#x514B; (3.02 &#x78C5;)
br
br
br
br
.b2 &#x6444;&#x50CF;&#x5934;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') 720p FaceTime &#x9AD8;&#x6E05;&#x6444;&#x50CF;&#x5934;
        td.zuo1(width='280px', height='0')  720p FaceTime &#x9AD8;&#x6E05;&#x6444;&#x50CF;&#x5934;
        td.zuo2(width='280px', height='0')  720p FaceTime &#x9AD8;&#x6E05;&#x6444;&#x50CF;&#x5934;
br
br
br
br
.b2 &#x97F3;&#x9891;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') &#x7ACB;&#x4F53;&#x58F0;&#x626C;&#x58F0;&#x5668;
        td.zuo1(width='280px', height='0')  &#x9AD8;&#x52A8;&#x6001;&#x8303;&#x56F4;&#x7684;&#x7ACB;&#x4F53;&#x58F0;&#x626C;&#x58F0;&#x5668;
        td.zuo2(width='280px', height='0')  &#x9AD8;&#x52A8;&#x6001;&#x8303;&#x56F4;&#x7684;&#x7ACB;&#x4F53;&#x58F0;&#x626C;&#x58F0;&#x5668;
    tr
        td.zuo(width='280px', height='0') &#x4E09;&#x4E2A;&#x9EA6;&#x514B;&#x98CE;
        td.zuo1(width='280px', height='0') &#x4E09;&#x4E2A;&#x9EA6;&#x514B;&#x98CE;
        td.zuo2(width='280px', height='0')  &#x4E09;&#x4E2A;&#x9EA6;&#x514B;&#x98CE;
    tr
        td.zuo(width='280px', height='0') 3.5 &#x6BEB;&#x7C73;&#x8033;&#x673A;&#x63D2;&#x5B54;
        td.zuo1(width='280px', height='0')  3.5 &#x6BEB;&#x7C73;&#x8033;&#x673A;&#x63D2;&#x5B54;
        td.zuo2(width='280px', height='0')  3.5 &#x6BEB;&#x7C73;&#x8033;&#x673A;&#x63D2;&#x5B54;
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
br
br
br
br
.b2 &#x952E;&#x76D8;&#x548C;&#x89E6;&#x63A7;&#x677F;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') &#x5168;&#x5C3A;&#x5BF8;&#x80CC;&#x5149;&#x952E;&#x76D8;&#xFF0C;&#x914D;&#x5907;&#xFF1A;
        td.zuo1(width='280px', height='0')  &#x5168;&#x5C3A;&#x5BF8;&#x80CC;&#x5149;&#x952E;&#x76D8;&#xFF0C;&#x914D;&#x5907;&#xFF1A;
        td.zuo2(width='280px', height='0')  &#x5168;&#x5C3A;&#x5BF8;&#x80CC;&#x5149;&#x952E;&#x76D8;&#xFF0C;&#x914D;&#x5907;&#xFF1A;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') 78 &#x4E2A; (ANSI) &#x6216; 79 &#x4E2A; (ISO) &#x6309;&#x952E;&#xFF0C;&#x5305;&#x62EC; 12 &#x4E2A;&#x529F;&#x80FD;&#x952E;&#x548C; 4 &#x4E2A;&#x65B9;&#x5411;&#x952E;
        td.zuo1(width='280px', height='0')  64 &#x4E2A; (ANSI) &#x6216; 65 &#x4E2A; (ISO) &#x6309;&#x952E;&#xFF0C;&#x5305;&#x62EC; 4 &#x4E2A;&#x65B9;&#x5411;&#x952E;
        td.zuo2(width='280px', height='0')  64 &#x4E2A; (ANSI) &#x6216; 65 &#x4E2A; (ISO) &#x6309;&#x952E;&#xFF0C;&#x5305;&#x62EC; 4 &#x4E2A;&#x65B9;&#x5411;&#x952E;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')  &#x914D;&#x5907;&#x96C6;&#x6210;&#x5F0F;&#x89E6;&#x63A7; ID &#x4F20;&#x611F;&#x5668;&#x7684;&#x89E6;&#x63A7;&#x680F;
        td.zuo2(width='280px', height='0')  &#x914D;&#x5907;&#x96C6;&#x6210;&#x5F0F;&#x89E6;&#x63A7; ID &#x4F20;&#x611F;&#x5668;&#x7684;&#x89E6;&#x63A7;&#x680F;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x73AF;&#x5883;&#x5149;&#x4F20;&#x611F;&#x5668;
        td.zuo1(width='280px', height='0')  &#x73AF;&#x5883;&#x5149;&#x4F20;&#x611F;&#x5668;
        td.zuo2(width='280px', height='0')  &#x73AF;&#x5883;&#x5149;&#x4F20;&#x611F;&#x5668;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x529B;&#x5EA6;&#x89E6;&#x63A7;&#x677F;&#x53EF;&#x5B9E;&#x73B0;&#x7CBE;&#x51C6;&#x5149;&#x6807;&#x63A7;&#x5236;&#x548C;&#x538B;&#x529B;&#x611F;&#x5E94;&#x529F;&#x80FD;&#xFF1B;&#x652F;&#x6301;&#x7528;&#x529B;&#x957F;&#x6309;&#x3001;&#x52A0;&#x901F;&#x63A7;&#x5236;&#x3001;&#x538B;&#x529B;&#x611F;&#x5E94;&#x7ED8;&#x56FE;&#x548C;&#x591A;&#x70B9;&#x89E6;&#x63A7;&#x624B;&#x52BF;
        td.zuo1(width='280px', height='0')  &#x529B;&#x5EA6;&#x89E6;&#x63A7;&#x677F;&#x53EF;&#x5B9E;&#x73B0;&#x7CBE;&#x51C6;&#x5149;&#x6807;&#x63A7;&#x5236;&#x548C;&#x538B;&#x529B;&#x611F;&#x5E94;&#x529F;&#x80FD;&#xFF1B;&#x652F;&#x6301;&#x7528;&#x529B;&#x957F;&#x6309;&#x3001;&#x52A0;&#x901F;&#x63A7;&#x5236;&#x3001;&#x538B;&#x529B;&#x611F;&#x5E94;&#x7ED8;&#x56FE;&#x548C;&#x591A;&#x70B9;&#x89E6;&#x63A7;&#x624B;&#x52BF;
        td.zuo2(width='280px', height='0')  &#x529B;&#x5EA6;&#x89E6;&#x63A7;&#x677F;&#x53EF;&#x5B9E;&#x73B0;&#x7CBE;&#x51C6;&#x5149;&#x6807;&#x63A7;&#x5236;&#x548C;&#x538B;&#x529B;&#x611F;&#x5E94;&#x529F;&#x80FD;&#xFF1B;&#x652F;&#x6301;&#x7528;&#x529B;&#x957F;&#x6309;&#x3001;&#x52A0;&#x901F;&#x63A7;&#x5236;&#x3001;&#x538B;&#x529B;&#x611F;&#x5E94;&#x7ED8;&#x56FE;&#x548C;&#x591A;&#x70B9;&#x89E6;&#x63A7;&#x624B;&#x52BF;
br
br
br
br
.b2 &#x65E0;&#x7EBF;&#x8FDE;&#x63A5;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') 802.11ac Wi-Fi
        td.zuo1(width='280px', height='0')  802.11ac Wi-Fi
        td.zuo2(width='280px', height='0')  802.11ac Wi-Fi
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x84DD;&#x7259; 4.2 &#x65E0;&#x7EBF;&#x6280;&#x672F;
        td.zuo1(width='280px', height='0')  &#x84DD;&#x7259; 4.2 &#x65E0;&#x7EBF;&#x6280;&#x672F;
        td.zuo2(width='280px', height='0')  &#x84DD;&#x7259; 4.2 &#x65E0;&#x7EBF;&#x6280;&#x672F;
br
br
br
br
.b2 &#x7AEF;&#x53E3;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x4E24;&#x4E2A;&#x96F7;&#x96F3; 3 (USB-C) &#x7AEF;&#x53E3;
        td.zuo1(width='280px', height='0')  &#x4E24;&#x4E2A;&#x96F7;&#x96F3; 3 (USB-C) &#x7AEF;&#x53E3;
        td.zuo2(width='280px', height='0')  &#x56DB;&#x4E2A;&#x96F7;&#x96F3; 3 (USB-C) &#x7AEF;&#x53E3;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo1(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
        td.zuo2(width='280px', height='0')
            div(style='font-weight: bold;') &mdash;
br
br
br
br
.b2 &#x5B89;&#x5168;&#x9A8C;&#x8BC1;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') &#x89E6;&#x63A7; ID
        td.zuo1(width='280px', height='0')  &#x89E6;&#x63A7; ID
        td.zuo2(width='280px', height='0')  &#x89E6;&#x63A7; ID
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x96C6;&#x6210;&#x5F0F;&#x89E6;&#x63A7; ID &#x4F20;&#x611F;&#x5668;
        td.zuo1(width='280px', height='0')  &#x914D;&#x5907;&#x96C6;&#x6210;&#x5F0F;&#x89E6;&#x63A7; ID &#x4F20;&#x611F;&#x5668;&#x7684;&#x89E6;&#x63A7;&#x680F;
        td.zuo2(width='280px', height='0')  &#x914D;&#x5907;&#x96C6;&#x6210;&#x5F0F;&#x89E6;&#x63A7; ID &#x4F20;&#x611F;&#x5668;&#x7684;&#x89E6;&#x63A7;&#x680F;
br
br
br
br
.b2 &#x89C6;&#x9891;&#x901A;&#x8BDD;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') FaceTime &#x89C6;&#x9891;&#x901A;&#x8BDD;
        td.zuo1(width='280px', height='0')  FaceTime &#x89C6;&#x9891;&#x901A;&#x8BDD;
        td.zuo2(width='280px', height='0')  FaceTime &#x89C6;&#x9891;&#x901A;&#x8BDD;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x53EF;&#x901A;&#x8FC7; Wi-Fi &#x4E0E;&#x4EFB;&#x4F55;&#x652F;&#x6301; FaceTime &#x901A;&#x8BDD;&#x529F;&#x80FD;&#x7684;&#x8BBE;&#x5907;&#x53D1;&#x8D77;&#x89C6;&#x9891;&#x901A;&#x8BDD;
        td.zuo1(width='280px', height='0')  &#x53EF;&#x901A;&#x8FC7; Wi-Fi &#x4E0E;&#x4EFB;&#x4F55;&#x652F;&#x6301; FaceTime &#x901A;&#x8BDD;&#x529F;&#x80FD;&#x7684;&#x8BBE;&#x5907;&#x53D1;&#x8D77;&#x89C6;&#x9891;&#x901A;&#x8BDD;
        td.zuo2(width='280px', height='0')  &#x53EF;&#x901A;&#x8FC7; Wi-Fi &#x4E0E;&#x4EFB;&#x4F55;&#x652F;&#x6301; FaceTime &#x901A;&#x8BDD;&#x529F;&#x80FD;&#x7684;&#x8BBE;&#x5907;&#x53D1;&#x8D77;&#x89C6;&#x9891;&#x901A;&#x8BDD;
br
br
br
br
.b2 Siri
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') &#x4F7F;&#x7528;&#x8BED;&#x97F3;&#x53D1;&#x9001;&#x4FE1;&#x606F;&#x3001;&#x8BBE;&#x7F6E;&#x63D0;&#x9192;&#x4E8B;&#x9879;&#x4EE5;&#x53CA;&#x6267;&#x884C;&#x66F4;&#x591A;&#x64CD;&#x4F5C;
        td.zuo1(width='280px', height='0')  &#x4F7F;&#x7528;&#x8BED;&#x97F3;&#x53D1;&#x9001;&#x4FE1;&#x606F;&#x3001;&#x8BBE;&#x7F6E;&#x63D0;&#x9192;&#x4E8B;&#x9879;&#x4EE5;&#x53CA;&#x6267;&#x884C;&#x66F4;&#x591A;&#x64CD;&#x4F5C;
        td.zuo2(width='280px', height='0')  &#x4F7F;&#x7528;&#x8BED;&#x97F3;&#x53D1;&#x9001;&#x4FE1;&#x606F;&#x3001;&#x8BBE;&#x7F6E;&#x63D0;&#x9192;&#x4E8B;&#x9879;&#x4EE5;&#x53CA;&#x6267;&#x884C;&#x66F4;&#x591A;&#x64CD;&#x4F5C;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x901A;&#x8FC7;&#x53EA;&#x54CD;&#x5E94;&#x4F60;&#x8BED;&#x97F3;&#x7684;&ldquo;&#x563F; Siri&rdquo;&#x5373;&#x53EF;&#x514D;&#x63D0;&#x6FC0;&#x6D3B;
        td.zuo1(width='280px', height='0')  &#x901A;&#x8FC7;&#x53EA;&#x54CD;&#x5E94;&#x4F60;&#x8BED;&#x97F3;&#x7684;&ldquo;&#x563F; Siri&rdquo;&#x5373;&#x53EF;&#x514D;&#x63D0;&#x6FC0;&#x6D3B;
        td.zuo2(width='280px', height='0')  &#x901A;&#x8FC7;&#x53EA;&#x54CD;&#x5E94;&#x4F60;&#x8BED;&#x97F3;&#x7684;&ldquo;&#x563F; Siri&rdquo;&#x5373;&#x53EF;&#x514D;&#x63D0;&#x6FC0;&#x6D3B;
br
br
br
br
.b2 &#x7535;&#x6E90;&#x548C;&#x7535;&#x6C60;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0') &#x6700;&#x957F;&#x53EF;&#x8FBE; 12 &#x5C0F;&#x65F6;&#x7684;&#x65E0;&#x7EBF;&#x7F51;&#x7EDC;&#x6D4F;&#x89C8;
        td.zuo1(width='280px', height='0')  &#x6700;&#x957F;&#x53EF;&#x8FBE; 10 &#x5C0F;&#x65F6;&#x7684;&#x65E0;&#x7EBF;&#x7F51;&#x7EDC;&#x6D4F;&#x89C8;
        td.zuo2(width='280px', height='0')  &#x6700;&#x957F;&#x53EF;&#x8FBE; 10 &#x5C0F;&#x65F6;&#x7684;&#x65E0;&#x7EBF;&#x7F51;&#x7EDC;&#x6D4F;&#x89C8;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x6700;&#x957F;&#x53EF;&#x8FBE; 13 &#x5C0F;&#x65F6;&#x7684; iTunes &#x5F71;&#x7247;&#x64AD;&#x653E;
        td.zuo1(width='280px', height='0')  &#x6700;&#x957F;&#x53EF;&#x8FBE; 10 &#x5C0F;&#x65F6;&#x7684; iTunes &#x5F71;&#x7247;&#x64AD;&#x653E;
        td.zuo2(width='280px', height='0')  &#x6700;&#x957F;&#x53EF;&#x8FBE; 10 &#x5C0F;&#x65F6;&#x7684; iTunes &#x5F71;&#x7247;&#x64AD;&#x653E;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') &#x96C6;&#x6210;&#x5F0F; 49.9 &#x74E6;&#x65F6;&#x9502;&#x805A;&#x5408;&#x7269;&#x7535;&#x6C60;
        td.zuo1(width='280px', height='0')  &#x96C6;&#x6210;&#x5F0F; 58.2 &#x74E6;&#x65F6;&#x9502;&#x805A;&#x5408;&#x7269;&#x7535;&#x6C60;
        td.zuo2(width='280px', height='0')  &#x96C6;&#x6210;&#x5F0F; 58.0 &#x74E6;&#x65F6;&#x9502;&#x805A;&#x5408;&#x7269;&#x7535;&#x6C60;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') 30W USB&#x2011;C &#x7535;&#x6E90;&#x9002;&#x914D;&#x5668;
        td.zuo1(width='280px', height='0')  61W USB&#x2011;C &#x7535;&#x6E90;&#x9002;&#x914D;&#x5668;
        td.zuo2(width='280px', height='0')  61W USB&#x2011;C &#x7535;&#x6E90;&#x9002;&#x914D;&#x5668;
    tr
        td
            br
        td
            br
        td
            br
    tr
        td.zuo(width='280px', height='0') USB-C &#x7535;&#x6E90;&#x9002;&#x914D;&#x5668;&#x7AEF;&#x53E3;
        td.zuo1(width='280px', height='0')  USB-C &#x7535;&#x6E90;&#x9002;&#x914D;&#x5668;&#x7AEF;&#x53E3;
        td.zuo2(width='280px', height='0')  USB-C &#x7535;&#x6E90;&#x9002;&#x914D;&#x5668;&#x7AEF;&#x53E3;
br
br
br
br
.b2 &#x4E2D;&#x56FD;&#x80FD;&#x6548;&#x6807;&#x8BC6;
hr
br
br
br
table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
    tr
        td.zuo(width='280px', height='0')
            img(src='images/jx4.jpg')
        td.zuo1(width='280px', height='0')
            img(src='images/jx4.jpg')
        td.zuo2(width='280px', height='0')
            img(src='images/jx4.jpg')
br
br
br
br
.bk1
    br
    br
    br
    table.juzhong(style='margin: 0 auto;', border='0', cellspacing='10', cellpadding='')
        tr
            td.juzhong(width='280px', height='0')
                img(src='images/jx5.jpg')
            td.juzhong(width='280px', height='0')
                img(src='images/jx5.jpg')
            td.juzhong(width='280px', height='0')
                img(src='images/jx5.jpg')
        tr
            td.juzhong(width='280px', height='0')
                .b3 MacBook Air
            td.juzhong(width='280px', height='0')
                .b3 MacBook Pro 13 &#x82F1;&#x5BF8;
            td.juzhong(width='280px', height='0')
                .b3 MacBook Pro 13 &#x82F1;&#x5BF8;
        tr
            td.juzhong(width='280px', height='0')
                .b3 (&#x89C6;&#x7F51;&#x819C;&#x663E;&#x793A;&#x5C4F;)
            td.juzhong1(width='280px', height='0')
                .b3 (&#x4E24;&#x4E2A;&#x96F7;&#x96F3; 3 &#x7AEF;&#x53E3;)
            td.juzhong(width='280px', height='0')
                .b3 (&#x56DB;&#x4E2A;&#x96F7;&#x96F3; 3 &#x7AEF;&#x53E3;)
        tr
            td
                br
            td
                br
            td
                br
        tr
            td.juzhong(width='280px', height='0')
                a(href='', style='text-decoration: none;') &#x6280;&#x672F;&#x89C4;&#x683C;&gt;&amp;nbsp &amp;nbsp &amp;nbsp &amp;nbsp
                a(href='', style='text-decoration: none;') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&gt;
            td.juzhong(width='280px', height='0')
                a(href='', style='text-decoration: none;') &#x6280;&#x672F;&#x89C4;&#x683C;&gt;&amp;nbsp &amp;nbsp &amp;nbsp &amp;nbsp
                a(href='', style='text-decoration: none;') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&gt;
            td.juzhong(width='280px', height='0')
                a(href='', style='text-decoration: none;') &#x6280;&#x672F;&#x89C4;&#x683C;&gt;&amp;nbsp &amp;nbsp &amp;nbsp &amp;nbsp
                a(href='', style='text-decoration: none;') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&gt;
    br
    br
    br
    br
.bk2
    table.zuo3(style='margin: 0px 0px 0px 200px ;', border='0', cellspacing='10', cellpadding='')
        tr
            td.wei 1.&#x5C4F;&#x5E55;&#x5C3A;&#x5BF8;&#x4E3A;&#x5BF9;&#x89D2;&#x7EBF;&#x957F;&#x5EA6;&#x3002;
        tr
            td.wei 2.1GB = 10 &#x4EBF;&#x5B57;&#x8282;&#xFF0C;1TB = 1 &#x4E07;&#x4EBF;&#x5B57;&#x8282;&#xFF1B;&#x683C;&#x5F0F;&#x5316;&#x4E4B;&#x540E;&#x7684;&#x5B9E;&#x9645;&#x5BB9;&#x91CF;&#x53EF;&#x80FD;&#x8F83;&#x5C0F;&#x3002;
        tr
            td.wei 3.&#x5C3A;&#x5BF8;&#x548C;&#x91CD;&#x91CF;&#x4F9D;&#x914D;&#x7F6E;&#x548C;&#x5236;&#x9020;&#x5DE5;&#x827A;&#x7684;&#x4E0D;&#x540C;&#x53EF;&#x80FD;&#x6709;&#x6240;&#x5DEE;&#x5F02;&#x3002;
        tr
            td.wei
                | 4.&#x7535;&#x6C60;&#x4F7F;&#x7528;&#x65F6;&#x95F4;&#x4F9D;&#x4F7F;&#x7528;&#x60C5;&#x51B5;&#x548C;&#x8BBE;&#x7F6E;&#x7684;&#x4E0D;&#x540C;&#x53EF;&#x80FD;&#x6709;&#x6240;&#x5DEE;&#x5F02;&#xFF0C;&#x8BE6;&#x60C5;&#x8BF7;&#x53C2;&#x9605;
                a(href='', style='text-decoration: none;color: gainsboro;') apple.com/cn/batteries&#x3002;
    div
        hr
        br
        br
        br
        .second2
            .last
                ul.ul_2
                    li
                        span.te8 Apple Store &#x5546;&#x5E97;
                    li
                        a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
                    li
                        a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
                    li
                        a.pick_1(href='') Today at Apple
                    li
                        a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
                    li
                        a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
                    li
                        a.pick_1(href='') Apple Store App
                    li
                        a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
                    li
                        a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                    li
                        a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
                    li
                        a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
                    li
                        a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
            .last
                ul.ul_2
                    li
                        span.te8 &#x6559;&#x80B2;&#x5E94;&#x7528;
                    li
                        a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
                    li
                        a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
                    li
                        a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
                    li
                        a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
                    li
                        a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
            .last
                ul.ul_2
                    li
                        span.te8 &#x8D26;&#x6237;
                    li
                        a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
                    li
                        a.pick_1(href='') Apple Store &#x8D26;&#x6237;
                    li
                        a.pick_1(href='') iCloud.com
                    li
                        a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
                    li
                        a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
                    li
                        a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
                    li
                        a.pick_1(href='') &#x9690;&#x79C1;
                    li
                        a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
            .last
                ul.ul_2
                    li
                        span.te8 &#x5173;&#x4E8E; Apple
                    li
                        a.pick_1(href='') Newsroom
                    li
                        a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
                    li
                        a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
                    li
                        a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
                    li
                        a.pick_1(href='') &#x6D3B;&#x52A8;
                    li
                        a.pick_1(href='') &#x8054;&#x7CFB; Apple
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
                    li
                        span.none
                            | none
                            span
        br
        br
        br
        span.te7
            | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
            span
                hr
                span.te7
                    | Copyright  2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                    span
                        div
