head
    meta(charset='utf-8')
    title Mac - Apple(&#x4E2D;&#x56FD;&#x5927;&#x9646;)
    link(href='stylesheets/macamin.css', rel='stylesheet', type='text/css')
.gg
    marquee.macad &#x5E7F;&#x544A;
#first
    ul.title
        li
            .first_li
                a.pick(href='http://localhost:3000/macair')
                    img.mac_img(src='images/macbookair__ej39du0gz4uq_large.svg')
                    span.text Macbook Air
                br
                span.xin &#x65B0;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/macbookpro__enfip2k1cxkm_large.svg')
                    span.text Macbook Pro
                br
                span.xin &#x65B0;&#x6B3E;
        li
            .first_li
                a.pick(href='http://localhost:3000/imac')
                    img.mac_img(src='images/imac__dkswmjfqeziq_large.svg')
                    br
                    span.text IMac
                br
                span.old &#x65E7;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/imac_pro__eer4bfwlutme_large.svg')
                    br
                    span.text IMac Pro
                br
                span.old &#x65E7;&#x6B3E;
        li
            .first_li
                a.pick(href='http://localhost:3000/macpro')
                    img.mac_img(src='images/mac_pro__bn92faz71k6a_large.svg')
                    br
                    span.text Mac Pro
                br
                span.xin &#x65B0;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/macmini__c6u0it831y0y_large.svg')
                    br
                    span.text Mac mini
                br
                span.old &#x65E7;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/mac_comp__ee2pokmcxh26_large.svg')
                    br
                    span.text &#x673A;&#x578B;&#x6BD4;&#x8F83;
                br
                span.old &#x65E7;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/pro_display_xdr__do0vjpny1kqe_large.svg')
                    span.text Pro Display XDR
                br
                span.xin &#x65B0;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/mac_acc__fy6vtx5eqoyi_large.svg')
                    br
                    span.text &#x914D;&#x4EF6;
                br
                span.old &#x65E7;&#x6B3E;
        li
            .first_li
                a.pick(href='')
                    img.mac_img(src='images/mac_osx__dntc9ef2limq_large.svg')
                    br
                    span.text Mojave
                br
                span.old &#x65E7;&#x6B3E;
br
.second
    br
    br
    br
    br
    span.te1 &#x628A;&#x63E1;&#x6700;&#x540E;&#x826F;&#x673A;&#xFF0C;&#x4EE5;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x4E3A;&#x9AD8;&#x6821;&#x751F;&#x6D3B;&#x8D2D;&#x4E70; Mac&#x3002;
    br
    span.te2 &#x9009;&#x8D2D; Mac &#x6700;&#x591A;&#x53EF;&#x7701; RMB 1600&#xFF0C;&#x66F4;&#x6709; Beats &#x8033;&#x673A;&#x642D;&#x914D;&#x5176;&#x4E2D;&#x3002;&#x4F18;&#x60E0;&#x6D3B;&#x52A8;&#x5C06;&#x4E8E; 9 &#x6708; 26 &#x65E5;&#x7ED3;&#x675F;&#x3002;
    br
    a.xuan(href='') &#x9009;&#x8D2D; &gt;
    br
    br
    br
    br
br
.second
    br
    br
    br
    br
    span.te1 MacBook Air
    br
    span.te3 &#x8F7B;&#x8F7B;&#x5730;&#xFF0C;&#x518D;&#x6B21;&#x503E;&#x5FC3;&#x3002;
    br
    a.xuan(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
    br
    a.xuan(href='')  &#x8D2D;&#x4E70; &gt;
    img.big(src='images/1.png')
    br
    br
    br
    br
    br
    br
.third
    br
    br
    br
    br
    span.te1_white MacBook Pro
    span.te3_white &#x66F4;&#x5F3A;&#x52B2;&#xFF0C;
    span.te3_white &#x66F4;&#x4E13;&#x4E1A;&#x7684;&#x5F3A;&#x52B2;&#x3002;
    br
    a.xuan(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
    br
    a.xuan(href='')  &#x8D2D;&#x4E70; &gt;
    img.big(src='images/2.png')
    br
    br
    br
    br
    br
    br
.second
    br
    br
    br
    br
    img.middle(src='images/3.png')
    span.te2_orange &#x4F18;&#x60E0;&#x6D3B;&#x52A8;&#x5C06;&#x4E8E; 9 &#x6708; 26 &#x65E5;&#x7ED3;&#x675F;
    span.te3 &#x4E3A;&#x9AD8;&#x6821;&#x751F;&#x6D3B;&#x8D2D;&#x4E70; Mac&#xFF0C;Beats &#x8033;&#x673A;&#x642D;&#x914D;&#x5176;&#x4E2D;&#x3002;
    span.te2 &#x4EE5;&#x6559;&#x80B2;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x9009;&#x8D2D; Mac&#xFF0C;&#x6700;&#x591A;&#x53EF;&#x7701; RMB 1600&#x3002;&#x66F4;&#x4EAB; AppleCare+ &#x670D;&#x52A1;&#x8BA1;&#x5212;&#x516B;&#x6298;&#x4F18;&#x60E0;&#x3001;Apple Music &#x6298;&#x6263;&#x53CA;&#x4F17;&#x591A;&#x5176;&#x5B83;&#x4F18;&#x60E0;&#x3002;
    br
    a.xuan(href='')  &#x9009;&#x8D2D; &gt;
    br
    br
    br
    br
    br
    br
br
.second
    br
    br
    br
    br
    span.te1 Mac Pro
    br
    span.te3 &#x4EE5;&#x5B9E;&#x529B;&#x5237;&#x65B0;&#x4E00;&#x5207;&#x3002;
    br
    a.xuan(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
    img.big(src='images/4.png')
    br
    br
    br
br
.second
    br
    br
    br
    br
    span.te1 Pro Display XDR
    br
    span.te3 &#x5F81;&#x670D;&#x53CC;&#x773C;&#xFF0C;&#x9707;&#x64BC;&#x4EBA;&#x5FC3;&#x3002;
    br
    a.xuan(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
    img.big(src='images/5.png')
    br
    br
    br
br
.second
    br
    br
    br
    br
    span.te1 macOS CatalinaR
    br
    span.te3 Mac &#x7684;&#x672C;&#x9886;&#xFF0C;
    span.te3 &#x7A81;&#x98DE;&#x731B;&#x8FDB;&#x3002;
    br
    a.xuan(href='') &#x67E5;&#x770B;&#x9884;&#x89C8; &gt;
    img.big(src='images/6.png')
    br
    br
    br
br
div
    ul.ul_1
        li
            .forth
                br
                br
                br
                br
                span.te4 &#x628A;&#x4F60;&#x624B;&#x91CC;&#x73B0;&#x6709;&#x7684;&#x7535;&#x8111;&#xFF0C;
                span.te4 &#x53D8;&#x6210;&#x5FC3;&#x91CC;&#x60F3;&#x8981;&#x7684; Mac*&#x3002;
                br
                br
                span.te5 &#x7528;&#x4F60;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x7535;&#x8111;&#x6765;&#x4EE5;&#x65E7;&#x6362;&#x65B0;&#xFF0C;&#x83B7;&#x5F97;&#x6700;&#x9AD8;&#x8FBE; RMB 8485 &#x7684;&#x6298;
                span.te5 &#x62B5;&#x4F18;&#x60E0;&#xFF0C;&#x6216;&#x8005;&#x514D;&#x8D39;&#x8FDB;&#x884C;&#x56DE;&#x6536;&#x5904;&#x7406;&#x3002;&#x8FD9;&#x6837;&#x4E00;&#x6765;&#xFF0C;&#x4F60;&#x53D7;&#x76CA;&#xFF0C;&#x5730;&#x7403;&#x4E5F;&#x53D7;&#x76CA;&#x3002;
                br
                a.xuan_middle(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
                img.middle(src='images/7.png')
        li
            .forth_1
                br
                br
                br
                br
                br
                br
                span.te4 Mac &#x914D;&#x4EF6;
                br
                br
                span.te5 &#x6765;&#x770B;&#x770B;&#x4FDD;&#x62A4;&#x58F3;&#x3001;&#x8033;&#x673A;&#x3001;&#x626C;&#x58F0;&#x5668;&#x548C;&#x66F4;&#x591A;&#x914D;&#x4EF6;&#xFF0C;
                span.te5 &#x8BA9;&#x4F60;&#x7684; Mac &#x66F4;&#x51FA;&#x8272;&#x3002;
                br
                a.xuan_middle(href='') &#x7ACB;&#x5373;&#x9009;&#x8D2D; &gt;
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
                br
        li
            .forth_2
                img.small_1(src='images/8.png')
                span.te5 &#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x4FE1;&#x7528;&#x5361;&#x7528;&#x6237;&#x53EF;&#x9009;&#x62E9;
                span.te5 &#x7075;&#x6D3B;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x5F0F;&#x3002;
                br
                a.xuan_middle(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
        li
            .forth_2
                img.small_2(src='images/9.png')
                span.te5 &#x4EAB;&#x53D7;&#x514D;&#x8D39;&#x9001;&#x8D27;&#x4E0A;&#x95E8;&#x670D;&#x52A1;&#x3002;
                br
                a.xuan_middle(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
        ul
            br
            br
            br
br
br
br
br
br
br
br
br
br
br
br
br
.fifth
    span.te3 &#x4E3A;&#x4EC0;&#x4E48; Mac &#x5C31;&#x662F;&#x90A3;&#x4E48;&#x4E0D;&#x4E00;&#x6837;&#xFF1F;
br
br
.sixth
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
    span.te1_white macOS Mojave
    span.te3_white &#x56E0;&#x5F3A;&#x5927;&#x800C;&#x7B80;&#x5355;&#x3002;
    span.te1_white &#x4E3A;&#x4F60;&#x5E26;&#x6765;&#x6DF1;&#x8272;&#x6A21;&#x5F0F;&#x3001;&#x53D7;&#x4E13;&#x4E1A;&#x7528;&#x6237;&#x542F;&#x53D1;&#x7684;&#x5404;&#x79CD;&#x529F;&#x80FD;&#x3001;&#x4E09;&#x6B3E;&#x65B0; app&#xFF0C;
    span.te1_white &#x4EE5;&#x53CA;&#x91CD;&#x65B0;&#x8BBE;&#x8BA1;&#x7684; Mac App Store&#x3002;
    a.xuan(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
    a.xuan(href='')  &#x7ACB;&#x5373;&#x5347;&#x7EA7; &gt;
    br
    br
    br
    br
    br
    br
    br
    br
    br
    br
div
    ul.ul_1
        li
            .forth
                br
                br
                br
                br
                br
                br
                span.te4 macOS
                br
                br
                span.te5 Mac &#x5982;&#x6B64;&#x5F3A;&#x5927;&#x597D;&#x7528;&#xFF0C;macOS &#x8FD9;&#x4E00;&#x64CD;&#x4F5C;&#x7CFB;&#x7EDF;&#x529F;&#x4E0D;&#x53EF;&#x6CA1;&#x3002;&#x5B83;&#x4E3A;
                span.te5 Mac &#x7279;&#x522B;&#x6253;&#x9020;&#xFF0C;&#x91C7;&#x7528;&#x4E86;&#x8F6F;&#x786C;&#x4EF6;&#x534F;&#x540C;&#x8BBE;&#x8BA1;&#xFF0C;&#x80FD;&#x5E2E;&#x52A9;&#x4F60;&#x5F97;&#x5FC3;&#x5E94;&#x624B;&#x5730;
                span.te5 &#x5904;&#x7406;&#x5404;&#x79CD;&#x4E8B;&#x60C5;&#x3002;
                br
                a.xuan_middle(href='') &#x7ACB;&#x5373;&#x9009;&#x8D2D; &gt;
                img.middle(src='images/11.png')
                br
        li
            .forth
                br
                br
                br
                br
                span.te4 iCloud
                br
                br
                span.te5 iCloud &#x53EF;&#x4EE5;&#x5B89;&#x5168;&#x5B58;&#x50A8;&#x4F60;&#x7684;&#x7167;&#x7247;&#x3001;&#x89C6;&#x9891;&#x3001;&#x6587;&#x7A3F;&#x3001;&#x4FE1;&#x606F;&#x3001;&#x97F3;&#x4E50;&#x3001;app
                span.te5 &#x7B49;&#x5185;&#x5BB9;&#xFF0C;&#x5E76;&#x80FD;&#x5728;&#x4F60;&#x7684;&#x5404;&#x79CD;&#x8BBE;&#x5907;&#x4E0A;&#x540C;&#x6B65;&#x4FDD;&#x6301;&#x66F4;&#x65B0;**&#x3002;&#x56E0;&#x6B64;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x66F4;
                span.te5 &#x81EA;&#x7531;&#x3001;&#x66F4;&#x65B9;&#x4FBF;&#x5730;&#x8BBF;&#x95EE;&#x4F60;&#x60F3;&#x8981;&#x7684;&#x5185;&#x5BB9;&#x3002;
                br
                a.xuan_middle(href='') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3; &gt;
                img.middle(src='images/10.png')
        ul
            br
            br
            br
br
.second
    br
    br
    br
    br
    br
    span.te3 &#x5185;&#x7F6E;APP
    br
    span.te6 &#x9;&#x6BCF;&#x53F0; Mac &#x90FD;&#x5185;&#x7F6E;&#x4E86;&#x4F17;&#x591A;&#x6FC0;&#x53D1;&#x521B;&#x610F;&#x3001;&#x63D0;&#x5347;&#x6548;&#x7387;&#x7684; app&#xFF0C;&#x5E2E;&#x52A9;&#x4F60;&#x53BB;&#x63A2;&#x7D22;&#x3001;&#x4EA4;&#x6D41;&#x3001;&#x9AD8;&#x6548;&#x5DE5;&#x4F5C;&#x3002;
    img.middle(src='images/12.png')
    br
    br
    br
    br
    br
    br
    br
    br
br
br
.second
    br
    br
    br
    br
    br
    span.te3 &#x4E13;&#x4E1A;APP
    br
    span.te6 &#x9;&#x5BF9;&#x4E8E;&#x60F3;&#x8981;&#x5C3D;&#x60C5;&#x53D1;&#x6325;&#x521B;&#x610F;&#x7684;&#x4E13;&#x4E1A;&#x4EBA;&#x58EB;&#x800C;&#x8A00;&#xFF0C;&#x8FD9;&#x91CC;&#x6709;&#x4F17;&#x591A;&#x4E3A;&#x4E1A;&#x754C;&#x6240;&#x63A8;&#x5D07;&#x7684; app&#xFF0C;
    span.te6 &#x9;&#x53EF;&#x4EE5;&#x7528;&#x6765;&#x66F4;&#x597D;&#x5730;&#x638C;&#x63A7;&#x97F3;&#x4E50;&#x4E0E;&#x5F71;&#x7247;&#x7684;&#x526A;&#x8F91;&#x3001;&#x5904;&#x7406;&#x548C;&#x8F93;&#x51FA;&#x3002;
    img.middle(src='images/13.png')
    br
    br
    br
    span.te6 &#x9;&#x5BF9;&#x4E8E;&#x60F3;&#x8981;&#x5C3D;&#x60C5;&#x53D1;&#x6325;&#x521B;&#x610F;&#x7684;&#x4E13;&#x4E1A;&#x4EBA;&#x58EB;&#x800C;&#x8A00;&#xFF0C;&#x8FD9;&#x91CC;&#x6709;&#x4F17;&#x591A;&#x4E3A;&#x4E1A;&#x754C;&#x6240;&#x63A8;&#x5D07;&#x7684; app&#xFF0C;
    a(href='') &#x63A2;&#x7D22; Mac App Store &gt;
    br
    br
    br
    br
.fifth
    br
    br
    br
    span.te3 &#x5C3D;&#x4EAB; Mac &#x7684;&#x7CBE;&#x5F69;
    br
    br
    br
br
br
div
    ul.ul_1
        li
            .forth_3
                br
                br
                br
                br
                br
                br
                span.te5_white Mac &#x6559;&#x80B2;&#x5E94;&#x7528;
                br
                br
                span.te6_white &#x8BA9;&#x5404;&#x79CD;&#x6F5C;&#x80FD;&#xFF0C;&#x5728;&#x8BFE;&#x5802;&#x4E0A;&#x5C3D;&#x60C5;&#x91CA;&#x653E;&#x3002;
                br
                a.xuan_middle(href='') &#x4E86;&#x89E3; Mac &#x6559;&#x80B2;&#x5E94;&#x7528; &gt;
                a.xuan_middle(href='') &#x4E86;&#x89E3;&#x9002;&#x7528;&#x4E8E;&#x6559;&#x80B2;&#x673A;&#x6784;&#x7684;&#x4F18;&#x60E0;&#x4EF7;&#x683C; &gt;
                br
                br
                br
                br
                br
        li
            .forth_4
                br
                br
                br
                br
                br
                br
                span.te5_white Mac &#x9AD8;&#x7B49;&#x6559;&#x80B2;&#x5E94;&#x7528;
                br
                br
                span.te6_white &#x4E3A;&#x5927;&#x5B66;&#x751F;&#x6D3B;&#x7684;&#x65B9;&#x65B9;&#x9762;&#x9762;&#x505A;&#x597D;&#x51C6;&#x5907;&#x3002;
                br
                a.xuan_middle(href='') &#x4E86;&#x89E3; Mac &#x9AD8;&#x7B49;&#x6559;&#x80B2;&#x5E94;&#x7528; &gt;
                a.xuan_middle(href='') &#x4EE5; Apple &#x6559;&#x80B2;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x9009;&#x8D2D; &gt;
                br
                br
                br
                br
                br
        ul
            br
            br
            br
.forth_5
    br
    br
    br
    br
    br
    br
    span.te5_white Mac &#x5546;&#x52A1;&#x5E94;&#x7528;
    br
    br
    span.te6_white &#x4EE5;&#x5F3A;&#x5927;&#x7684;&#x88C5;&#x5907;&#xFF0C;&#x8BA9;&#x4F60;&#x7684;&#x5546;&#x52A1;&#x4E8B;&#x4E1A;&#x66F4;&#x4E0A;&#x4E00;&#x5C42;&#x697C;&#x3002;
    br
    a.xuan(href='') &#x4E86;&#x89E3; Mac &#x5546;&#x52A1;&#x5E94;&#x7528; &gt;
    a.xuan(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D; &gt;
    br
    br
    br
    br
    br
.second
    br
    br
    br
    br
    br
    span.te7
        | * &#x5B9E;&#x9645;&#x6298;&#x62B5;&#x91D1;&#x989D;&#x53D6;&#x51B3;&#x4E8E;&#x8BBE;&#x5907;&#x7684;&#x72B6;&#x51B5;&#x3001;&#x914D;&#x7F6E;&#x53CA;&#x5236;&#x9020;&#x5E74;&#x4EFD;&#x3002;&#x5E74;&#x6EE1; 18 &#x5468;&#x5C81;&#x53CA;&#x4EE5;&#x4E0A;&#x8005;&#x624D;&#x80FD;&#x4EAB;&#x53D7;&#x6B64;&#x9879;&#x6298;&#x62B5;&#x6362;&#x8D2D;&#x670D;&#x52A1;&#x3002;&#x5E76;&#x975E;&#x6240;&#x6709;&#x8BBE;&#x5907;&#x90FD;&#x7B26;&#x5408;&#x6298;&#x62B5;&#x6362;&#x8D2D;&#x6761;&#x4EF6;&#x3002;Apple &#x7684;&#x6298;&#x62B5;&#x670D;&#x52A1;&#x5408;&#x4F5C;&#x4F19;&#x4F34;&#x5C06;&#x63D0;&#x4F9B;&#x5173;&#x4E8E;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x8BBE;&#x5907;&#x7684;&#x6298;&#x62B5;&#x4E0E;&#x56DE;&#x6536;&#x7684;
    span.te7
        | &#x66F4;&#x591A;&#x4FE1;&#x606F;&#x3002;&#x53EF;&#x80FD;&#x9700;&#x8981;&#x9075;&#x5FAA;&#x9650;&#x5B9A;&#x6761;&#x6B3E;&#x548C;&#x6761;&#x4EF6;&#x3002;&#x6240;&#x652F;&#x4ED8;&#x91D1;&#x989D;&#x57FA;&#x4E8E;&#x6240;&#x6536;&#x5230;&#x7684;&#x8BBE;&#x5907;&#x72B6;&#x51B5;&#x4E0E;&#x5728;&#x4F30;&#x7B97;&#x6298;&#x62B5;&#x91D1;&#x989D;&#x65F6;&#x4F60;&#x6240;&#x63D0;&#x4F9B;&#x7684;&#x63CF;&#x8FF0;&#x662F;&#x5426;&#x76F8;&#x7B26;&#x3002;Apple &#x4FDD;&#x7559;&#x51FA;&#x4E8E;&#x4EFB;&#x4F55;&#x539F;&#x56E0;&#x62D2;&#x7EDD;&#x6216;&#x9650;&#x5236;&#x4EFB;&#x4F55;&#x8BBE;&#x5907; (&#x53CA;&#x5176;&#x6570;&#x91CF;) &#x7684;&#x6743;&#x5229;&#x3002;&#x5728; Apple Store
    span.te7
        | &#x96F6;&#x552E;&#x5E97;&#xFF1A;&#x8BE5;&#x670D;&#x52A1;&#x9700;&#x51FA;&#x793A;&#x653F;&#x5E9C;&#x9881;&#x53D1;&#x5E76;&#x9644;&#x6709;&#x7167;&#x7247;&#x7684;&#x6709;&#x6548;&#x8EAB;&#x4EFD;&#x8BC1;&#x4EF6; (&#x5F53;&#x5730;&#x6CD5;&#x5F8B;&#x53EF;&#x80FD;&#x4F1A;&#x8981;&#x6C42;&#x5B58;&#x50A8;&#x8BE5;&#x4FE1;&#x606F;)&#x3002;&#x73B0;&#x6709;&#x8BBE;&#x5907;&#x7684;&#x6298;&#x62B5;&#x91D1;&#x989D;&#x53EF;&#x7528;&#x4E8E;&#x51B2;&#x62B5;&#x8D2D;&#x4E70;&#x65B0;&#x7684; Apple &#x8BBE;&#x5907;&#x3002;&#x8BE5;&#x670D;&#x52A1;&#x53EF;&#x80FD;&#x4EC5;&#x5728;&#x90E8;&#x5206;&#x96F6;&#x552E;&#x5E97;&#x63D0;&#x4F9B;&#x3002;&#x90E8;&#x5206; Apple Store &#x96F6;&#x552E;
    span.te7 &#x5E97;&#x53EF;&#x80FD;&#x4F1A;&#x6709;&#x9644;&#x52A0;&#x6761;&#x4EF6;&#x3002;
    br
    span.te7 ** iCloud &#x5728;&#x4E2D;&#x56FD;&#x5185;&#x5730;&#x7531;&#x4E91;&#x4E0A;&#x8D35;&#x5DDE;&#x5927;&#x6570;&#x636E;&#x4EA7;&#x4E1A;&#x53D1;&#x5C55;&#x6709;&#x9650;&#x516C;&#x53F8;&#x8FD0;&#x8425;&#x3002;
    br
    br
    br
    br
    hr
    br
    br
    div
        .last
            ul.ul_2
                li
                    span.te8 Apple Store &#x5546;&#x5E97;
                li
                    a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
                li
                    a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
                li
                    a.pick_1(href='') Today at Apple
                li
                    a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
                li
                    a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
                li
                    a.pick_1(href='') Apple Store App
                li
                    a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
                li
                    a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                li
                    a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
                li
                    a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
                li
                    a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
        .last
            ul.ul_2
                li
                    span.te8 &#x6559;&#x80B2;&#x5E94;&#x7528;
                li
                    a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
                li
                    a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
                li
                    a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
                li
                    a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
                li
                    a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
        .last
            ul.ul_2
                li
                    span.te8 &#x8D26;&#x6237;
                li
                    a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
                li
                    a.pick_1(href='') Apple Store &#x8D26;&#x6237;
                li
                    a.pick_1(href='') iCloud.com
                li
                    a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
                li
                    a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
                li
                    a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
                li
                    a.pick_1(href='') &#x9690;&#x79C1;
                li
                    a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
        .last
            ul.ul_2
                li
                    span.te8 &#x5173;&#x4E8E; Apple
                li
                    a.pick_1(href='') Newsroom
                li
                    a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
                li
                    a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
                li
                    a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
                li
                    a.pick_1(href='') &#x6D3B;&#x52A8;
                li
                    a.pick_1(href='') &#x8054;&#x7CFB; Apple
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
    br
    br
    br
    span.te7
        | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
        span
            hr
            span.te7
                | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                span
                    div
