doctype html
head
    meta(charset='utf-8')
    title macOS-macOS&#x662F;&#x4EC0;&#x4E48;
    link(rel='stylesheet', href='stylesheets/macOScx.css', type='text/css')
    link(rel='canonical', href='https://www.apple.com/cn/shop/mac/mac-accessories')
.nav
    ul
        li
            a &#x6559;&#x80B2;&#x5546;&#x5E97;&#x9996;&#x9875;
        li.w1 |
        li
            a &#x9000;&#x51FA;&#x5546;&#x5E97;
.nav2
    ul
        li
            a(href='https://www.apple.com/cn/mac/')
                img(src='images/applelogo.png')
        li
            a(href='http://localhost:3000/macmain') Mac
        li
            a iPad
        li
            a iPhone
        li
            a Watch
        li
            a Music
        li
            a &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a
                img(src='images/search.png')
        li
            a
                img(src='images/store.png')
.k1
    h2.p1
        | macOS,&#x6B63;&#x662F;&#x5B83;&#xFF0C;
        br
        | &#x8BA9;Mac&#x5982;&#x6B64;&#x4E0E;&#x4F17;&#x4E0D;&#x540C;&#x3002;
    br
    .k2
        span.p2
            | Mac &#x5982;&#x6B64;&#x5F3A;&#x5927;&#x597D;&#x7528;&#xFF0C;macOS &#x8FD9;&#x4E00;&#x64CD;&#x4F5C;&#x7CFB;&#x7EDF;&#x529F;&#x4E0D;&#x53EF;&#x6CA1;&#x3002;&#x5B83;&#x4E3A; Mac &#x7279;&#x522B;&#x6253;&#x9020;&#xFF0C;&#x91C7;&#x7528;&#x4E86;&#x8F6F;&#x786C;&#x4EF6;&#x534F;&#x540C;&#x8BBE;&#x8BA1;&#xFF0C;&#x80FD;&#x5E2E;&#x52A9;&#x4F60;&#x5F97;&#x5FC3;&#x5E94;&#x624B;&#x5730;&#x5904;&#x7406;&#x5404;&#x79CD;&#x4E8B;&#x60C5;&#x3002;macOS &#x62E5;&#x6709;&#x4E00;&#x6574;&#x5957;&#x8BBE;&#x8BA1;&#x7CBE;&#x7F8E;&#x7684; app&#x3002;&#x5B83;&#x80FD;&#x4E0E; iCloud &#x7D27;&#x5BC6;&#x914D;&#x5408;&#xFF0C;&#x8BA9;&#x4F60;&#x7684;&#x7167;&#x7247;&#x3001;&#x6587;&#x7A3F;&#xFF0C;&#x4EE5;&#x53CA;&#x5176;&#x4ED6;&#x8D44;&#x6599;&#x5728;&#x4F60;&#x7684;&#x5404;&#x4E2A;&#x8BBE;&#x5907;&#x4E0A;&#x540C;&#x6B65;&#x4FDD;&#x6301;&#x66F4;&#x65B0;&#x3002;&#x8FD8;&#x80FD;&#x8BA9;&#x4F60;&#x7684;Mac &#x4E0E; iPhone &#x6D41;&#x7545;&#x4E92;&#x901A;&#xFF0C;&#x51FA;&#x8272;&#x534F;&#x4F5C;&#x3002;&#x800C;&#x4FDD;&#x62A4;&#x9690;&#x79C1;&#x548C;&#x5B89;&#x5168;&#x66F4;&#x662F;&#x5B83;&#x79C9;&#x6301;&#x4E8E;&#x5FC3;&#x7684;&#x7406;&#x5FF5;&#xFF0C;&#x5E76;&#x5DF2;&#x5F7B;&#x5F7B;&#x5E95;&#x5E95;&#x5730;&#x8D2F;&#x5F7B;&#x4E8E;&#x5904;&#x5904;&#x7EC6;&#x8282;&#x4E4B;&#x4E2D;&#x3002;
    br
    .text1
        img(src='images/ph1.jpg', width='1210px', height='705px;')
.k3
    h3.p4 macOS Mojave
    h3.p3 &#x56E0;&#x5F3A;&#x5927;&#x800C;&#x7B80;&#x5355;&#x3002;
    span.p5
        | &#x4E3A;&#x4F60;&#x5E26;&#x6765;&#x6DF1;&#x8272;&#x6A21;&#x5F0F;&#x3001;&#x53D7;&#x4E13;&#x4E1A;&#x7528;&#x6237;&#x542F;&#x53D1;&#x7684;&#x5404;&#x79CD;&#x65B0;&#x529F;&#x80FD;&#x3001;&#x4E09;&#x6B3E;&#x65B0;
        br
        | app&#xFF0C;&#x4EE5;&#x53CA;&#x91CD;&#x65B0;&#x8BBE;&#x8BA1;&#x7684; Mac App Store&#x3002;
    br
    br
    a(href='#') &#x4E86;&#x89E3;&#x65B0;&#x529F;&#x80FD;&gt;
.k4
    span.p2 &#x8FDE;&#x7EED;&#x4E92;&#x901A;
    h2.p3
        | &#x5728;&#x4F60;&#x4E0D;&#x540C;&#x8BBE;&#x5907;&#x4E4B;&#x95F4;&#xFF0C;
        br
        | &#x4F53;&#x9A8C;&#x65E0;&#x95F4;&#x3002;
    span.p6
        | Mac &#x4E0E;&#x5176;&#x4ED6; Apple &#x8BBE;&#x5907;&#x4E4B;&#x95F4;&#x7684;&#x534F;&#x4F5C;&#xFF0C;&#x683C;&#x5916;&#x987A;&#x7545;&#x5408;&#x62CD;&#x3002;&#x6BD4;&#x5982; iPhone &#x4E0A;&#x6536;&#x5230;&#x6765;&#x7535;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x5728; Mac &#x4E0A;&#x63A5;&#x542C;&#x3002;&#x8FDE;&#x7EED;&#x4E92;&#x901A;&#x76F8;&#x673A;&#x529F;&#x80FD;&#xFF0C;&#x8BA9;&#x4F60;&#x80FD;&#x7528; iPhone &#x5C31;&#x8FD1;&#x62CD;&#x6444;&#x7167;&#x7247;&#x6216;&#x626B;&#x63CF;&#x6587;&#x6863;&#xFF0C;&#x7136;&#x540E;&#x5B83;&#x4F1A;&#x76F4;&#x63A5;&#x51FA;&#x73B0;&#x5728;&#x4F60;&#x7684; Mac &#x4E0A;&#x3002;&#x628A;&#x4E00;&#x90E8;&#x8BBE;&#x5907;&#x4E0A;&#x7684;&#x6587;&#x5B57;&#x6216;&#x56FE;&#x50CF;&#x590D;&#x5236;&#x5230;&#x53E6;&#x4E00;&#x90E8;&#x8BBE;&#x5907;&#x4E0A;&#xFF0C;&#x53EA;&#x8981;&#x4F7F;&#x7528;&#x5E73;&#x5E38;&#x7684;&#x62F7;&#x8D1D;&#x7C98;&#x8D34;&#x547D;&#x4EE4;&#x5C31;&#x80FD;&#x5B9E;&#x73B0;&#x3002;&#x4F60;&#x751A;&#x81F3;&#x53EF;&#x4EE5;&#x7528; Apple Watch &#x6765;&#x89E3;&#x9501; Mac&#xFF0C;&#x65E0;&#x9700;&#x518D;&#x8F93;&#x5165;&#x5BC6;&#x7801;&#x3002;
    br
    br
    a.chen(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&#x4E0D;&#x540C;&#x8BBE;&#x5907;&#x4E4B;&#x95F4;&#x7684;&#x534F;&#x4F5C;&gt;
    br
.text1
    img(src='images/ph4.jpg', width='1210px', height='705px;')
.k5
    .k7
        span.p2 &#x9690;&#x79C1;&#x548C;&#x5B89;&#x5168;
        h2.p3
            | &#x6211;&#x4EEC;&#x8BA4;&#x4E3A;&#x4F60;&#x7684;&#x6570;&#x636E;&#x53EA;&#x5C5E;&#x4E8E;
            br
            | &#x4F60;&#xFF0C;&#x6CA1;&#x4EC0;&#x4E48;&#x53EF;&#x5546;&#x91CF;&#x7684;&#x3002;
        span.p6
            | &#x9690;&#x79C1;&#x548C;&#x5B89;&#x5168;&#x529F;&#x80FD;&#xFF0C;&#x4E3A;&#x4F60;&#x5728; Mac &#x4E0A;&#x6240;&#x505A;&#x7684;&#x4E00;&#x5207;&#x63D0;&#x4F9B;&#x5F3A;&#x6709;&#x529B;&#x7684;&#x4FDD;&#x62A4;&#x3002;&#x56E0;&#x4E3A;&#x4ECE;&#x4E00;&#x5F00;&#x59CB;&#xFF0C;
            br
            | &#x6211;&#x4EEC;&#x5C31;&#x5C06;&#x6570;&#x636E;&#x5B89;&#x5168;&#x6839;&#x690D;&#x4E8E;&#x6BCF;&#x4E00;&#x4EF6;&#x4EA7;&#x54C1;&#x4E4B;&#x4E2D;&#x3002;
        br
        br
        .k6
            img(src='images/ph5.jpg', width='1210px', height='705px')
.k4
    span.p2 &#x517C;&#x5BB9;&#x6027;
    h2.p3
        | &#x5DE5;&#x4F5C;&#x9700;&#x8981;&#x7528;&#x5230;
        br
        | Windows?
        br
        | &#x5728;Mac&#x4E0A;&#x4E5F;&#x53EF;&#x4EE5;&#x3002;
    span.p6
        | &#x6709;&#x4E86; macOS&#xFF0C;&#x8F7B;&#x8F7B;&#x677E;&#x677E;&#x5C31;&#x80FD;&#x5C06;&#x4F60; Windows PC &#x4E0A;&#x7684;&#x6587;&#x4EF6;&#x3001;&#x7167;&#x7247;&#x548C;&#x5176;&#x4ED6;&#x6570;&#x636E;&#x4F20;&#x5230; Mac &#x4E0A;&#x3002;&#x800C;&#x50CF; JPEG&#x3001;MP3 &#x548C; PDF &#x8FD9;&#x4E9B;&#x5E38;&#x89C1;&#x7684;&#x6587;&#x4EF6;&#xFF0C;&#x4EE5;&#x53CA; Microsoft Word&#x3001;Excel &#x548C; PowerPoint &#x6587;&#x6863;&#xFF0C;&#x5B83;&#x90FD;&#x80FD;&#x517C;&#x5BB9;&#x3002;&#x800C;&#x4E14;&#xFF0C;Mac &#x4E0A;&#x4E5F;&#x80FD;&#x539F;&#x751F;&#x652F;&#x6301; Microsoft Office&#xFF0C;&#x8FD0;&#x884C;&#x8D77;&#x6765;&#x5341;&#x5206;&#x6D41;&#x7545;&#x3002;&#x5982;&#x679C;&#x4F60;&#x60F3;&#x7684;&#x8BDD;&#xFF0C;&#x4F60;&#x751A;&#x81F3;&#x8FD8;&#x53EF;&#x4EE5;&#x5728; Mac &#x4E0A;&#x8FD0;&#x884C; Windows3&#x3002;
    br
    br
    a.chen(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;macOS&#x7684;&#x517C;&#x5BB9;&#x6027;&gt;
    br
.text1
    img(src='images/ph6.jpg', width='1210px', height='705px;')
.k8
    .k7
        span.p2 &#x5185;&#x7F6E;App
        h2.p3
            | &#x4F17;&#x591A;&#x4E3A;Mac&#x8BBE;&#x8BA1;&#x7684;
            br
            | App,&#x5F3A;&#x5927;&#x7CBE;&#x7F8E;&#x4E00;&#x5982;
            br
            | Mac&#x3002;
        span.p6
            | &#x6BCF;&#x53F0; Mac &#x90FD;&#x914D;&#x5907;&#x4E00;&#x7CFB;&#x5217;&#x5F3A;&#x5927;&#x7684; app&#x3002;&#x5B83;&#x4EEC;&#x4E0E;&#x4F60;&#x5728; iPhone &#x6216; iPad &#x4E0A;&#x4F7F;&#x7528;&#x7684;&#x90A3;&#x4E9B; app &#x76F8;&#x540C;&#xFF0C;&#x4F60;&#x4E00;&#x4E0A;&#x624B;&#x5C31;&#x4F1A;&#x89C9;&#x5F97;&#x5F88;&#x81EA;&#x7136;&#x987A;&#x624B;&#x3002;&#x5B83;&#x4EEC;&#x8FD8;
            br
            | &#x90FD;&#x53EF;&#x4EE5;&#x4E0E; iCloud &#x914D;&#x5408;&#x4F7F;&#x7528;&#xFF0C;&#x6240;&#x4EE5;&#x4F60;&#x7684;&#x65E5;&#x7A0B;&#x5B89;&#x6392;&#x3001;&#x901A;&#x8BAF;&#x5F55;&#x548C;&#x5907;&#x5FD8;&#x5F55;&#x5728;&#x5404;&#x79CD;&#x8BBE;&#x5907;&#x4E0A;&#x90FD;&#x80FD;&#x4FDD;&#x6301;&#x66F4;&#x65B0;&#x3002;&#x800C;&#x4E14;&#x4E0E;&#x6D4F;&#x89C8;&#x5668;&#x4E2D;&#x57FA;&#x4E8E;&#x7F51;&#x9875;&#x7684; app &#x4E0D;&#x540C;&#xFF0C;
            br
            | &#x5B83;&#x4EEC;&#x5C5E;&#x4E8E;&#x7CFB;&#x7EDF;&#x5185;&#x7F6E; app&#xFF0C;&#x6240;&#x4EE5;&#x80FD;&#x591F;&#x5145;&#x5206;&#x5229;&#x7528; Mac &#x7684;&#x5F3A;&#x5927;&#x52A8;&#x529B;&#xFF0C;&#x7528;&#x8D77;&#x6765;&#x53C8;&#x5FEB;&#x53C8;&#x51FA;&#x8272;&#x3002;
        br
        br
        .k6
            img(src='images/ph7.jpg', width='1210px', height='705px')
    .k9
        .k10
            p.p7
                strong &#x65B0; App &#x6765;&#x5230; Mac&#x3002;
                |  macOS Mojave &#x8BA9;&#x4F60;&#x7684;&#x684C;&#x9762;&#x4E0A;&#x591A;&#x4E86;&#x4E09;&#x6B3E;&#x65B0; app&#x3002;&#x4F60;&#x53EF;&#x4EE5;&#x7528;&#x80A1;&#x5E02; app &#x6765;&#x8DDF;&#x8E2A;&#x80A1;&#x5E02;&#x884C;&#x60C5;&#xFF0C;&#x7528;&#x8BED;&#x97F3;&#x5907;&#x5FD8;&#x5F55;&#x6765;&#x5FEB;&#x901F;&#x8BB0;&#x5F55;&#x4E2A;&#x4EBA;&#x63D0;&#x9192;&#x4E8B;&#x9879;&#x3001;&#x8BFE;&#x5802;&#x5185;&#x5BB9;&#x3001;&#x8BBF;&#x8C08;&#x6216;&#x6B4C;&#x66F2;&#x7075;&#x611F;&#xFF0C;&#x8FD8;&#x53EF;&#x4EE5;&#x7528;&#x5BB6;&#x5EAD; app &#x5728;&#x684C;&#x9762;&#x4E0A;&#x8F7B;&#x677E;&#x63A7;&#x5236;&#x5BB6;&#x4E2D;&#x517C;&#x5BB9; HomeKit &#x7684;&#x914D;&#x4EF6;&#x3002;
        .k10
            ul
                li
                    img(src='images/smallA1.jpg')
                    span &#x80A1;&#x5E02;
                li
                    img(src='images/smallA2.jpg')
                    span &#x5907;&#x5FD8;&#x5F55;
                li
                    img(src='images/smallA3.jpg')
                    span &#x5BB6;&#x5EAD;
        .k10
            p.p7
                strong &#x521B;&#x610F;&#x3002;
                |  &#x4F60;&#x53EF;&#x4EE5;&#x6574;&#x7406;&#x3001;&#x7F16;&#x8F91;&#x548C;&#x5206;&#x4EAB;&#x73CD;&#x8D35;&#x7684;&#x7167;&#x7247;&#x548C;&#x89C6;&#x9891;&#xFF0C;&#x8BA9;&#x90A3;&#x4E9B;&#x7F8E;&#x597D;&#x56DE;&#x5FC6;&#x91CD;&#x73B0;&#x5149;&#x5F69;&#xFF1B;&#x4F60;&#x53EF;&#x4EE5;&#x5C06;&#x5BB6;&#x5EAD;&#x89C6;&#x9891;&#x6253;&#x9020;&#x6210;&#x4EE4;&#x4EBA;&#x96BE;&#x5FD8;&#x7684;&#x5F71;&#x7247;&#xFF0C;&#x6216;&#x662F;&#x5C06;&#x4E00;&#x4E9B;&#x7247;&#x6BB5;&#x5FEB;&#x901F;&#x5206;&#x4EAB;&#x7ED9;&#x4EB2;&#x670B;&#x597D;&#x53CB;&#xFF1B;&#x4F60;&#x4E5F;&#x53EF;&#x4EE5;&#x4ECE;&#x4F17;&#x591A;&#x97F3;&#x6548;&#x3001;&#x4E50;&#x5668;&#x3001;&#x653E;&#x5927;&#x5668;&#x548C;&#x591A;&#x4E2A;&#x865A;&#x62DF;&#x4F34;&#x594F;&#x9F13;&#x624B;&#x53CA;&#x6253;&#x51FB;&#x4E50;&#x624B;&#x4E2D;&#xFF0C;&#x6311;&#x9009;&#x8DDF;&#x4F60;&#x6B4C;&#x66F2;&#x5408;&#x62CD;&#x7684;&#xFF0C;&#x50CF;&#x4E13;&#x4E1A;&#x4EBA;&#x58EB;&#x90A3;&#x6837;&#x6765;&#x521B;&#x4F5C;&#x97F3;&#x4E50;&#x3002;
        .k10
            ul
                li
                    img(src='images/smallB1.jpg')
                    span &#x7167;&#x7247;
                li
                    img(src='images/smallB2.jpg')
                    span &#x526A;&#x8F91;
                li
                    img(src='images/smallB3.jpg')
                    span &#x5E93;&#x4E50;&#x961F;
        .k10
            p.p7
                strong &#x6548;&#x7387;&#x3002;
                |  &#x7528;&#x683C;&#x5916;&#x7B80;&#x5355;&#x7684;&#x64CD;&#x4F5C;&#x65B9;&#x5F0F;&#xFF0C;&#x6765;&#x505A;&#x51FA;&#x7B80;&#x7EA6;&#x7CBE;&#x7F8E;&#x7684;&#x6587;&#x6863;&#x3002;&#x5728;&#x5236;&#x4F5C;&#x7535;&#x5B50;&#x8868;&#x683C;&#x65F6;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x5229;&#x7528;&#x56FE;&#x50CF;&#x3001;&#x6587;&#x5B57;&#x548C;&#x56FE;&#x5F62;&#xFF0C;&#x8BA9;&#x6570;&#x636E;&#x770B;&#x8D77;&#x6765;&#x65E2;&#x76F4;&#x89C2;&#x7CBE;&#x786E;&#xFF0C;&#x53C8;&#x6709;&#x8BF4;&#x670D;&#x529B;&#x3002;&#x800C;&#x8981;&#x60F3;&#x8BA9;&#x6F14;&#x793A;&#x6587;&#x7A3F;&#x66F4;&#x5F15;&#x4EBA;&#x6CE8;&#x76EE;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x501F;&#x52A9;&#x5F3A;&#x5927;&#x7684;&#x56FE;&#x5F62;&#x5DE5;&#x5177;&#x548C;&#x5F71;&#x9662;&#x7EA7;&#x7684;&#x70AB;&#x76EE;&#x6548;&#x679C;&#xFF0C;&#x8BA9;&#x4F60;&#x7684;&#x60F3;&#x6CD5;&#x751F;&#x52A8;&#x5448;&#x73B0;&#x3002;&#x4F60;&#x8FD8;&#x53EF;&#x4EE5;&#x4E0E;&#x670B;&#x53CB;&#x548C;&#x540C;&#x4E8B;&#x5F00;&#x5C55;&#x5B9E;&#x65F6;&#x5408;&#x4F5C;&#xFF0C;&#x65E0;&#x8BBA;&#x4ED6;&#x4EEC;&#x662F;&#x5728;&#x57CE;&#x5E02;&#x7684;&#x53E6;&#x4E00;&#x8FB9;&#x8FD8;&#x662F;&#x5730;&#x7403;&#x7684;&#x53E6;&#x4E00;&#x7AEF;&#x3002;
        .k10
            ul
                li
                    img(src='images/smalLC1.jpg')
                    span &#x6587;&#x7A3F;
                li
                    img(src='images/smallC2.jpg')
                    span &#x8868;&#x683C;
                li
                    img(src='images/smallC3.jpg')
                    span &#x6F14;&#x8BB2;
        .k10
            p.p7
                strong &#x7F51;&#x7EDC;&#x3002;
                |  &#x4E00;&#x4E2A;&#x5FEB;&#x901F;&#x9AD8;&#x6548;&#x3001;&#x5185;&#x7F6E;&#x9690;&#x79C1;&#x529F;&#x80FD;&#x7684;&#x6D4F;&#x89C8;&#x5668;&#x4E0D;&#x4EC5;&#x80FD;&#x8BA9;&#x4F60;&#x7545;&#x6E38;&#x7F51;&#x7EDC;&#xFF0C;&#x8FD8;&#x80FD;&#x4FDD;&#x62A4;&#x4F60;&#x7684;&#x4E2A;&#x4EBA;&#x4FE1;&#x606F;&#xFF1B;&#x5730;&#x56FE; app &#x80FD;&#x63D0;&#x4F9B;&#x70B9;&#x5BF9;&#x70B9;&#x7684;&#x8DEF;&#x7EBF;&#x6307;&#x5F15;&#x3001;&#x5168;&#x9762;&#x7684;&#x516C;&#x4EA4;&#x4FE1;&#x606F;&#x4EE5;&#x53CA;&#x4E09;&#x7EF4;&#x89C6;&#x56FE;&#xFF0C;&#x73B0;&#x5728;&#x66F4;&#x63A8;&#x51FA;&#x4E86;&#x8D44;&#x8BAF;&#x8BE6;&#x5C3D;&#x7684;&#x6D77;&#x5916;&#x5730;&#x56FE;&#xFF0C;&#x5E2E;&#x4F60;&#x76F4;&#x63A5;&#x5728;&#x684C;&#x9762;&#x4E0A;&#x89C4;&#x5212;&#x4E00;&#x6BB5;&#x5168;&#x65B0;&#x7684;&#x884C;&#x7A0B;&#xFF1B;&#x800C;&#x501F;&#x52A9;&#x805A;&#x7126;&#x529F;&#x80FD;&#xFF0C;&#x53EA;&#x9700;&#x8F93;&#x5165;&#x51E0;&#x4E2A;&#x5173;&#x952E;&#x5B57;&#xFF0C;&#x5373;&#x53EF;&#x4ECE;&#x4F60;&#x7684;&#x6574;&#x4E2A; Mac &#x4E2D;&#x8FDB;&#x884C;&#x641C;&#x7D22;&#x3002;
        .k10
            ul
                li
                    img(src='images/smallD1.jpg')
                    span &#x6D4F;&#x89C8;&#x5668;
                li
                    img(src='images/smallD2.jpg')
                    span &#x5730;&#x56FE;
                li
                    img(src='images/smallD3.jpg')
                    span &#x805A;&#x7126;
        .k10
            p.p7
                strong &#x5A92;&#x4F53;&#x3002;
                | &#x7528;&#x4F60;&#x81EA;&#x5DF1;&#x7684; Mac&#xFF0C;&#x5C31;&#x80FD;&#x6765;&#x627E;&#x627E;&#x770B;&#x6709;&#x4EC0;&#x4E48;&#x65B0;&#x7684; app &#x548C;&#x6269;&#x5C55;&#x80FD;&#x7528;&#x5F97;&#x4E0A;&#x3002;&#x4F60;&#x4E5F;&#x53EF;&#x4EE5;&#x6B23;&#x8D4F;&#x5DF2;&#x7ECF;&#x62E5;&#x6709;&#x7684;&#x97F3;&#x4E50;&#xFF0C;&#x6216;&#x662F;&#x770B;&#x770B;&#x6709;&#x4EC0;&#x4E48;&#x597D;&#x542C;&#x7684;&#x65B0;&#x6B4C;&#x3002;
        .k10
            ul
                li
                    img(src='images/smallE1.jpg')
                    span iTunes
                li
                    img(src='images/smallE2.jpg')
                    span App Store
br
.k14
    .k11
        span.p2 &#x8F85;&#x52A9;&#x529F;&#x80FD;
        h2.p3
            | &#x6211;&#x4EEC;&#x7AED;&#x5C3D;&#x6240;&#x80FD;,
            br
            | &#x8BA9;Mac&#x4EBA;&#x4EBA;&#x90FD;&#x80FD;&#x4F7F;&#x7528;&#x3002;
        span.p6
            | macOS &#x6807;&#x914D;&#x5404;&#x7C7B;&#x8F85;&#x52A9;&#x6280;&#x672F;&#xFF0C;&#x53EF;&#x5E2E;&#x52A9;&#x6B8B;&#x969C;&#x4EBA;&#x58EB;&#x4EAB;&#x53D7; Mac &#x7684;&#x5F3A;&#x5927;&#x548C;&#x4FBF;&#x6377;&#x3002;&#x4F17;&#x591A;&#x7279;&#x522B;&#x8BBE;&#x8BA1;&#x7684;&#x529F;&#x80FD;&#xFF0C;&#x6BD4;&#x5982;&#x8F85;&#x52A9;&#x529F;&#x80FD;&#x952E;&#x76D8;&#x3001;&#x65C1;&#x767D;&#x3001;FaceTime &#x901A;&#x8BDD;6&#x3001;&#x5207;&#x6362;&#x63A7;&#x5236;&#x548C;&#x6587;&#x672C;&#x81F3;&#x8BED;&#x97F3;&#x8F6C;&#x6362;&#x7B49;&#xFF0C;&#x90FD;&#x662F;&#x4E3A;&#x4E86;&#x5E2E;&#x52A9;&#x6BCF;&#x4E00;&#x4E2A;&#x4F7F;&#x7528;&#x8005;&#x5C3D;&#x60C5;&#x53D1;&#x6325; Mac &#x7684;&#x4E07;&#x822C;&#x7CBE;&#x5F69;&#x3002;
        br
        br
        a.chen(href='#') &#x63A2;&#x7D22;Mac&#x4E0A;&#x7684;&#x5404;&#x9879;&#x8F85;&#x52A9;&#x529F;&#x80FD;&gt;
        br
    .k12
        ul
            li
                img(src='images/title1.png', width='100px', height='100px;')
            li
                img(src='images/title2.png', width='100px', height='100px;')
            li
                img(src='images/title3.png', width='100px', height='100px;')
            li
                img(src='images/title4.png', width='100px', height='100px;')
            ul
                li &#x89C6;&#x529B;&#x8F85;&#x52A9;
                li &#x542C;&#x529B;&#x8F85;&#x52A9;
                li &#x80A2;&#x4F53;&#x4E0E;&#x6D3B;&#x4F53;&#x80FD;&#x529B;&#x8F85;&#x52A9;
                li &#x8BFB;&#x5199;&#x4E0E;&#x5B66;&#x4E60;&#x8F85;&#x52A9;
br
.k13
    ol
        li.a_li 1.Siri &#x53EF;&#x80FD;&#x4EC5;&#x652F;&#x6301;&#x90E8;&#x5206;&#x8BED;&#x8A00;&#x6216;&#x5730;&#x533A;&#xFF0C;&#x5E76;&#x4E14;&#x529F;&#x80FD;&#x53EF;&#x80FD;&#x56E0;&#x5730;&#x533A;&#x800C;&#x5F02;&#x3002;
        li.a_li 2.&#x9700;&#x8981;&#x8BA2;&#x9605; Apple Music&#x3002;
        li.a_li
            | 3.Microsoft Windows &#x9700;&#x5355;&#x72EC;&#x8D2D;&#x4E70;&#x3002;
            span
                a.chen(href='https://support.apple.com/zh-cn/HT204048') &#x5355;&#x51FB;&#x6B64;&#x5904;&#x67E5;&#x770B;&#x7CFB;&#x7EDF;&#x8981;&#x6C42;
                | &#x3002;
        li.a_li
            | 4.iCloud &#x8981;&#x6C42;&#x4F7F;&#x7528;&#x652F;&#x6301; iCloud &#x7684;&#x8BBE;&#x5907;&#x3002;&#x67D0;&#x4E9B;&#x529F;&#x80FD;&#x8981;&#x6C42;&#x4F7F;&#x7528; iOS&nbsp;12 &#x548C; macOS Mojave&#x3002;&#x67D0;&#x4E9B;&#x529F;&#x80FD;&#x8981;&#x6C42;&#x4F7F;&#x7528;&#x65E0;&#x7EBF;&#x7F51;&#x7EDC;&#x8FDE;&#x63A5;&#x3002;&#x67D0;&#x4E9B;&#x529F;&#x80FD;&#x4EC5;&#x9002;&#x7528;&#x4E8E;&#x90E8;&#x5206;&#x56FD;&#x5BB6;&#x6216;&#x5730;&#x533A;&#x3002;&#x67D0;&#x4E9B;&#x670D;&#x52A1;&#x4EC5;&#x9650; 10 &#x90E8;&#x8BBE;&#x5907;&#x8FDB;&#x884C;&#x8BBF;&#x95EE;&#x3002;iCloud &#x5728;&#x4E2D;&#x56FD;&#x5185;&#x5730;&#x7531;&#x4E91;&#x4E0A;&#x8D35;&#x5DDE;&#x5927;&#x6570;&#x636E;&#x4EA7;&#x4E1A;&#x53D1;&#x5C55;&#x6709;&#x9650;&#x516C;&#x53F8;&#x8FD0;&#x8425;&#x3002;
        li.a_li
            | 5.Mac &#x7684;&#x6027;&#x80FD;&#x8D8A;&#x9AD8;&#xFF0C;HEVC &#x7684;&#x8868;&#x73B0;&#x5C31;&#x8D8A;&#x51FA;&#x8272;&#x3002;&#x64AD;&#x653E; 4K&nbsp;HEVC &#x5185;&#x5BB9;&#x9700;&#x8981;&#x4F7F;&#x7528;&#x914D;&#x5907;&#x7B2C;&#x516D;&#x4EE3; Intel&nbsp;Core &#x5904;&#x7406;&#x5668;&#x6216;&#x66F4;&#x65B0;&#x5904;&#x7406;&#x5668;&#x7684;&nbsp;Mac&#x3002;&#x8282;&#x7701;&#x7684;&#x78C1;&#x76D8;&#x7A7A;&#x95F4;&#x5BB9;&#x91CF;&#x53D6;&#x51B3;&#x4E8E;&#x6240;&#x7528;&#x7684;&#x5177;&#x4F53;&#x89C6;&#x9891;&#x6587;&#x4EF6;&#x548C;&#x786C;&#x4EF6;&#xFF1B;&#x5B9E;&#x9645;&#x7ED3;&#x679C;&#x53EF;&#x80FD;&#x6709;&#x6240;&#x4E0D;&#x540C;&#x3002;
        li.a_li 6.FaceTime &#x901A;&#x8BDD;&#x8981;&#x6C42;&#x901A;&#x8BDD;&#x53CC;&#x65B9;&#x4F7F;&#x7528;&#x652F;&#x6301; FaceTime &#x901A;&#x8BDD;&#x529F;&#x80FD;&#x7684;&#x8BBE;&#x5907;&#x548C;&#x65E0;&#x7EBF;&#x7F51;&#x7EDC;&#x6216;&#x4E92;&#x8054;&#x7F51;&#x8FDE;&#x63A5;&#x3002;
    ul.a_ul
        li.a_li &#x67D0;&#x4E9B;&#x529F;&#x80FD;&#x3001;&#x5E94;&#x7528;&#x8F6F;&#x4EF6;&#x548C;&#x670D;&#x52A1;&#x4EC5;&#x9002;&#x7528;&#x4E8E;&#x90E8;&#x5206;&#x5730;&#x533A;&#x6216;&#x8BED;&#x8A00;&#x3002;
        li.a_li &#x90E8;&#x5206;&#x529F;&#x80FD;&#x8981;&#x6C42;&#x4F7F;&#x7528; Apple ID&#x3001;&#x517C;&#x5BB9;&#x7684;&#x786C;&#x4EF6;&#x53CA;&#x517C;&#x5BB9;&#x7684;&#x4E92;&#x8054;&#x7F51;&#x8FDE;&#x63A5;&#x6216;&#x8702;&#x7A9D;&#x7F51;&#x7EDC;&#xFF1B;&#x53EF;&#x80FD;&#x9700;&#x8981;&#x53E6;&#x5916;&#x4ED8;&#x8D39;&#x5E76;&#x9075;&#x5B88;&#x76F8;&#x5173;&#x6761;&#x6B3E;&#x3002;
        li.a_li
            | &#x67D0;&#x4E9B;&#x529F;&#x80FD;&#x8981;&#x6C42;&#x4F7F;&#x7528;&#x7279;&#x5B9A;&#x7684;&#x786C;&#x4EF6;&#x548C;&#x8F6F;&#x4EF6;&#x3002;&#x6709;&#x5173;&#x8BE6;&#x7EC6;&#x4FE1;&#x606F;&#xFF0C;&#x8BF7;&#x53C2;&#x89C1;&#x4F4D;&#x4E8E;
            span
                a.chen(href='https://www.apple.com/cn/macos/how-to-upgrade/') www.apple.com/cn/macos/how-to-upgrade
            |  &#x7684;&ldquo;&#x529F;&#x80FD;&#x8981;&#x6C42;&rdquo;&#x90E8;&#x5206;&#x3002;
        li.a_li &#x8F6F;&#x4EF6;&#x548C;&#x5185;&#x5BB9;&#x53EF;&#x80FD;&#x9700;&#x5355;&#x72EC;&#x8D2D;&#x4E70;&#x3002;&#x4F9B;&#x5E94;&#x72B6;&#x51B5;&#x53EF;&#x80FD;&#x6709;&#x6240;&#x53D8;&#x5316;&#x3002;
    hr
    div
        .last
            ul.ul_2
                li
                    span.te2 Apple Store &#x5546;&#x5E97;
                li
                    a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
                li
                    a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
                li
                    a.pick_1(href='') Today at Apple
                li
                    a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
                li
                    a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
                li
                    a.pick_1(href='') Apple Store App
                li
                    a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
                li
                    a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                li
                    a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
                li
                    a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
                li
                    a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
        .last
            ul.ul_2
                li
                    span.te2 &#x6559;&#x80B2;&#x5E94;&#x7528;
                li
                    a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
                li
                    a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
                li
                    a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
                li
                    a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
                li
                    a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
        .last
            ul.ul_2
                li
                    span.te2 &#x8D26;&#x6237;
                li
                    a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
                li
                    a.pick_1(href='') Apple Store &#x8D26;&#x6237;
                li
                    a.pick_1(href='') iCloud.com
                li
                    a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
                li
                    a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
                li
                    a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
                li
                    a.pick_1(href='') &#x9690;&#x79C1;
                li
                    a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
        .last
            ul.ul_2
                li
                    span.te2 &#x5173;&#x4E8E; Apple
                li
                    a.pick_1(href='') Newsroom
                li
                    a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
                li
                    a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
                li
                    a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
                li
                    a.pick_1(href='') &#x6D3B;&#x52A8;
                li
                    a.pick_1(href='') &#x8054;&#x7CFB; Apple
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
    br
    br
    br
    span.te1
        | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
        span
            hr
            span.te1
                | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                span
