doctype html
head
    meta(charset='utf-8')
    title &#x8D2D;&#x4E70;Mac&#x914D;&#x4EF6;(&#x4E2D;&#x56FD;&#x5927;&#x9646;)
    link(rel='stylesheet', href='stylesheets/macpj.css', type='text/css')
    link(rel='canonical', href='https://www.apple.com/cn/shop/mac/mac-accessories')
.nav
    ul
        li
            a(href='https://www.apple.com/cn/mac/')
                img(src='images/applelogo1.png')
        span(style='color: #FFFFFF;') Mac
        li
            a iPad
        li
            a iPhone
        li
            a Watch
        li
            a Music
        li
            a &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a
                img(src='images/search.png')
        li
            a
                img(src='images/store.png')
.nav2
    div
        a.title Mac&#x914D;&#x4EF6;
        .right-s
            a.purchase &#x6D4F;&#x89C8;&#x5168;&#x90E8;
div
    .concent
        .p1
            .p2
                img(src='images/mac1.png', width='1440px', height='480px;')
            .p3
                h2
                    | &#x7CBE;&#x5F69;&#x5C3D;&#x76F8;&#x8FDE;&#x3002;
                p.p4
                    a(href='/cn/shop/mac/mac-accessories/power-cables')  &#x9009;&#x8D2D;&#x7535;&#x6E90;&#x4E0E;&#x7EBF;&#x7F06;&gt;
.text3
    h2.p5
        strong MAC
        |  &#x7CBE;&#x9009;&#x914D;&#x4EF6;
.text3
    .text5
        img.k1(src='images/mac2.png')
        img.k2(src='images/mac3.png')
        img.k3(src='images/mac4.png')
        img.k3(src='images/mac5.png')
        img.k3(src='images/mac6.png')
.text3
    h2.p5 &#x9F20;&#x6807;&#x548C;&#x952E;&#x76D8;
.text6
    img.k4(src='images/mac7.png')
    img.k4(src='images/mac8.png')
    img.k4(src='images/mac9.png')
br
.text3
    a(href='#') &#x9009;&#x8D2D;&#x9F20;&#x6807;&#x548C;&#x952E;&#x76D8;&gt;
br
.text3
    h2.p5 &#x65B0;&#x914D;&#x4EF6;
.lunbo
    .lb_img
        img(src='images/mac10.png', width='300px;')
        img(src='images/mac11.png', width='300px;')
        img(src='images/mac12.png', width='300px;')
        img(src='images/mac13.png', width='300px;')
        img(src='images/mac14.png', width='300px;')
        img(src='images/mac15.png', width='300px;')
        img(src='images/mac16.png', width='300px;')
        img(src='images/mac17.png', width='300px;')
.text3
    a(href='#') &#x9009;&#x8D2D;&#x65B0;&#x914D;&#x4EF6;&gt;
br
br
div
    .picture
        img(src='images/mac-applecare.jpg')
        h2.p5
            | &#x4FDD;&#x62A4;&#x4F60;&#x7684;Mac
            h2
                span.p6
                    | &#x8D2D;&#x4E70; AppleCare+ &#x670D;&#x52A1;&#x8BA1;&#x5212;&#xFF0C;&#x5C06;&#x4FDD;&#x4FEE;&#x671F;&#x5EF6;&#x957F;&#x4E09;&#x5E74;&#xFF0C;&#x5E76;&#x83B7;&#x5F97;&#x6765;&#x81EA; Apple &#x4E13;
                    br
                    | &#x5BB6;&#x7684;&#x670D;&#x52A1;&#x548C;&#x652F;&#x6301;&#x3002;
    .text3
        a(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&gt;
    br
    .text3
        h2.p5 &#x6309;&#x7C7B;&#x522B;&#x9009;&#x8D2D;
        span.p6 &#x53D1;&#x73B0;&#x5FC3;&#x4EEA;&#x7684;&#x914D;&#x4EF6;
    br
    br
    .p7
        .pp
            ul
                li
                    img(src='images/small1.png')
                    | &#x8F85;&#x52A9;&#x529F;&#x80FD;
                br
                li
                    img(src='images/small2.png')
                    | &#x4FDD;&#x62A4;&#x58F3;&#x53CA;&#x4FDD;&#x62A4;&#x88C5;&#x5907;
                br
                li
                    img(src='images/small3.png')
                    | &#x521B;&#x9020;&#x529B;
                br
                li
                    img(src='images/small4.png')
                    | &#x663E;&#x793A;&#x5C4F;&#x4E0E;&#x652F;&#x67B6;
                br
                li
                    img(src='images/small5.png')
                    | &#x8033;&#x673A;&#x4E0E;&#x626C;&#x58F0;&#x5668;
                br
        .pp
            ul
                li
                    img(src='images/small6.png')
                    | &#x9F20;&#x6807;&#x548C;&#x952E;&#x76D8;
                br
                li
                    img(src='images/small7.png')
                    | &#x7F51;&#x72B6;Wi-Fi&#x7F51;&#x7EDC;
                br
                li
                    img(src='images/small8.png')
                    | &#x6444;&#x5F71;
                br
                li
                    img(src='images/small9.png')
                    | &#x9500;&#x552E;&#x70B9;
                br
                li
                    img(src='images/small10.png')
                    | &#x7535;&#x6E90;&#x4E0E;&#x7EBF;&#x7F06;
                br
        .pp
            ul
                li
                    img(src='images/small11.png')
                    | &#x6253;&#x5370;&#x673A;&#x4E0E;&#x626B;&#x63CF;&#x4EEA;
                br
                li
                    img(src='images/small12.png')
                    | &#x8F6F;&#x4EF6;
                br
                li
                    img(src='images/small13.png')
                    | &#x5B58;&#x50A8;&#x5BB9;&#x91CF;
                br
    .text4
        .p8
            .picture
                img(src='images/title1.png')
            h2.p9 &#x524D;&#x5F80;Apple Store&#x96F6;&#x552E;&#x5E97;
            p.p10
                | &#x5230;Apple Store&#x96F6;&#x552E;&#x5E97;&#x4EB2;&#x8EAB;&#x4F53;&#x9A8C;&#x5404;&#x79CD;
                br
                | Apple&#x4EA7;&#x54C1;&#xFF0C;&#x6211;&#x4EEC;&#x8FD8;&#x5C06;&#x4E3A;&#x4F60;&#x89E3;&#x7B54;&#x5404;&#x79CD;&#x95EE;&#x9898;&#x3002;
            p
                br
                .text3
                    a(href='#') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;&gt;
        .p8
            .picture
                img(src='images/title2.png')
            h2.p9 &#x514D;&#x8D39;&#x9001;&#x8D27;
            p.p10 &#x4EAB;&#x53D7;&#x514D;&#x8D39;&#x9001;&#x8D27;&#x4E0A;&#x95E8;&#x670D;&#x52A1;
            p
                br
                .text3
                    a(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&gt;
        .p8
            .picture
                img(src='images/title3.png')
            h2.p9 &#x5206;&#x671F;&#x4ED8;&#x6B3E;
            p.p10
                | &#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x4FE1;&#x7528;&#x5361;&#x7528;&#x6237;&#x53EF;&#x9009;&#x62E9;&#x7075;&#x6D3B;&#x7684;&#x5206;
                br
                | &#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x5F0F;
            p
                br
                .text3
                    a(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&gt;
        .p8
            .picture
                img(src='images/title4.png')
            h2.p9 Today at Apple
            p.p10 &#x8EAB;&#x8FB9;&#x5404;&#x79CD;&#x6FC0;&#x53D1;&#x7075;&#x611F;&#x7684;&#x6D3B;&#x52A8;&#xFF0C;&#x7B49;&#x4F60;&#x6765;&#x53D1;&#x73B0;
            p
                br
                .text3
                    a(href='#') &#x67E5;&#x627E;&#x8BFE;&#x7A0B;&gt;
        hr
        .text4
            div
                .last
                    ul.ul_2
                        li
                            span.te8 Apple Store &#x5546;&#x5E97;
                        li
                            a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
                        li
                            a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
                        li
                            a.pick_1(href='') Today at Apple
                        li
                            a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
                        li
                            a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
                        li
                            a.pick_1(href='') Apple Store App
                        li
                            a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
                        li
                            a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                        li
                            a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
                        li
                            a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
                        li
                            a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
                .last
                    ul.ul_2
                        li
                            span.te8 &#x6559;&#x80B2;&#x5E94;&#x7528;
                        li
                            a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
                        li
                            a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
                        li
                            a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
                        li
                            a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
                        li
                            a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                .last
                    ul.ul_2
                        li
                            span.te8 &#x8D26;&#x6237;
                        li
                            a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
                        li
                            a.pick_1(href='') Apple Store &#x8D26;&#x6237;
                        li
                            a.pick_1(href='') iCloud.com
                        li
                            a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
                        li
                            a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
                        li
                            a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
                        li
                            a.pick_1(href='') &#x9690;&#x79C1;
                        li
                            a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                .last
                    ul.ul_2
                        li
                            span.te8 &#x5173;&#x4E8E; Apple
                        li
                            a.pick_1(href='') Newsroom
                        li
                            a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
                        li
                            a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
                        li
                            a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
                        li
                            a.pick_1(href='') &#x6D3B;&#x52A8;
                        li
                            a.pick_1(href='') &#x8054;&#x7CFB; Apple
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
                        li
                            span.none
                                | none
                                span
            br
            br
            br
            span.te7
                | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
                span
                    hr
                    span.te7
                        | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                        span
