doctype html
head
    meta(charset='utf-8')
    title Mac Pro - Apple(&#x4E2D;&#x56FD;&#x5927;&#x9646;)
    link(href='stylesheets/macpro.css', rel='stylesheet', type='text/css')
.top
    ul
        li
            a(href='')  Apple
        li
            a(href='')  Mac
        li
            a(href='')  iPad
        li
            a(href='')  iPhone
        li
            a(href='')  Watch
        li
            a(href='')  Music
        li
            a(href='')  &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a(href='')  &#x641C;&#x7D22;
        li
            a(href='')  &#x8D2D;&#x7269;&#x8F66;
div(style='text-align: center;')
    .div1 Mac    Pro
    img.MacPro_img1(src='images/7.jpg')
    br
    .text1
        h2 &#x4EE5;&#x5B9E;&#x529B;&#x5237;&#x65B0;&#x4E00;&#x5207;&#x3002; &#x8FD9;&#x662F;&#x4E00;&#x90E8;&#x65B9;&#x65B9;&#x9762;&#x9762;&#x5747;&#x767B;&#x5CF0;&#x9020;&#x6781;&#x7684; Mac&#x3002;
    br
    | &#x5B83;&#x62E5;&#x6709;&#x6781;&#x81F4;&#x7684;&#x6027;&#x80FD;&#x3001;&#x5F3A;&#x5927;&#x7684;&#x6269;&#x5C55;&#x80FD;&#x529B;&#xFF0C;&#x4EE5;&#x53CA;&#x5353;&#x8D8A;&#x7684;&#x914D;&#x7F6E;&#x6F5C;&#x80FD;&#xFF0C;
    br
    | &#x8BA9;&#x5E7F;&#x5927;&#x4E13;&#x4E1A;&#x7528;&#x6237;&#x80FD;&#x7A81;&#x7834;&#x6781;&#x9650;&#xFF0C;&#x6311;&#x6218;&#x4E0D;&#x53EF;&#x80FD;&#x3002;
    img.MacPro_img2(src='images/11.jpg')
    img.MacPro_img3(src='images/3.jpg')
    br
    h1
        | &#x529F;&#x80FD;&#x51B3;&#x5B9A;&#x5F62;&#x5F0F;&#x3002; Mac Pro &#x8BBE;&#x8BA1;&#x7684;&#x5404;&#x4E2A;&#x65B9;&#x9762;&#x90FD;&#x8FFD;&#x6C42;&#x7740;&#x6027;&#x80FD;&#x8868;&#x73B0;&#x3002;
        br
        | &#x73AF;&#x7ED5;&#x4E0D;&#x9508;&#x94A2;&#x5185;&#x6846;&#x7684;&#x94DD;&#x91D1;&#x5C5E;&#x673A;&#x7BB1;&#xFF0C;&#x5728;&#x63D0;&#x8D77;&#x4E4B;&#x540E;&#xFF0C;
        br
        | &#x5373;&#x53EF; 360 &#x5EA6;&#x5168;&#x65B9;&#x4F4D;&#x76F4;&#x8FBE;&#x5404;&#x4E2A;&#x7EC4;&#x4EF6;&#x548C;&#x4F17;&#x591A;&#x914D;&#x7F6E;&#x9009;&#x9879;&#x3002;
        br
        | &#x4E07;&#x822C;&#x53EF;&#x80FD;&#xFF0C;&#x5C31;&#x4ECE;&#x8FD9;&#x91CC;&#x5F00;&#x542F;&#x3002;
    br
div
    br
    .MacPro_img4
        img(src='images/5.jpg')
div
    br
    .MacPro_img5
        img(src='images/8.jpg')
    .MacPro_img6
        img(src='images/10.jpg')
    br
h2
    br
    | &#x6700;&#x9AD8;&#x8FBE; 28 &#x6838;&#x7684;&#x5A01;&#x529B;&#xFF0C;&#x7EB5;&#x60C5;&#x6325;&#x6D12;&#x521B;&#x9020;&#x529B;&#x3002; Mac Pro &#x4E13;&#x4E3A;&#x5BF9;&#x4E2D;&#x592E;&#x5904;&#x7406;&#x5668;&#x6027;&#x80FD;&#x6709;&#x7740;&#x6781;&#x9AD8;&#x8981;&#x6C42;&#x7684;&#x4E13;&#x4E1A;&#x7528;&#x6237;&#x800C;&#x8BBE;&#x8BA1;&#x3002;
    br
    | &#x65E0;&#x8BBA;&#x662F;&#x540E;&#x671F;&#x5236;&#x4F5C;&#x6E32;&#x67D3;&#xFF0C;&#x6F14;&#x594F;&#x6570;&#x767E;&#x79CD;&#x865A;&#x62DF;&#x4E50;&#x5668;&#xFF0C;&#x8FD8;&#x662F;&#x6A21;&#x62DF;&#x591A;&#x90E8;&#x8BBE;&#x5907;&#x6765;&#x8FD0;&#x884C;&#x4E00;&#x6B3E; iOS app&#xFF0C;
    br
    | &#x5B83;&#x90FD;&#x6E38;&#x5203;&#x6709;&#x4F59;&#x3002;&#x7CFB;&#x7EDF;&#x7684;&#x6838;&#x5FC3;&#x662F;&#x4E00;&#x6B3E;&#x5168;&#x65B0; Intel Xeon &#x5904;&#x7406;&#x5668;&#xFF0C;&#x6700;&#x9AD8;&#x53EF;&#x8FBE; 28 &#x6838;&#xFF0C;&#x800C;&#x8FD9;&#x4E5F;&#x662F; Mac &#x5386;&#x6765;&#x4E4B;&#x6700;&#x3002;
    br
    | &#x6B64;&#x5916;&#xFF0C;&#x5B83;&#x8FD8;&#x914D;&#x5907;&#x5927;&#x578B;&#x4E8C;&#x7EA7;&#x7F13;&#x5B58;&#x548C;&#x5171;&#x4EAB;&#x4E09;&#x7EA7;&#x7F13;&#x5B58;&#xFF0C;&#x5E76;&#x62E5;&#x6709; 64 &#x6761; PCI Express &#x901A;&#x9053;&#xFF0C;&#x63D0;&#x4F9B;&#x4E86;&#x6781;&#x9AD8;&#x7684;&#x5904;&#x7406;&#x5668;&#x6570;&#x636E;&#x4F20;&#x8F93;&#x5E26;&#x5BBD;&#x3002;
div
    br
    .MacPro_img7
        img(src='images/1.jpg')
    .MacPro_img8
        img(src='images/12.jpg')
h2
    | &#x8BA9;&#x6211;&#x4EEC;&#x91CD;&#x65B0;&#x8BA4;&#x8BC6;&#x4E00;&#x4E0B;&#x5185;&#x5B58;&#x3002; &#x591A;&#x6838;&#x5FC3;&#x5DE5;&#x4F5C;&#x7AD9;&#x5904;&#x7406;&#x5668;&#x9700;&#x8981;&#x6781;&#x5927;&#x7684;&#x5185;&#x5B58;&#x652F;&#x6301;&#x3002;
    br
    | &#x5168;&#x65B0; Mac Pro &#x914D;&#x6709;&#x516D;&#x901A;&#x9053;&#x7684;&#x9AD8;&#x901F; ECC &#x5185;&#x5B58;&#x548C; 12 &#x4E2A;&#x5B9E;&#x4F53; DIMM &#x63D2;&#x69FD;&#xFF0C;
    | &#x9;&#x9;&#x9;&#x5185;&#x5B58;&#x6700;&#x9AD8;&#x53EF;&#x6269;&#x5145;&#x81F3; 1.5TB&#xFF0C;&#x56E0;&#x6B64;&#x4E13;&#x4E1A;&#x7528;&#x6237;&#x80FD;&#x8FC5;&#x901F;&#x6D41;&#x7545;&#x5730;&#x8FDB;&#x884C;&#x5404;&#x79CD;&#x5DE5;&#x4F5C;&#xFF0C;
    br
    | &#x5982;&#x5904;&#x7406;&#x5927;&#x578B;&#x9879;&#x76EE;&#x3001;&#x5206;&#x6790;&#x5E9E;&#x5927;&#x6570;&#x636E;&#x96C6;&#x6216;&#x8FD0;&#x884C;&#x591A;&#x4E2A;&#x4E13;&#x4E1A;&#x5E94;&#x7528;&#x7A0B;&#x5E8F;&#x7B49;&#x3002;
    br
    | &#x4E00;&#x822C;&#x7684;&#x5854;&#x5F0F;&#x4E3B;&#x673A;&#x5C06;&#x5185;&#x5B58;&#x6761;&#x585E;&#x5728;&#x5F88;&#x96BE;&#x591F;&#x5230;&#x7684;&#x4F4D;&#x7F6E;&#xFF0C;
    | &#x9;&#x9;&#x9;&#x800C; Mac Pro &#x91C7;&#x7528;&#x4E86;&#x53CC;&#x9762;&#x4E3B;&#x677F;&#xFF0C;&#x5C06;&#x63A5;&#x89E6;&#x548C;&#x64CD;&#x4F5C;&#x53D8;&#x5F97;&#x975E;&#x5E38;&#x5BB9;&#x6613;&#x3002;
h2
    | &#x6700;&#x9AD8;&#x8FBE; 2933MHz DDR4 ECC &#x5185;&#x5B58;
    br
    | &#x6700;&#x9AD8;&#x8FBE; 140GB/s &#x663E;&#x5B58;&#x5E26;&#x5BBD;
    br
    | &#x516D;&#x901A;&#x9053;&#x5185;&#x5B58;&#x7CFB;&#x7EDF;
hr
.last
    ul.ul_2
        li
            span.te8 Apple Store &#x5546;&#x5E97;
        li
            a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
        li
            a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
        li
            a.pick_1(href='') Today at Apple
        li
            a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
        li
            a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
        li
            a.pick_1(href='') Apple Store App
        li
            a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
        li
            a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
        li
            a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
        li
            a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
        li
            a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
.last
    ul.ul_2
        li
            span.te8 &#x6559;&#x80B2;&#x5E94;&#x7528;
        li
            a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
        li
            a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
        li
            a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
        li
            a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
        li
            a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
.last
    ul.ul_2
        li
            span.te8 &#x8D26;&#x6237;
        li
            a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
        li
            a.pick_1(href='') Apple Store &#x8D26;&#x6237;
        li
            a.pick_1(href='') iCloud.com
        li
            a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
        li
            a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
        li
            a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
        li
            a.pick_1(href='') &#x9690;&#x79C1;
        li
            a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
.last
    ul.ul_2
        li
            span.te8 &#x5173;&#x4E8E; Apple
        li
            a.pick_1(href='') Newsroom
        li
            a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
        li
            a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
        li
            a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
        li
            a.pick_1(href='') &#x6D3B;&#x52A8;
        li
            a.pick_1(href='') &#x8054;&#x7CFB; Apple
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
br
br
br
span.te7
    | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
    span
        hr
        span.te7
            | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
            span
                div
