head
    meta(charset='utf-8')
    title &#x6CE8;&#x518C;
    script(src='javascripts/register.js')
    link(href= 'stylesheets/do.css' type="text/css" rel="stylesheet")
form(action='mi.html', method='get', onsubmit='return toValid()')
    input#user(type='text', placeholder='请输入用户名', required='')
    span#user_err
    br
    br
    input#pass(type='password', placeholder='请输入密码', required='')
    span#pass_err
    br
    br
    input#pass_two(type='password', placeholder='请再次输入密码', required='')
    span#pass_two_err
    br
    br
    input(type='submit')
body
html