doctype html
head
    meta(charset='utf-8')
    title | &#x96F6;&#x5229;&#x7387;&#x4FE1;&#x7528;&#x5361;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#xFF08;Apple &#x4EA7;&#x54C1;&#xFF09;)
    link(rel='stylesheet', href='stylesheets/syy.css', type='text/css')
    link(rel='canonical', href='https://www.apple.com/cn/shop/mac/mac-accessories')
.nav
    ul
        li
            a &#x6559;&#x80B2;&#x5546;&#x5E97;&#x9996;&#x9875;
        li.w1 |
        li
            a &#x9000;&#x51FA;&#x5546;&#x5E97;
.nav2
    ul
        li
            a(href='https://www.apple.com/cn/shop/mac/mac-accessories')
                img(src='images/applelogo.png')
        li
            a(href='http://localhost:3000/macmain') Mac
        li
        li
            a iPad
        li
            a iPhone
        li
            a Watch
        li
            a Music
        li
            a &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a
                img(src='images/search.png')
        li
            a
                img(src='images/store.png')
.text1
    h1 &#x591A;&#x79CD;&#x7075;&#x6D3B;&#x4FBF;&#x6377;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x4F9B;&#x4F60;&#x9009;&#x62E9;&#x3002;
    br
    | &#x6211;&#x4EEC;&#x7684;&#x5408;&#x4F5C;&#x4F19;&#x4F34;&#x63D0;&#x4F9B;&#x591A;&#x79CD;&#x4FBF;&#x6377;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x4F9B;&#x4F60;&#x9009;&#x62E9;&#x3002;
.img1
    img(src='images/fk1.jpg')
table.table1(border='3', ;='')
    tr
        th &#x91D1;&#x878D;&#x5408;&#x4F5C;&#x4F19;&#x4F34;
        th &#x4E09;&#x4E2A;&#x6708;
        th &#x4E00;&#x4E2A;&#x6708;
        th &#x6700;&#x4F4E;&#x9650;&#x989D;
    tr
        td
            img(src='images/fk2.jpg')
        td &nbsp;&nbsp;&nbsp;&nbsp;0%
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RMB 500
    tr
        td
            img(src='images/fk3.jpg')
        td &nbsp;&nbsp;&nbsp;&nbsp;0%
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0%
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RMB 500
    tr
        td
            img(src='images/fk4.jpg')
        td &nbsp;&nbsp;&nbsp;&nbsp;0%
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RMB 500
    tr
        td
            img(src='images/fk5.jpg')
        td &nbsp;&nbsp;&nbsp;&nbsp;0%
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-
        td &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RMB 500
.text2
    h2 Apple &#x63D0;&#x4F9B;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;
    br
    | &#x4FBF;&#x6377;&#x7684;&#x6309;&#x6708;&#x4ED8;&#x6B3E;&#x65B9;&#x5F0F;
    br
    br
    | &#x5982;&#x679C;&#x4F60;&#x5E0C;&#x671B;&#x4EE5;&#x7ECF;&#x6D4E;&#x5B9E;&#x60E0;&#x7684;&#x6708;&#x4ED8;&#x65B9;&#x5F0F;&#x8D2D;&#x4E70;&#x4EA7;&#x54C1;&#xFF0C;
    br
    | &#x6211;&#x4EEC;&#x63D0;&#x4F9B;&#x4E00;&#x7CFB;&#x5217;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x9009;&#x9879;&#x3002;
    br
    br
    | &#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x5408;&#x4F5C;&#x4F19;&#x4F34;
    br
    | &#x4ECE;&#x6211;&#x4EEC;&#x7684;&#x591A;&#x5BB6;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x5408;&#x4F5C;&#x4F19;&#x4F34;&#x4E2D;&#x6311;&#x9009;&#x4E00;&#x5BB6;&#xFF0C;&#x5E76;&#x9009;&#x62E9;
    br
    | &#x9002;&#x5408;&#x4F60;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x671F;&#x9650; (&#x5982; 12 &#x4E2A;&#x6708;)&#x3002;
    br
    br
    | Apple Store &#x5728;&#x7EBF;&#x5546;&#x5E97;&#x548C; Apple Store &#x96F6;&#x552E;&#x5E97;
    br
    | Apple Store &#x5728;&#x7EBF;&#x5546;&#x5E97;&#x548C; Apple Store &#x96F6;&#x552E;&#x5E97;&#x5747;
    br
    | &#x63D0;&#x4F9B;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x3002;
    br
    br
    | &#x5E97;&#x5185;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x4E0E;&#x4E0A;&#x8FF0;&#x65B9;&#x6848;&#x4E0D;&#x540C;&#x3002;&#x8BF7;&#x5230;&#x5E97;&#x54A8;&#x8BE2;
    br
    |  Specialist &#x4E13;&#x5BB6;&#x3002;
.text3
    h2 &#x6D41;&#x7A0B;&#x8BF4;&#x660E;&#xFF1A;
    br
    | &#x9009;&#x62E9;&#x4F60;&#x7684;&#x4EA7;&#x54C1;&#x3002;
    br
    | &#x7ACB;&#x5373;&#x9009;&#x8D2D;&#xFF0C;&#x5C06;&#x9009;&#x597D;&#x7684;&#x5546;&#x54C1;&#x6DFB;&#x52A0;&#x5230;&#x8D2D;&#x7269;&#x888B;&#x3002;
    br
    br
    | &#x7EE7;&#x7EED;&#x7ED3;&#x8D26;&#x3002;
    br
    | &#x8F93;&#x5165;&#x4F60;&#x7684;&#x4FE1;&#x7528;&#x5361;&#x8BE6;&#x7EC6;&#x4FE1;&#x606F;&#x6216;&#x626B;&#x63CF;&#x4E8C;&#x7EF4;&#x7801;&#xFF0C;
    br
    | &#x5E76;&#x9009;&#x62E9;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x671F;&#x9650; (&#x5982; 12 &#x4E2A;&#x6708;)&#x3002;
    br
    br
    | &#x8BA2;&#x5355;&#x53D1;&#x8D27;&#x3002;
    br
    | &#x6211;&#x4EEC;&#x4F1A;&#x5728;&#x8BA2;&#x5355;&#x53D1;&#x8D27;&#x65F6;&#x901A;&#x8FC7;&#x7535;&#x5B50;&#x90AE;&#x4EF6;&#x901A;&#x77E5;&#x4F60;&#xFF0C;&#x5E76;&#x786E;&#x8BA4;&#x9001;&#x8FBE;&#x65E5;&#x671F;&#x3002;
    br
    br
    | &#x6309;&#x6708;&#x4ED8;&#x6B3E;&#x3002;
    br
    | &#x4F60;&#x5C06;&#x6309;&#x6240;&#x9009;&#x65B9;&#x6848;&#x5F00;&#x59CB;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x3002;&#x6709;&#x5173;&#x8BE6;&#x60C5;&#xFF0C;
    br
    | &#x8BF7;&#x53C2;&#x9605;&#x4F60;&#x6BCF;&#x6708;&#x7684;&#x94F6;&#x884C;&#x5BF9;&#x8D26;&#x5355;&#x6216;&#x652F;&#x4ED8;&#x5B9D;&#x8D26;&#x6237;&#x3002;
    br
    br
    | &#x9700;&#x8981;&#x5E2E;&#x52A9;&#xFF1F;
    br
    | &#x8BF7;&#x81F4;&#x7535; 400 666 8800 &#x8054;&#x7CFB;&#x6211;&#x4EEC;&#x6216; &#x7ACB;&#x5373;&#x5728;&#x7EBF;&#x4EA4;&#x6D41;&#x3002;
    br
    |  (&#x5728;&#x65B0;&#x7A97;&#x53E3;&#x4E2D;&#x6253;&#x5F00;)
.text4
    li
        br
        | &#x8BF7;&#x6CE8;&#x610F;&#x4EE5;&#x4E0B;&#x91CD;&#x8981;&#x6761;&#x6B3E;&#xFF1A;
        br
        | &#x4E0A;&#x8FF0;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x5185;&#x5BB9;&#x53EF;&#x80FD;&#x4F1A;&#x968F;&#x65F6;&#x53D8;&#x52A8;&#xFF0C;&#x6055;&#x4E0D;&#x53E6;&#x884C;&#x901A;&#x77E5;&#x3002;
        br
        | &#x4F7F;&#x7528;&#x501F;&#x8BB0;&#x5361;&#x8D2D;&#x4E70;&#x4EA7;&#x54C1;&#x4E0D;&#x80FD;&#x4EAB;&#x53D7;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x3002;
        br
        | &#x4E0A;&#x8FF0;&#x670D;&#x52A1;&#x4E0D;&#x4E00;&#x5B9A;&#x9002;&#x7528;&#x4E8E;&#x4ECE; Apple Store &#x96F6;&#x552E;&#x5E97;&#x6216; Apple &#x7ECF;&#x9500;&#x5546;&#x5904;&#x8D2D;&#x4E70;&#x4EA7;&#x54C1;&#x3002;
        br
        | &#x8BF7;&#x54A8;&#x8BE2; Apple Store &#x96F6;&#x552E;&#x5E97;&#xFF0C;&#x4E86;&#x89E3;&#x6709;&#x5173;&#x5E97;&#x5185;&#x8D2D;&#x4E70;&#x4EA7;&#x54C1;&#x65F6;&#x53EF;&#x9009;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x3002;
        br
        | Apple Store &#x5728;&#x7EBF;&#x5546;&#x5E97;&#x6240;&#x793A;&#x7684;&#x6BCF;&#x6708;&#x8FD8;&#x6B3E;&#x989D;&#x4EC5;&#x4E3A;&#x4F30;&#x7B97;&#x503C;&#x3002;
        br
        | &#x5177;&#x4F53;&#x7684;&#x6BCF;&#x6708;&#x8FD8;&#x6B3E;&#x989D;&#x7531;&#x4F60;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x63D0;&#x4F9B;&#x5546;&#x8BA1;&#x7B97;&#x786E;&#x5B9A;&#xFF0C;&#x5E76;&#x53CD;&#x6620;&#x5728;&#x4F60;&#x6BCF;&#x6708;&#x7684;&#x5BF9;&#x8D26;&#x5355;&#x4E0A;&#x3002;
        br
        | &#x672C;&#x9875;&#x63D0;&#x4F9B;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x5408;&#x4F5C;&#x4F19;&#x4F34;&#x3001;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x4EE5;&#x53CA;&#x6761;&#x6B3E;&#x4E0E;&#x6761;&#x4EF6;&#x9002;&#x7528;&#x4E8E;&#x901A;&#x8FC7;&#x7535;&#x8BDD;&#x3001;
        br
        | &#x5728;&#x7EBF;&#x4EA4;&#x6D41; (&#x5728;&#x65B0;&#x7A97;&#x53E3;&#x4E2D;&#x6253;&#x5F00;) &#x6216; Apple Store &#x5728;&#x7EBF;&#x5546;&#x5E97;&#x8FDB;&#x884C;&#x7684;&#x4EA7;&#x54C1;&#x8BA2;&#x8D2D;&#x3002;
hr
.text5
    br
    | &#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x7684;&#x6761;&#x4EF6;
    br
    | &#x4E0A;&#x8FF0;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x7531;&#x4FE1;&#x7528;&#x5361;&#x53D1;&#x5361;&#x673A;&#x6784;&#x62DB;&#x5546;&#x94F6;&#x884C;&#x3001;&#x4E2D;&#x56FD;&#x5EFA;&#x8BBE;&#x94F6;&#x884C;&#x3001;&#x4E2D;&#x56FD;&#x5DE5;&#x5546;&#x94F6;&#x884C;&#x4EE5;&#x53CA;&#x8682;&#x8681;&#x91D1;&#x670D; (&#x82B1;&#x5457;) &#x9762;&#x5411;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x4E2D;&#x56FD;&#x5927;&#x9646;&#x5C45;&#x6C11;&#x63D0;&#x4F9B;&#x3002;&#x6240;&#x6709;&#x8D2D;&#x7269;&#x5206;&#x671F;&#x5747;&#x9700;&#x7ECF;&#x4F60;&#x7684;&#x4FE1;&#x7528;&#x5361;&#x53D1;&#x5361;&#x673A;&#x6784;&#x6279;&#x51C6;&#xFF0C;&#x5BF9;&#x4E8E;&#x82B1;&#x5457;&#x5206;&#x671F;&#xFF0C;
    br
    | &#x9700;&#x7ECF;&#x8682;&#x8681;&#x91D1;&#x670D;&#x6279;&#x51C6;&#x3002;&#x5982;&#x679C;&#x4F60;&#x9009;&#x62E9;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x672A;&#x83B7;&#x5F97;&#x4FE1;&#x7528;&#x5361;&#x53D1;&#x5361;&#x673A;&#x6784;&#x6216;&#x8682;&#x8681;&#x91D1;&#x670D;&#x7684;&#x6279;&#x51C6;&#xFF0C;Apple &#x5C06;&#x4E0D;&#x4F1A;&#x88AB;&#x544A;&#x77E5;&#x539F;&#x56E0;&#x3002;&#x8BF7;&#x53C2;&#x9605;&#x62DB;&#x5546;&#x94F6;&#x884C;&#x3001;&#x4E2D;&#x56FD;&#x5EFA;&#x8BBE;&#x94F6;&#x884C;&#x3001;&#x4E2D;&#x56FD;&#x5DE5;&#x5546;&#x94F6;&#x884C;&#x548C;&#x652F;&#x4ED8;&#x5B9D;&#x7F51;&#x7AD9;&#xFF0C;&#x4E86;&#x89E3;&#x76F8;&#x5173;&#x6761;&#x4EF6;&#x3001;&#x8D39;&#x7528;&#x548C;&#x6536;&#x8D39;&#x3002;
    br
    | &#x4E0A;&#x8FF0;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x53EA;&#x9002;&#x7528;&#x4E8E;&#x4E2A;&#x4EBA;&#x6D88;&#x8D39;&#x8005;&#x3002;&#x4F01;&#x4E1A;&#x548C;&#x6559;&#x80B2;&#x673A;&#x6784;&#x5BA2;&#x6237;&#x3001;&#x4F01;&#x4E1A;&#x5458;&#x5DE5;&#x8D2D;&#x4E70;&#x8BA1;&#x5212; (EPP) &#x548C; Apple &#x5458;&#x5DE5;&#x8D2D;&#x4E70;&#x8BA1;&#x5212; (EPP) &#x9002;&#x7528;&#x7684;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x65B9;&#x6848;&#x53EF;&#x80FD;&#x4E0E;&#x4E0A;&#x8FF0;&#x65B9;&#x6848;&#x4E0D;&#x540C;&#xFF0C;&#x8BE6;&#x60C5;&#x8BF7;&#x53C2;&#x89C1;&#x6559;&#x80B2;&#x5546;&#x5E97;&#x3001;EPP &#x5728;&#x7EBF;&#x5546;&#x5E97;
    br
    | &#x548C;&#x4F01;&#x4E1A;&#x5546;&#x5E97;&#x3002;&#x516C;&#x53F8;&#x4FE1;&#x7528;&#x5361;&#x65E0;&#x8D44;&#x683C;&#x7533;&#x8BF7;&#x5206;&#x671F;&#x3002;&#x8BA2;&#x5355;&#x6700;&#x9AD8;&#x9650;&#x989D;&#x4E3A; RMB 150,000&#x3002;
    br
    | &#x5F53;&#x5546;&#x54C1;&#x6709;&#x8D27;&#x5E76;/&#x6216;&#x53D1;&#x8D27;&#x65F6;&#xFF0C;&#x8D2D;&#x7269;&#x91D1;&#x989D;&#x5C06;&#x8BA1;&#x5165;&#x4F60;&#x7684;&#x4FE1;&#x7528;&#x5361;&#x6216;&#x652F;&#x4ED8;&#x5B9D;&#x8D26;&#x6237;&#x8D26;&#x5355;&#x3002;&#x76F8;&#x5173;&#x8D22;&#x52A1;&#x8D39;&#x7528;&#x5C06;&#x663E;&#x793A;&#x5728;&#x4F60;&#x7684;&#x4FE1;&#x7528;&#x5361;&#x5BF9;&#x8D26;&#x5355;&#x6216;&#x652F;&#x4ED8;&#x5B9D;&#x8D26;&#x6237;&#x4E2D;&#x3002;
    br
    | &#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x4E0E;&#x65B0;&#x5B66;&#x671F;&#x4F18;&#x60E0;&#x6D3B;&#x52A8;
    br
    | &#x8D2D;&#x81EA; Apple Store &#x5728;&#x7EBF;&#x5546;&#x5E97;&#x7684;&#x65B0;&#x5B66;&#x671F;&#x4F18;&#x60E0;&#x6D3B;&#x52A8;&#x8BA2;&#x5355;&#xFF0C;&#x53EF;&#x9009;&#x62E9; 3 &#x4E2A;&#x6708;&#x514D;&#x606F;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x3002;
    br
    | &#x8D2D;&#x81EA; Apple Store &#x96F6;&#x552E;&#x5E97;&#x7684;&#x65B0;&#x5B66;&#x671F;&#x4F18;&#x60E0;&#x6D3B;&#x52A8;&#x8BA2;&#x5355;&#xFF0C;&#x53EF;&#x5728;&#x5E97;&#x5185;&#x4F7F;&#x7528;&#x4FE1;&#x7528;&#x5361;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#xFF0C;&#x4F46;&#x4E0D;&#x63D0;&#x4F9B;&#x514D;&#x606F;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x3002;
    br
    | &#x4EA7;&#x54C1;&#x6309;&#x5E7F;&#x544A;&#x5BA3;&#x4F20;&#x4EF7;&#x6216;&#x6807;&#x4EF7;&#x63D0;&#x4F9B;&#x5206;&#x671F;&#x4ED8;&#x6B3E;&#x670D;&#x52A1;&#x3002;&#x4EF7;&#x683C;&#x5305;&#x542B;&#x589E;&#x503C;&#x7A0E;&#x3002;&#x6240;&#x6709;&#x8BA2;&#x5355;&#x5747;&#x53EF;&#x4EAB;&#x53D7;&#x514D;&#x8D39;&#x9001;&#x8D27;&#x670D;&#x52A1;&#x3002;
    br
    | &#x6B64;&#x4FE1;&#x606F;&#x66F4;&#x65B0;&#x4E8E; 2019 &#x5E74; 7 &#x6708; 9 &#x65E5;&#x3002;
hr
.last
    ul.ul_2
        li
            span.te8 Apple Store &#x5546;&#x5E97;
        li
            a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
        li
            a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
        li
            a.pick_1(href='') Today at Apple
        li
            a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
        li
            a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
        li
            a.pick_1(href='') Apple Store App
        li
            a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
        li
            a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
        li
            a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
        li
            a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
        li
            a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
.last
    ul.ul_2
        li
            span.te8 &#x6559;&#x80B2;&#x5E94;&#x7528;
        li
            a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
        li
            a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
        li
            a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
        li
            a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
        li
            a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
.last
    ul.ul_2
        li
            span.te8 &#x8D26;&#x6237;
        li
            a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
        li
            a.pick_1(href='') Apple Store &#x8D26;&#x6237;
        li
            a.pick_1(href='') iCloud.com
        li
            a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
        li
            a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
        li
            a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
        li
            a.pick_1(href='') &#x9690;&#x79C1;
        li
            a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
.last
    ul.ul_2
        li
            span.te8 &#x5173;&#x4E8E; Apple
        li
            a.pick_1(href='') Newsroom
        li
            a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
        li
            a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
        li
            a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
        li
            a.pick_1(href='') &#x6D3B;&#x52A8;
        li
            a.pick_1(href='') &#x8054;&#x7CFB; Apple
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
        li
            span.none
                | none
                span
.text6
    br
    | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x524D;&#x5F80; Apple Store &#x96F6;&#x552E;&#x5E97;&#xFF0C;&#x81F4;&#x7535; 400-666-8800 &#x6216;&#x67E5;&#x627E;&#x5728;&#x4F60;&#x9644;&#x8FD1;&#x7684;&#x6388;&#x6743;&#x7ECF;&#x9500;&#x5546;&#x3002;
    hr
    br
    | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;&#x9690;&#x79C1;&#x653F;&#x7B56;&#x4F7F;&#x7528;&#x6761;&#x6B3E;&#x9500;&#x552E;&#x653F;&#x7B56;&#x7F51;&#x7AD9;&#x5730;&#x56FE;
