doctype html
head
    meta(charset='utf-8')
    title &#x9001;&#x8D27;&#x4F18;&#x60E0;&#x53CA;&#x9000;&#x8D27;
    link(rel='stylesheet', href='stylesheets/tuihuoyh.css', type='text/css')
    link(rel='canonical', href='https://www.apple.com/cn/shop/mac/mac-accessories')
.nav
    ul
        li
            a &#x6559;&#x80B2;&#x5546;&#x5E97;&#x9996;&#x9875;
        li.w1 |
        li
            a &#x9000;&#x51FA;&#x5546;&#x5E97;
.nav2
    ul
        li
            a(href='https://www.apple.com/cn/mac/')
                img(src='images/applelogo.png')
        li
            a Mac
        li
            a iPad
        li
            a iPhone
        li
            a Watch
        li
            a Music
        li
            a &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a
                img(src='images/search.png')
        li
            a
                img(src='images/store.png')
.k1
.concent
    .k2
        h2.p1
            | &#x83B7;&#x5F97;&#x60F3;&#x8981;&#x7684;Apple&#x4EA7;&#x54C1;&#xFF0C;
            br
            | &#x4ECE;&#x672A;&#x5982;&#x6B64;&#x8F7B;&#x677E;&#x3002;
        p.p2 &#x5C3D;&#x7BA1;&#x4F60;&#x4E0D;&#x592A;&#x53EF;&#x80FD;&#x9700;&#x8981;&#x5BC4;&#x56DE;&#x4EA7;&#x54C1;&#xFF0C;&#x6211;&#x4EEC;&#x8FD8;&#x662F;&#x7B80;&#x5316;&#x4E86;&#x76F8;&#x5173;&#x6D41;&#x7A0B;&#x3002;
        br
        hr(style='width: 80%;')
        br
        .k3
            span.p3 &#x9001;&#x8D27;&#x5FEB;&#x6377;&#x3002;
            hr(style='width: 430px;')
            .k4
                img(src='images/songhuo.png', height='80px;', width='80px;')
            .k5
                span.p4 &#x514D;&#x8D39;&#x9001;&#x8D27;&#x4E0A;&#x95E8;
                br
                p.p5 &#x5168;&#x90E8;&#x8BA2;&#x5355;&#x5747;&#x53EF;&#x514D;&#x8D39;&#x9001;&#x8D27;,&#x9664;&#x4E86;&#x7535;&#x5B50;&#x90AE;&#x4EF6;&#x901A;&#x77E5;&#x4EE5;&#x5916;&#xFF0C;&#x6211;&#x4EEC;&#x8FD8;&#x4F1A;&#x5728;&#x4F60;&#x7684;&#x4EA7;&#x54C1;&#x53D1;&#x8D27;&#x540E;&#x5411;&#x4F60;&#x53D1;&#x9001;&#x77ED;&#x4FE1;&#x3002;&#x4E00;&#x65E6;&#x8BA2;&#x5355;&#x6295;&#x5165;&#x8FD0;&#x9001;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x5168;&#x5929;&#x5019;&#x8FFD;&#x8E2A;&#x67E5;&#x8BE2;&#x3002;
                br
                p.p5
                    a(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&#x9001;&#x8D27;&#x4FE1;&#x606F;&gt;
        div
        .k3
            span.p3 &#x9000;&#x8D27;&#x540C;&#x6837;&#x4FBF;&#x6377;&#x3002;
            hr(style='width: 430px;')
            .k4
                img(src='images/tuihuo.png', height='80px;', width='80px;')
            .k5
                span.p4 &#x4E0D;&#x8BBA;&#x4EFB;&#x4F55;&#x7406;&#x7531;&#xFF0C;&#x5747;&#x53EF;&#x9000;&#x8FD8;&#x4F60;&#x7684;&#x5546;&#x54C1;&#x3002;
                br
                p.p5
                    | &#x5BF9;&#x4E8E;&#x5408;&#x683C;&#x4EA7;&#x54C1;&#xFF0C;&#x4F60;&#x53EF;&#x4EE5;&#x5728;&#x6536;&#x5230;&#x4EA7;&#x54C1;&#x4E4B;&#x65E5;&#x8D77;&#x7684;14&#x4E2A;&#x65E5;&#x5386;&#x5185;&#x8FDB;&#x884C;&#x9000;&#x8D27;&#x3002;&#x767B;&#x5F55;&#x4F60;&#x7684;&#xFF0C;&#x5B89;&#x6392;&#x53D6;&#x8D27;&#x3002;&#x6216;&#x81F4;&#x7535;&#x6211;&#x4EEC;&#x5E2E;&#x4F60;&#x5B89;&#x6392;&#x3002;&#x7136;&#x540E;&#x5C06;&#x4EA7;&#x54C1;&#x6253;&#x5305;&#xFF0C;&#x8D34;&#x4E0A;&#x6807;&#x7B7E;&#xFF0C;&#x6211;&#x4EEC;&#x4F1A;&#x514D;&#x8D39;&#x4E0A;&#x95E8;&#x63D0;&#x53D6;&#x3002;&#x8BB0;&#x5F97;&#x83B7;&#x53D6;&#x8DDF;&#x8E2A;&#x53F7;&#x7801;&#x3002;
                br
                p.p5
                    a(href='#') &#x8FDB;&#x4E00;&#x6B65;&#x4E86;&#x89E3;&#x9001;&#x8D27;&#x4FE1;&#x606F;&gt;
    br
    br
    div
        .last
            ul.ul_2
                li
                    span.te2 Apple Store &#x5546;&#x5E97;
                li
                    a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
                li
                    a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
                li
                    a.pick_1(href='') Today at Apple
                li
                    a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
                li
                    a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
                li
                    a.pick_1(href='') Apple Store App
                li
                    a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
                li
                    a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                li
                    a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
                li
                    a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
                li
                    a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
        .last
            ul.ul_2
                li
                    span.te2 &#x6559;&#x80B2;&#x5E94;&#x7528;
                li
                    a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
                li
                    a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
                li
                    a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
                li
                    a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;
                li
                    a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
        .last
            ul.ul_2
                li
                    span.te8 &#x8D26;&#x6237;
                li
                    a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684; Apple ID
                li
                    a.pick_1(href='') Apple Store &#x8D26;&#x6237;
                li
                    a.pick_1(href='') iCloud.com
                li
                    a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
                li
                    a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
                li
                    a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
                li
                    a.pick_1(href='') &#x9690;&#x79C1;
                li
                    a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
        .last
            ul.ul_2
                li
                    span.te8 &#x5173;&#x4E8E; Apple
                li
                    a.pick_1(href='') Newsroom
                li
                    a.pick_1(href='') Apple &#x7BA1;&#x7406;&#x5C42;
                li
                    a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
                li
                    a.pick_1(href='') &#x521B;&#x9020;&#x5C31;&#x4E1A;
                li
                    a.pick_1(href='') &#x6D3B;&#x52A8;
                li
                    a.pick_1(href='') &#x8054;&#x7CFB; Apple
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
                li
                    span.none
                        | none
                        span
    br
    br
    br
    span.te1
        | &#x66F4;&#x591A;&#x9009;&#x8D2D;&#x65B9;&#x5F0F;&#xFF1A;&#x67E5;&#x627E;&#x4F60;&#x9644;&#x8FD1;&#x7684; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53CA;&#x66F4;&#x591A;&#x95E8;&#x5E97;&#xFF0C;&#x6216;&#x8005;&#x81F4;&#x7535; 400-666-8800&#x3002;
        span
            hr
            span.te1
                | Copyright &copy; 2019 Apple Inc. &#x4FDD;&#x7559;&#x6240;&#x6709;&#x6743;&#x5229;&#x3002;
                span
