doctype html
head
    meta(charset='utf-8')
    title &#x5B66;&#x751F;&#x4F18;&#x60E0;
    link(href='stylesheets/xsyh.css', rel='stylesheet', type='text/css')
.top
    ul
        li
            a(href='')  Apple
        li
            a(href='http://localhost:3000/macmain')  Mac
        li
            a(href='')  iPad
        li
            a(href='')  iPhone
        li
            a(href='')  Watch
        li
            a(href='')  Music
        li
            a(href='')  &#x6280;&#x672F;&#x652F;&#x6301;
        li
            a(href='')  &#x641C;&#x7D22;
        li
            a(href='')  &#x8D2D;&#x7269;&#x8F66;
.text1
    h1
        | &#x4E3A;&#x9AD8;&#x6821;&#x751F;&#x6D3B;&#x8D2D;&#x4E70; Mac &#x6216; iPad&#xFF0C;Beats &#x8033;&#x673A;&#x642D;&#x914D;&#x5176;&#x4E2D;&#x3002;
        h1
            h2
                br
                | &#x4EE5;&#x6559;&#x80B2;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x9009;&#x8D2D;&#xFF0C;&#x8282;&NoBreak;&#x7701;&#x66F4;&#x591A;&#xFF0C;
                br
                | &#x66F4;&#x4EAB; AppleCare+ &#x516B;&#x6298;&#x4F18;&#x60E0;1&#x3002;
                h2
                    img.img1(src='images/lyp1.jpg')
                    div
                        .text2
                            | &#x4EE5;&#x6559;&#x80B2;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x9009;&#x8D2D; Mac&#xFF0C;&#x6700;&#x591A;&#x53EF;&#x7701; RMB 1,600&#x3002;
                            | Beats Studio3 Wireless &#x5934;&#x6234;&#x5F0F;&#x8033;&#x673A;&#x642D;&#x914D;&#x5176;&#x4E2D;&#xFF0C;&#x66F4;&#x4EAB;&#x4F17;&#x591A;&#x6298;&#x6263;2&#x3002;
                        .img2
                            img(src='images/lyp2.jpg')
                    div
                        .img3
                            img(src='images/lyp3.jpg')
                            br
                            | &#x65B0;&#x6B3E;
                            br
                            | MacBook Air
                            br
                            | RMB 8099&#x8D77;
                        .img4
                            img(src='images/lyp4.jpg')
                            br
                            | &#x65B0;&#x6B3E;
                            br
                            | 13&#x82F1;&#x5BF8;Macbook Pro
                            br
                            | RMB 9199&#x8D77;
                        .img5
                            img(src='images/lyp5.jpg')
                            br
                            br
                            | MacBook Pro
                            br
                            | RMB 16999&#x8D77;
                        .img6
                            img(src='images/lyp6.jpg')
                            br
                            | &#x65B0;&#x6B3E;
                            br
                            | iMac
                            br
                            | RMB 8004&#x8D77;
                        .img7
                            img(src='images/lyp7.jpg')
                            br
                            br
                            | iMac Pro
                            br
                            | RMB 35047&#x8D77;
                        .text3
                            | &#x8BA9;&#x624B;&#x4E2D;&#x7684;&#x7535;&#x8111;&#xFF0C;&#x53D8;&#x8EAB;&#x6210;&#x671D;&#x601D;&#x66AE;&#x60F3;&#x7684; Mac3&#x3002;
                            br
                            h6
                                | &#x901A;&#x8FC7; Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;&#xFF0C;&#x7528;&#x4F60;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x7535;&#x8111;&#x6362;&#x8D2D;&#x65B0; Mac&#xFF0C;&#x53EF;&#x4EAB;&#x53D7;&#x6298;&#x62B5;&#x4F18;&#x60E0;&#x3002;
                                | &#x5982;&#x679C;&#x4F60;&#x7684;&#x7535;&#x8111;&#x4E0D;&#x7B26;&#x5408;&#x6298;&#x62B5;&#x6362;&#x8D2D;&#x6761;&#x4EF6;&#xFF0C;&#x6211;&#x4EEC;&#x5C06;&#x514D;&#x8D39;&#x4E3A;&#x4F60;&#x8FDB;&#x884C;&#x56DE;&#x6536;&#x5904;&#x7406;&#x3002;
                                h6
                        .img8
                            img(src='images/lyp8.jpg', height='80px')
                            br
                            br
                            | Mac&#x673A;&#x578B;&#x6BD4;&#x8F83;
                        .img9
                            img(src='images/lyp9.jpg', height='80px')
                            br
                            br
                            | &#x9009;&#x8D2D;Mac&#x65F6;&#x9700;&#x8981;&#x5E2E;&#x52A9;&#xFF1F;
                        .text4
                            | &#x4EE5;&#x6559;&#x80B2;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x9009;&#x8D2D; iPad&#xFF0C;&#x6700;&#x591A;&#x53EF;&#x7701; RMB 389&#x3002;
                            | Beats Studio3 Wireless &#x5934;&#x6234;&#x5F0F;&#x8033;&#x673A;&#x642D;&#x914D;&#x5176;&#x4E2D;&#xFF0C;&#x66F4;&#x4EAB;&#x4F17;&#x591A;&#x6298;&#x6263;2&#x3002;
                        .img10
                            img(src='images/lyp10.jpg')
                    div
                        .img11
                            img(src='images/lyp11.jpg')
                            br
                            | iPad Pro
                            br
                            | RMB 5941&#x8D77;
                        .img12
                            img(src='images/lyp12.jpg')
                            br
                            | iPad air
                            br
                            | RMB 3701&#x8D77;
                        .img13
                            img(src='images/lyp13.jpg')
                            br
                            | Apple Pencil
                            br
                            | RMB 645&#x8D77;
                        .img14
                            img(src='images/lyp14.jpg')
                            br
                            | &#x667A;&#x80FD;&#x952E;&#x76D8;
                            br
                            | RMB 1243&#x8D77;
                    .text6
                        | &#x8BA9;&#x624B;&#x4E2D;&#x7684;&#x5E73;&#x677F;&#xFF0C;&#x53D8;&#x8EAB;&#x6210;&#x68A6;&#x5BD0;&#x4EE5;&#x6C42;&#x7684; iPad3&#x3002;
                        br
                        | &#x901A;&#x8FC7; Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;&#xFF0C;&#x7528;&#x4F60;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684;&#x5E73;&#x677F;&#x7535;&#x8111;&#x6362;&#x8D2D;&#x65B0; iPad&#xFF0C;&#x53EF;&#x4EAB;&#x53D7;&#x6298;&#x62B5;&#x4F18;&#x60E0;&#x3002;
                        | &#x9;   &#x5982;&#x679C;&#x4F60;&#x7684;&#x5E73;&#x677F;&#x7535;&#x8111;&#x4E0D;&#x7B26;&#x5408;&#x6298;&#x62B5;&#x6362;&#x8D2D;&#x6761;&#x4EF6;&#xFF0C;&#x6211;&#x4EEC;&#x5C06;&#x514D;&#x8D39;&#x4E3A;&#x4F60;&#x8FDB;&#x884C;&#x56DE;&#x6536;&#x5904;&#x7406;&#x3002;
                    .img8
                        img(src='images/lyp25.jpg', height='80px')
                        br
                        br
                        | iPad&#x673A;&#x578B;&#x6BD4;&#x8F83;
                    .img9
                        img(src='images/lyp9.jpg', height='80px')
                        br
                        br
                        | &#x9009;&#x8D2D;iPad&#x65F6;&#x9700;&#x8981;&#x5E2E;&#x52A9;&#xFF1F;
                    .img26
                        img(src='images/lyp26.png')
                        span
                            br
                            | Apple Pro App &#x5957;&#x88C5;
                            br
                            | &#x4E13;&#x4E1A;&#x5DE5;&#x5177;&#xFF0C;
                            br
                            | &#x4E13;&#x6709;&#x5B66;&#x751F;&#x4F18;&#x60E0;&#x4EF7;4&#x3002;
                            br
                            |  Pro App &#x6559;&#x80B2;&#x5957;&#x88C5;&#xFF0C;&#x52A9;&#x4F60;&#x7684;&#x9879;&#x76EE;&#x8FC8;&#x5165;&#x65B0;&#x5883;&#x754C;&#x3002;
                        .img27
                            img(src='images/lyp27.png')
                            span
                                br
                                | Apple Music Icon
                                br
                                | &#x4E0A;&#x5343;&#x4E07;&#x9996;&#x6B4C;&#x66F2;&#xFF0C; &#x4E09;&#x4E2A;&#x6708;&#x514D;&#x8D39;&#x8046;&#x542C;5&#x3002;
                                br
                                |  3 &#x4E2A;&#x6708;&#x514D;&#x8D39;&#x8BD5;&#x7528; Apple Music &#x8BA2;&#x9605;&#x670D;&#x52A1;5&#xFF0C;
                                br
                                | &#x8BD5;&#x7528;&#x7ED3;&#x675F;&#x540E;&#x8FD8;&#x53EF;&#x4EAB;&#x53D7;&#x5B66;&#x751F;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#xFF0C;&#x6BCF;&#x6708;&#x4EC5;&#x9700; RMB 54&#x3002;
                            .lunbo
                                .lb2
                                    img(src='images/lyp16.png')
                                    img(src='images/lyp17.png')
                                    img(src='images/lyp18.png')
                                    img(src='images/lyp19.png')
                                    img(src='images/lyp20.png')
                                    img(src='images/lyp21.png')
                                    img(src='images/lyp22.png')
                                    img(src='images/lyp23.png')
                                    img(src='images/lyp24.png')
                                .text8
                                    span
                                        p(align='left')
                                            br
                                            | 1.Apple &#x6559;&#x80B2;&#x4F18;&#x60E0;&#x4EF7;&#x683C;&#x3002;&#x9762;&#x5411;&#x5728;&#x8BFB;&#x4EE5;&#x53CA;&#x65B0;&#x5F55;&#x53D6;&#x7684;&#x9AD8;&#x6821;&#x5B66;&#x751F;&#x53CA;&#x5176;&#x5BB6;&#x957F;&#xFF0C;&#x4EE5;&#x53CA;&#x5404;&#x5E74;&#x7EA7;&#x6559;&#x5E08;&#x3001;&#x6559;&#x804C;&#x5458;&#x5DE5;&#x3002;&#x8D2D;&#x4E70;&#x6570;&#x91CF;&#x6709;&#x9650;&#x5236;&#x3002;
                                            | &#x8BF7;&#x67E5;&#x770B;&#x9500;&#x552E;&#x548C;&#x9000;&#x6B3E;&#x653F;&#x7B56;&#xFF0C;&#x4E86;&#x89E3;&#x5B8C;&#x6574;&#x7684;&#x6761;&#x6B3E;&#x548C;&#x6761;&#x4EF6;&#x3002;
                                            br
                                            | 2.&#x6709;&#x8D44;&#x683C;&#x7684;&#x8D2D;&#x4E70;&#x4EBA;&#x5728;&#x8D2D;&#x4E70;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x7684; Mac &#x6216; iPad&#xFF0C;&#x5E76;&#x642D;&#x914D;&#x4E00;&#x526F; Beats Studio3 Wireless &#x5934;&#x6234;&#x5F0F;&#x8033;&#x673A;&#x3001;
                                            br
                                            | Beats Solo3 Wireless &#x5934;&#x6234;&#x5F0F;&#x8033;&#x673A;&#x6216;&#x8005; BeatsX &#x5165;&#x8033;&#x5F0F;&#x8033;&#x673A;&#x65F6;&#xFF0C;&#x53EF;&#x4EAB;&#x4F18;&#x60E0;&#x4FC3;&#x9500;&#x91D1;&#x989D;&#x3002;&#x53C2;&#x52A0;&#x4FC3;&#x9500;&#x6D3B;&#x52A8;&#x9700;&#x9075;&#x5B88;&#x6B64;&#x5904;&#x5217;&#x51FA;&#x7684;&#x6761;&#x6B3E;&#x548C;&#x6761;&#x4EF6;&#x3002;
                                            br
                                            | 3.&#x5B9E;&#x9645;&#x6298;&#x62B5;&#x4EF7;&#x503C;&#x5C06;&#x53D6;&#x51B3;&#x4E8E;&#x8BBE;&#x5907;&#x7684;&#x72B6;&#x51B5;&#x3001;&#x914D;&#x7F6E;&#x53CA;&#x5236;&#x9020;&#x5E74;&#x4EFD;&#x3002;&#x5E74;&#x6EE1; 18 &#x5468;&#x5C81;&#x53CA;&#x4EE5;&#x4E0A;&#x8005;&#x624D;&#x80FD;&#x4EAB;&#x53D7;&#x6B64;&#x9879;&#x6298;&#x62B5;&#x6362;&#x8D2D;&#x670D;&#x52A1;&#x3002;
                                            br
                                            | &#x5E76;&#x975E;&#x6240;&#x6709;&#x8BBE;&#x5907;&#x90FD;&#x7B26;&#x5408;&#x6298;&#x62B5;&#x6362;&#x8D2D;&#x6761;&#x4EF6;&#x3002;Apple &#x7684; iPhone&#x3001;iPad&#x3001;Mac &#x548C; Apple Watch &#x6298;&#x62B5;&#x670D;&#x52A1;&#x5408;&#x4F5C;&#x4F19;&#x4F34;&#x5C06;&#x63D0;&#x4F9B;&#x5173;&#x4E8E;&#x7B26;&#x5408;&#x6761;&#x4EF6;&#x8BBE;&#x5907;&#x7684;&#x6298;&#x62B5;&#x4E0E;&#x56DE;&#x6536;&#x7684;&#x66F4;&#x591A;&#x8BE6;&#x7EC6;&#x4FE1;&#x606F;&#x3002;
                                            br
                                            | &#x53EF;&#x80FD;&#x9700;&#x8981;&#x9075;&#x5FAA;&#x9650;&#x5B9A;&#x6761;&#x6B3E;&#x548C;&#x6761;&#x4EF6;&#x3002;&#x6240;&#x652F;&#x4ED8;&#x91D1;&#x989D;&#x57FA;&#x4E8E;&#x6240;&#x6536;&#x5230;&#x7684;&#x8BBE;&#x5907;&#x72B6;&#x51B5;&#x4E0E;&#x5728;&#x4F30;&#x7B97;&#x6298;&#x62B5;&#x4EF7;&#x503C;&#x65F6;&#x4F60;&#x6240;&#x63D0;&#x4F9B;&#x7684;&#x63CF;&#x8FF0;&#x662F;&#x5426;&#x76F8;&#x7B26;&#x3002;
                                            br
                                            | Apple &#x4FDD;&#x7559;&#x51FA;&#x4E8E;&#x4EFB;&#x4F55;&#x539F;&#x56E0;&#x62D2;&#x7EDD;&#x6216;&#x9650;&#x5236;&#x4EFB;&#x4F55;&#x8BBE;&#x5907; (&#x53CA;&#x5176;&#x6570;&#x91CF;) &#x7684;&#x6743;&#x5229;&#x3002;&#x5728; Apple Store &#x96F6;&#x552E;&#x5E97;&#xFF1A;&#x8BE5;&#x670D;&#x52A1;&#x9700;&#x51FA;&#x793A;&#x653F;&#x5E9C;&#x9881;&#x53D1;&#x5E76;&#x9644;&#x6709;&#x7167;&#x7247;&#x7684;&#x6709;&#x6548;&#x8EAB;&#x4EFD;&#x8BC1;&#x4EF6; (&#x5F53;&#x5730;&#x6CD5;&#x5F8B;&#x53EF;&#x80FD;&#x8981;&#x6C42;&#x5B58;&#x50A8;&#x8BE5;&#x4FE1;&#x606F;)&#x3002;
                                            br
                                            | &#x73B0;&#x6709;&#x8BBE;&#x5907;&#x7684;&#x6298;&#x7B97;&#x4EF7;&#x503C;&#x53EF;&#x7528;&#x4E8E;&#x51B2;&#x62B5;&#x8D2D;&#x4E70;&#x65B0;&#x7684; Apple &#x8BBE;&#x5907;&#x3002;&#x8BE5;&#x670D;&#x52A1;&#x53EF;&#x80FD;&#x4EC5;&#x5728;&#x90E8;&#x5206;&#x96F6;&#x552E;&#x5E97;&#x63D0;&#x4F9B;&#x3002;&#x90E8;&#x5206; Apple Store &#x96F6;&#x552E;&#x5E97;&#x53EF;&#x80FD;&#x4F1A;&#x6709;&#x9644;&#x52A0;&#x6761;&#x4EF6;&#x3002;
                                            br
                                            | 4.&#x4EC5;&#x9650;&#x9AD8;&#x6821;&#x5B66;&#x751F;&#x3002;&#x9700;&#x8981;&#x901A;&#x8FC7;&#x9A8C;&#x8BC1;&#x3002;
                                            br
                                            | 5.&#x4EC5;&#x9650;&#x65B0;&#x8BA2;&#x9605;&#x7528;&#x6237;&#x3002;&#x4E09;&#x4E2A;&#x6708;&#x8BD5;&#x7528;&#x671F;&#x7ED3;&#x675F;&#x540E;&#xFF0C;&#x5C06;&#x6309;&#x6807;&#x51C6;&#x4EF7;&#x683C;&#x81EA;&#x52A8;&#x7EED;&#x8BA2;&#x3002;
                                    p
                                div
                                    hr
                        .last1
                            ul.ul_1
                                li
                                    span.text7 &#x9009;&#x8D2D;&#x53CA;&#x4E86;&#x89E3;
                                li
                                    a.pick_1(href='') Mac
                                li
                                    a.pick_1(href='') iPad
                                li
                                    a.pick_1(href='') iPhone
                                li
                                    a.pick_1(href='') Apple Watch/a&gt;
                                li
                                    a.pick_1(href='') Music
                                li
                                    a.pick_1(href='') itunes
                                li
                                    a.pick_1(href='') HomePod
                                li
                                    a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                                li
                                    a.pick_1(href='') Ipod touch
                                li
                                    a.pick_1(href='') &#x914D;&#x4EF6;
                            .last2
                                ul.ul_1
                                    li
                                        span.text7 Apple Store &#x5546;&#x5E97;
                                    li
                                        a.pick_1(href='') &#x67E5;&#x627E;&#x96F6;&#x552E;&#x5E97;
                                    li
                                        a.pick_1(href='') Genius Bar &#x5929;&#x624D;&#x5427;
                                    li
                                        a.pick_1(href='') Today at Apple
                                    li
                                        a.pick_1(href='') Apple &#x590F;&#x4EE4;&#x8425;
                                    li
                                        a.pick_1(href='') Field Trip &#x8BFE;&#x5916;&#x6D3B;&#x52A8;
                                    li
                                        a.pick_1(href='') Apple Store App
                                    li
                                        a.pick_1(href='') &#x7FFB;&#x65B0;&#x548C;&#x4F18;&#x60E0;
                                    li
                                        a.pick_1(href='') &#x5206;&#x671F;&#x4ED8;&#x6B3E;
                                    li
                                        a.pick_1(href='') Apple Trade In &#x6362;&#x8D2D;&#x8BA1;&#x5212;
                                    li
                                        a.pick_1(href='') &#x8BA2;&#x5355;&#x72B6;&#x6001;
                                    li
                                        a.pick_1(href='') &#x9009;&#x8D2D;&#x5E2E;&#x52A9;
                                .last3
                                    ul.ul_1
                                        li
                                            span.text7 &#x6559;&#x80B2;&#x5E94;&#x7528;
                                        li
                                            a.pick_1(href='') Apple &#x4E0E;&#x6559;&#x80B2;
                                        li
                                            a.pick_1(href='') &#x9AD8;&#x6821;&#x5E08;&#x751F;&#x9009;&#x8D2D;
                                        li
                                            a.pick_1(href='') &#x5546;&#x52A1;&#x5E94;&#x7528;
                                        li
                                            a.pick_1(href='') Apple &#x4E0E;&#x5546;&#x52A1;/a&gt;
                                        li
                                            a.pick_1(href='') &#x5546;&#x52A1;&#x9009;&#x8D2D;
                                        li
                                            span.none
                                                | none
                                                span
                                        li
                                            span.none
                                                | none
                                                span
                                        li
                                            span.none
                                                | none
                                                span
                                        li
                                            span.none
                                                | none
                                                span
                                        li
                                            span.none
                                                | none
                                                span
                                        li
                                            span.none
                                                | none
                                                span
                                    .last4
                                        ul.ul_1
                                            li
                                                span.text7 &#x8D26;&#x6237;
                                            li
                                                a.pick_1(href='') &#x7BA1;&#x7406;&#x4F60;&#x7684;Apple ID
                                            li
                                                a.pick_1(href='') Apple Store &#x8D26;&#x6237;
                                            li
                                                a.pick_1(href='') iCloud.com
                                            li
                                                a.pick_1(href='') Apple &#x4EF7;&#x503C;&#x89C2;
                                            li
                                                a.pick_1(href='') &#x8F85;&#x52A9;&#x529F;&#x80FD;
                                            li
                                                a.pick_1(href='') &#x73AF;&#x5883;&#x8D23;&#x4EFB;
                                            li
                                                a.pick_1(href='') &#x9690;&#x79C1;
                                            li
                                                a.pick_1(href='') &#x4F9B;&#x5E94;&#x5546;&#x8D23;&#x4EFB;
                                            li
                                                span.none
                                                    | none
                                                    span
                                            li
                                                span.none
                                                    | none
                                                    span
                                            li
                                                span.none
                                                    | none
                                                    span
                                        .last5
                                            ul.ul_1
                                                li
                                                    span.text7 &#x5173;&#x4E8E; Apple
                                                li
                                                    a.pick_1(href='') Apple &#x8D44;&#x8BAF;
                                                li
                                                    a.pick_1(href='') &#x5DE5;&#x4F5C;&#x673A;&#x4F1A;
                                                li
                                                    a.pick_1(href='') Newsroom
                                                li
                                                    a.pick_1(href='') &#x6D3B;&#x52A8;
                                                li
                                                    a.pick_1(href='') &#x8054;&#x7CFB; Apple
                                                li
                                                    span.none
                                                        | none
                                                        span
                                                li
                                                    span.none
                                                        | none
                                                        span
                                                li
                                                    span.none
                                                        | none
                                                        span
                                                li
                                                    span.none
                                                        | none
                                                        span
                                                li
                                                    span.none
                                                        | none
                                                        span
                                                li
                                                    span.none
                                                        | none
                                                        span
                                                li
                                                    span.none
                                                        | none
                                                        span
