#user_err{color: red;}
#pass_err{color: red;}
#pass_two_err{color: red;}
body{
    width: 1538px;
}
img{
    width: 1538px;
    position: fixed;
    right: 0px;
    bottom: 1px;
    z-index: -2;
}
form{
    color: red;
    display: inline-block;
    background:whitesmoke;
    padding-bottom: 0px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    left: 1200px;
    top: 170px;
}
.ce{
    color: blue;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    left: 140px;
    bottom: 30px;
}
p{
    color: white;
    position: absolute;
    left: 580px;
    top: 600px;
}