.macad{
	font-size: 20px;
	background: dimgray;
	height: 30px;
	width:1538px ;
	bottom: 10px;
	right: 10px;
	position:relative;
}
.gg{
	width:1538px ;
	display: inline;
}
body{
	width:1538px;
}
.mac_img{
	display: inline-block;
	height: 50px;
	width: 60px;
}
.title{
	list-style-type: none;
	display: inline;
}
.title li{
	display: inline;
	width:60px;
	margin-left: 40px;
	font-size: 6px;
	text-align: center;
}
.first{
	display: inline-block;
	width:1538px ;
	text-align: center;
}
.first_li{
	display: inline-block;
	width: 100px;
}
.text{
	display: inline-block;
}
.xin{
	color: orange;
}
.old{
	color: white;
}
.pick{
	text-decoration: none;
}
.pick:hover{
	color: blue;
}
.te1{
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width:1538px ;
	margin:0 auto;
}
.te1_white{
	display: inline-block;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	width:1538px ;
	color: white;
	margin:0 auto;
}
.te2{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width:1538px ;
	margin:0 auto;
}
.te2_orange{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width:1538px ;
	color: orange;
	float: left;
	margin:0 auto;
}
.te3{
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	width:1538px ;
	margin:0 auto;
}
.te3_white{
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	width:1538px ;
	color: white;
}
.te7{
	display: inline-block;
	font-size: 10px;
	text-align: center;
	width:1538px ;
	color: gray;
}
.first{
	display: inline-block;
	width:1538px ;
	text-align: center;
}
.second{
	background: whitesmoke;
	text-align: center;
}
.xuan{
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width:1538px ;
	color: #0000FF;
}
.xuan_middle{
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	text-align: center;
	width:759px ;
	color: #0000FF;
}
.xuan:hover{
	text-decoration: underline;
}
.big{
	display: inline-block;
	width: 1538px;
	text-align: center;
}
.middle{
	display: inline;
	width: 769px;
	text-align: center;
}
.small_1{
	display: small;
	width: 200px;
	text-align: center;
}
.small_2{
	display: small;
	width: 150px;
	text-align: center;
}
.third{
	background-image: url('../images/black.png');
}
.forth{
	width: 759px;
	text-align: center;
	background: whitesmoke;
	position:relative;
}
.forth_1{
	width: 759px;
	text-align: center;
	background-image: url(../images/accessories_for_mac_tile__1y124l6fa1ei_small.jpg);
	position:relative;
	bottom: 20px;
}
.forth_2{
	width: 759px;
	text-align: center;
	position:relative;
	background: white;
}
.forth_3{
	width: 759px;
	text-align: center;
	position:relative;
	background:black;
	right: 5px;
	position:relative;
}
.forth_4{
	width: 759px;
	text-align: center;
	position:relative;
	background:black;
	bottom: 20px;
	position:relative;
}
.forth_5{
	width: 1538px;
	text-align: center;
	position:relative;
	background-image: url(../images/business__e3o2qi6ojlaq_large.jpg);
	position:relative;
}
.te4{
	display: inline-block;
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	width:759px ;
	margin:0 auto;
}
.te5{
	display: inline-block;
	font-size: 20px;
	text-align: center;
	width:759px ;
	margin:0 auto;
}
.te6{
	display: inline-block;
	color: white;
	font-size: 15px;
	text-align: center;
	width:1538px ;
	margin:0 auto;
}
.te5_white{
	display: inline-block;
	color: white;
	font-size: 40px;
	text-align: center;
	width:759px ;
	margin:0 auto;
}
.te6_white{
	display: inline-block;
	font-size: 15px;
	color: white;
	text-align: center;
	width:769px ;
	margin:0 auto;
}
.ul_1{
	list-style-type:none ;
	display: inline;
}
.ul_1 li{
	display: inline-block;
	margin-left: 0px;
	float: left;
}
.ul_2{
	list-style-type:none ;
	display: inline;
}
.ul_2 li{
	text-align: left;
}
.fifth{
	background: white;
	text-align: center;
}
.sixth{
	background-image: url(../images/mojave__emq4cjg0jhea_large.jpg);
	text-align: center;
}
.last{
	display: inline-block;
	width:300px ;
	text-align: center;
	background: whitesmoke;
}
.pick_1{
	text-align: center;
	text-decoration: none;
	color: gray;
	font-size: 12px;
}
.pick_1:hover{
	color: blue;
}
.te8{
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	color: black;
}
.none{
	color: whitesmoke;
}

