.top ul{
  background:black;
  cursor: default;
  margin: 0 ;
  padding: 20px;
  padding-left: 250px;
  padding-right: 250px;
  width: 15000px;
  height: 44px;
  line-height: 55px;
  display: inline;
  list-style-type: none;
}
.top ul li{
  list-style-type: none;
  display: inline;
  text-align: left;
  text-decoration: none;
  width:60px;
  margin-left: 40px;
  font-size: 17px;
  text-align: center;
  color: white;
}
.top ul li a{
  text-decoration: none;color: #DCDCDC;
}
.top ul li :hover{
  color: blue;
}
.titlesize{
  width:1900px ;
  display: inline;
}
.div style{
  text-align: center;
  background: rgba(45,45,45,0.98);
  width:100%;
  height: 45px;
  text-align: center;
}
.div1{

}
.title1_style1{
  cursor: default;
  margin: 0 -10px;
  width: auto;
  height: 44px;
  line-height: 44px;
  display: inline;
  list-style-type: none;
}


.title1_style1 li{
  list-style-type: none;
  display: inline;
  text-align: left;
  text-decoration: none;
  width:60px;
  margin-left: 40px;
  font-size: 17px;
  text-align: center;
  color: white;
}
.title1_style1_li:hover{
  color: #FFFFFF;
}

.MacPro_img1{
  display: inline-block;
  height:400px ;
  width:400px;
}
.MacPro_img2{
  display: inline-block;
  height:400px;margin-right: 700px;
  width:400px;margin-top: 50px;
}
.MacPro_img3{
  display: inline-block;margin-left: 500px;
  height:400px ;margin-top: -600px;
  width:400px;
}
.MacPro_img4{
  display: inline-block;margin-left: 80px;
  height:600px ;padding-left: 300px ;
  width:700px;
}
.MacPro_img5{
  display: inline-block;margin-left: 100px;
  height:100px ;
  width:100px;
}
.MacPro_img6{
  display: inline-block;
  height:600px ;margin-left: 500px;
  width:300px;
}
.MacPro_img7{
  display: inline-block;
  height:400px ;margin-left: 100px;
  width:400px;
}
.MacPro_img8{
  display: inline-block;
  height:400px ;margin-left: 200px;
  width:400px;
}
.text{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.text1{
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: black;
}

.ul_tit1{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.ul_style2{
  background-color: #F2F2F2;
  text-align: center;
}
.ul_style2 ol{
  margin:0 auto;
  display: table;
  font-size: 10px;
  color: gray;
  text-align: left;

}
.text{
  background-color: #F2F2F2;
  text-align: center;"
}
.last{
  display: inline-block;
  width:300px ;
  text-align: center;
  background: whitesmoke;
}
.ul_2{
  list-style-type: none;
}
.pick_1{
  text-align: center;
  text-decoration: none;
  color: gray;list-style-type: none;
  font-size: 12px;
}
.pick_1:hover{
  color: blue;
}
.te8{
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: black;list-style-type: none;
}
.none{
  color: whitesmoke;list-style-type: none;
}
.ul_style2{
  margin-right: 200px;
}